<section class="slide whiteSlide" data-name="p1" data-title="p1">
  <div class="content">
    <div class="container">
      <div class="wrap">
        <div class="">
          <div class="left">
            <h3 class="ae-1 font-weight-bold">Prompt Inquiry</h3>
            <h1 class="huge ae-2 fromLeft text-blue bold">Decontruction and Reflection</h1>
          </div>
          <ul class="grid">
            <li class="col-6-12 left cell-33">
              <div class="padding-right-5">
                <h1 class="ae-2 fromLeft ae-1 bold text-teal">Who does your syllabus serve?</h1>
                <p class="ae-2 fromLeft"><span class="opacity-8">Deconstructing your syllabus in terms of who it serves entails categorizing its
                 content by audiences. Pull out your syllabus anad follow along…</span></p>
                <ol class="list decimal margin-left-5 margin-top-5 ae-2">
                  <li class="margin-bottom-3">
                    <h3 class="medium h3 ae-4">Write
                      <span class="text-teal">INSTITUTION</span>
                      next to sections required by your institution.
                    </h3>
                  </li>
                  <li class="margin-bottom-3">
                    <h3 class="medium h3 ae-4">
                      Write
                      <span class="text-teal">DEPARTMENT</span>
                      next to the sections required by your department.
                    </h3>
                  </li>
                  <li class="margin-bottom-3">
                    <h3 class="medium h3 ae-4">
                      Write <span class="text-teal">FACULTY</span> next to sections that explicate your
                       classroom rules/policies and the relationship you expect to have with students.
                     </h3>
                  </li>
                </ol>
                <div style="opacity: 0;">
                  <p>As you deconstruct your syllabus, write down your observations — ideas, a-ha's, insights — and your sensemaking.</p>
                  <p>Ask yourself: What is the process of deconstructing my syllabus helping me understand about who my syllabus serves?</p>
                </div>
              </div>
            </li>
            <li class="col-6-12 right ae-4 fromRight">
              <img class=""  data-action="zoom" width="1200" src="<%= image_url("graphics/syllabus.svg") %>"/>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(assets/img/background/img-33.jpg)"></div>
</section>
