

<section class="slide">
  <div class="content">
   <div class="container">
     <div class="wrap center">
       <ul class="fix-10-12 center">
         <li class="center">
           <h1 class="ae-2 light large fromLeft">
             <span class="normal yellow padding-right-1 padding-right-1">Reflecting</span> on your inequity observations and findings is another
             fundamental aspect of the equity-minded inquiry process.</h1>

           <h5 class="margin-top-8 uppercase semiBold margin-bottom-2 ae-8 text-yellow">next:
             <span class="opacity-5 margin-left-1 text-white"><i class="far fa-stopwatch"></i> A 5-minute exercise</span></h5>
           <h2 class="light small ae-8">Reflection on Inequity Observations</h2>
           <p class="">
             <a href="#p2" class="ae-10 center button big cell-100 rounded margin-top-3">
               I'm Ready! <i class="fad fa-long-arrow-alt-right margin-left-1"></i>
             </a>
           </p>
         </li>
       </ul>
     </div>
   </div>
 </div>
</section>


<section class="slide" data-name="p2" data-title="p2">
  <div class="content">
   <div class="container">
     <div class="wrap top">
      <ul class="flex left">
         <li class="col-12-12">
           <%= render "step5/sections/s3/title" %>
         </li>
       </ul>
       <ul class="grid left">
         <li class="col-3-12 right fromRight">
           <img class="" src="<%= image_url("graphics/my-syllabus.png") %>"/>
         </li>
         <li class="col-5-12">
           <h5 class="uppercase semiBold margin-bottom-2 text-yellow">
            <i class="far fa-stopwatch margin-right-1"></i>  5-minute exercise
          </h5>
          <h3 class="normal margin-bottom-3">Count the number of instances for each audience.</h3>
          <form class="slides-form wide" action="#" autocomplete="off">
            <ul class="flex fixedSpaces verticalCenter reverse">

              <li class="col-12-12 ae-4">
                <ul class="flex fixedSpaces verticalCenter reverse">
                  <li class="col-5-10 ae-4">
                    <span class="h3 text-teal bold">INSTITUTION</span>
                  </li>
                  <li class="col-4-10 ae-4 left">
                    <input class="wide" id="email42" type="email" name="email" placeholder="" address" required/>
                  </li>
                </ul>
              </li>
              <li class="col-12-12 ae-4">
                <ul class="flex fixedSpaces verticalCenter reverse">
                  <li class="col-5-10 ae-4">
                    <span class="h3 text-teal bold right">DEPARTMENT</span>
                  </li>
                  <li class="col-4-10 ae-4 left">
                    <input class="wide" id="email42" type="email" name="email" placeholder="" address" required/>
                  </li>
                </ul>
              </li>
              <li class="col-12-12  ae-4">
                <ul class="flex fixedSpaces verticalCenter reverse">
                  <li class="col-5-10 ae-4">
                    <span class="h3 text-teal bold left">FACULTY</span>
                  </li>
                  <li class="col-4-10 ae-4 left">
                    <input class="wide" id="email42" type="email" name="email" placeholder="" address" required/>
                  </li>
                </ul>
              </li>
            </ul>
          </form>
         </li>
         <li class="col-4-12">
           <div class="col-12-12 ae-2 cell-100 rounded margin-bottom-2 padding-3">
             <h5 class="uppercase semiBold margin-bottom-1  ae-2"><i class="far fa-pen-square"></i> take notes</h5>
             <p class="small ae-2 normal opacity-5">As you deconstruct your syllabus, write down your observations — ideas, a-ha's, insights — and your sensemaking.</p>
             <br/>
             <h5 class="uppercase semiBold margin-bottom-1  ae-2"><i class="far fa-stopwatch"></i> 1-minute reflection</h5>
             <p class="small ae-2 normal opacity-5">
               What is the process of deconstructing my syllabus helping me understand about who my syllabus serves?
             </p>
            </div>
          </li>
        </ul>
     </div>
   </div>
 </div>
</section>
