

<section class="slide">
  <div class="content">
   <div class="container">
     <div class="wrap top">
      <ul class="flex left">
         <li class="col-12-12">
           <%= render "step5/sections/s3/title" %>
         </li>
       </ul>
       <ul class="grid left">
         <li class="col-5-12">
           <h3 class="big bold margin-bottom-8 ae-3 text-teal">Who does your syllabus serve?</h3>
           <ol class=" ae-2 list decimal margin-left-5 margin-top-2 margin-bottom-5">
             <li class="margin-bottom-3">
               <h3 class="medium h3">Write
                 <span class="text-teal bold">INSTITUTION</span>
                 next to sections required by your institution.
               </h3>
             </li>
             <li class="margin-bottom-3">
               <h3 class="medium h3">
                 Write
                 <span class="text-teal bold">DEPARTMENT</span>
                 next to the sections required by your department.
               </h3>
             </li>
             <li class="margin-bottom-3">

               <h3 class="medium h3">
                 Write <span class="text-teal bold">FACULTY</span> next to sections that explicate your
                  classroom rules/policies and the relationship you expect to have with students.
                </h3>
             </li>
           </ol>

           <h5 class="uppercase semiBold text-yellow margin-bottom-1 ae-1"><i class="far fa-pen-square"></i> take notes</h5>
           <p class="ae-1">As you deconstruct your syllabus, write down your observations — ideas, a-ha's, insights — and your sensemaking.</p>
           <h5 class="uppercase semiBold text-yellow margin-bottom-1 ae-1"><i class="far fa-stopwatch"></i> 1-minute reflection</h5>
           <p class="ae-2">
             What is the process of deconstructing my syllabus helping me understand about who my syllabus serves?
           </p>

           <!-- <ul class="flex">
             <li class="col-8-12 left middle">
               <h6 class="ae-4 text-teal">NEXT UP</h6>
               <h3 class="ae-4 margin-top-1">
                 <%= link_to s5_4_path do %>
                   "Reflecting..."
                  <% end %>
               </h3>
             </li>
             <li class="col-3-12 left right">
               <img class="ae-4" width="605" src="<%= image_url("graphics/exercise-break.png") %>" alt="iPhones Thumbnail" data-action="zoom"/>
             </li>
           </ul>  -->
         </li>
         <li class="col-5-12 right ae-4 fromRight">
           <img class="margin-top-5 margin-left-5"  data-action="zoom" width="1200" src="<%= image_url("graphics/syllabus.svg") %>"/>
         </li>
      </ul>
     </div>
   </div>
 </div>
</section>
