
<section class="slide" data-name="p2" data-title="p2">
  <div class="content">
   <div class="container">
     <div class="wrap top">
      <ul class="flex left">
         <li class="col-12-12">
           <%= render "step5/sections/s3/title" %>
         </li>
       </ul>
       <ul class="grid left">
         <li class="col-3-12 right fromRight">
           <img class="" src="<%= image_url("graphics/my-syllabus.png") %>"/>
         </li>
         <li class="col-5-12">
           <h5 class="uppercase semiBold margin-bottom-2 text-yellow">
            <i class="far fa-stopwatch margin-right-1"></i>  5-minute exercise
          </h5>
          <h3 class="normal margin-bottom-3">Scan your syllabus again. Where did each audience appear<br/> with more frequency? </h3>
          <form class="slides-form wide ae-6" action="#" autocomplete="off">


          <ul class="grid center padding-1 rounded" style="background:  #333;">
            <li class="col-3-12"><h3 class="left text-teal bold margin-top-1">INSTITUTION</h3></li>
            <li class="col-3-12">
              <h3 class="h3">Beginning</h3>
              <input type="radio" id="1" name="1" value="1">
            </li>
            <li class="col-2-12">
              <h3 class="h3">Middle</h3>
              <input type="radio" id="1" name="1" value="1">
            </li>
            <li class="col-2-12">
              <h3 class="h3">End</h3>
              <input type="radio" id="1" name="1" value="1">
            </li>
          </ul>

          <ul class="grid center padding-1 rounded" style="background:  #333;">
            <li class="col-3-12"><h3 class="left text-teal bold margin-top-1">DEPARTMENT</h3></li>
            <li class="col-3-12">
              <h3 class="h3">Beginning</h3>
              <input type="radio" id="5" name="5" value="5">
            </li>
            <li class="col-2-12">
              <h3 class="h3">Middle</h3>
              <input type="radio" id="5" name="5" value="5">
            </li>
            <li class="col-2-12">
              <h3 class="h3">End</h3>
              <input type="radio" id="5" name="5" value="5">
            </li>
          </ul>

          <ul class="grid center padding-1 rounded" style="background:  #333;">
            <li class="col-3-12"><h3 class="left text-teal bold margin-top-1">FACULTY</h3></li>
            <li class="col-3-12">
              <h3 class="h3">Beginning</h3>
              <input type="radio" id="7" name="7" value="7">
            </li>
            <li class="col-2-12">
              <h3 class="h3">Middle</h3>
              <input type="radio" id="7" name="7" value="7">
            </li>
            <li class="col-2-12">
              <h3 class="h3">End</h3>
              <input type="radio" id="7" name="7" value="7">
            </li>
          </ul>

          </form>
         </li>
         <li class="col-4-12">
           <div class="col-12-12 ae-2 cell-100 rounded margin-bottom-2 padding-3">
             <h5 class="uppercase semiBold margin-bottom-1  ae-2"><i class="far fa-pen-square"></i> take notes</h5>
             <p class="small ae-2 normal opacity-5">As you deconstruct your syllabus, write down your observations — ideas, a-ha's, insights — and your sensemaking.</p>
             <br/>
             <h5 class="uppercase semiBold margin-bottom-1  ae-2"><i class="far fa-stopwatch"></i> 1-minute reflection</h5>
             <p class="small ae-2 normal opacity-5">
               What is the process of deconstructing my syllabus helping me understand about who my syllabus serves?
             </p>
            </div>
          </li>
        </ul>
     </div>
   </div>
 </div>
</section>
