<section class="slide">
  <div class="content">
   <div class="container">
     <div class="wrap top">
      <ul class="flex left">
         <li class="col-12-12">
           <%= render "step5/sections/s3/title" %>
         </li>
       </ul>
       <ul class="grid left">
         <li class="col-5-12">
           <p>Reflecting on your inequity observations and findings is another fundamental aspect of equity-minded inquiry process.</p>
           <p class="bold">1. Count the number of instances for each audience.</p>
           <form class="slides-form wide" action="#" autocomplete="off">
             <ul class="flex fixedSpaces verticalCenter reverse">

               <li class="col-12-12 ae-4">
                 <ul class="flex fixedSpaces verticalCenter reverse">
                   <li class="col-5-10 ae-4">
                     <span class="h3 text-teal bold">INSTITUTION</span>
                   </li>
                   <li class="col-4-10 ae-4 left">
                     <input class="wide" id="email42" type="email" name="email" placeholder="" address" required/>
                   </li>
                 </ul>
               </li>
               <li class="col-12-12 ae-4">
                 <ul class="flex fixedSpaces verticalCenter reverse">
                   <li class="col-5-10 ae-4">
                     <span class="h3 text-teal bold right">DEPARTMENT</span>
                   </li>
                   <li class="col-4-10 ae-4 left">
                     <input class="wide" id="email42" type="email" name="email" placeholder="" address" required/>
                   </li>
                 </ul>
               </li>
               <li class="col-12-12  ae-4">
                 <ul class="flex fixedSpaces verticalCenter reverse">
                   <li class="col-5-10 ae-4">
                     <span class="h3 text-teal bold left">FACULTY</span>
                   </li>
                   <li class="col-4-10 ae-4 left">
                     <input class="wide" id="email42" type="email" name="email" placeholder="" address" required/>
                   </li>
                 </ul>
               </li>
             </ul>
           </form>
         </li>
         <li class="col-5-12 right ae-4 fromRight">
           <img class="margin-top-5 margin-left-5"  data-action="zoom" width="1200" src="<%= image_url("graphics/syllabus.svg") %>"/>
         </li>
      </ul>
     </div>
   </div>
 </div>
</section>
