<section class="slide">
  <div class="content">
   <div class="container">
     <div class="wrap top">
      <ul class="flex left">
         <li class="col-12-12">
           <%= render "step5/sections/s3/title" %>
         </li>
       </ul>
       <ul class="grid left">
         <li class="col-5-12">
           <h3 class="big bold margin-bottom-8 ae-3 text-teal">Who does your syllabus serve?</h3>
           <h3 class="big margin-bottom-4 ae-4">2. Scan your syllabus again. Where did each audience appear with more frequency?</h3>
           <form class="slides-form wide ae-6" action="#" autocomplete="off">
             <ul class="flex fixedSpaces verticalCenter">
               <li class="col-3-10">
                 <span class="h3 text-teal">INSTITUTION</span>
               </li>
               <li class="col-6-10 left">
                 <a href="#" class="button white">End</a>
                 <a href="#" class="button white">Middle</a>
                 <a href="#" class="button white">Beginning</a>
               </li>
             </ul>
             <ul class="flex fixedSpaces verticalCenter">
               <li class="col-3-10">
                 <span class="h3 text-teal">DEPARTMENT</span>
               </li>
               <li class="col-6-10 left">
                 <a href="#" class="button white">End</a>
                 <a href="#" class="button white">Middle</a>
                 <a href="#" class="button white">Beginning</a>
               </li>
             </ul>
             <ul class="flex fixedSpaces verticalCenter">
               <li class="col-3-10">
                 <span class="h3 text-teal">FACULTY</span>
               </li>
               <li class="col-6-10 left">
                 <a href="#" class="button white">End</a>
                 <a href="#" class="button white">Middle</a>
                 <a href="#" class="button white">Beginning</a>
               </li>
             </ul>
           </form>
         </li>
         <li class="col-5-12 right ae-4 fromRight">
           <img class="margin-top-5 margin-left-5"  data-action="zoom" width="1200" src="<%= image_url("graphics/syllabus.svg") %>"/>
         </li>
      </ul>
     </div>
   </div>
 </div>
</section>
