
<section class="slide">
  <div class="content">
   <div class="container">
     <div class="wrap top">
      <ul class="flex left">
         <li class="col-12-12">
           <%= render "step5/sections/s3/title" %>
         </li>
       </ul>
       <ul class="grid left">
         <li class="col-3-12 right fromRight">
           <img class="" src="<%= image_url("graphics/my-syllabus.png") %>"/>
         </li>
         <li class="col-5-12">
           <h5 class="uppercase semiBold margin-bottom-2 text-yellow">
            <i class="far fa-stopwatch margin-right-1"></i>  5-minute exercise
          </h5>

          <ul class="grid left padding-1 rounded">
            <li class="col-12-12">
              <h2>1. Reflect on the notes you made in your syllabus about the audiences being served. How would you describe what you found?</h2>
            </li>
            <li class="col-12-12">
              <h2>2. Drawing on your response from prompt #1, are any of the patterns you found suprising to you? Why or why not?</h2>
            </li>
          </ul>
         </li>
         <li class="col-4-12">
           <div class="col-12-12 ae-2 cell-100 rounded margin-bottom-2 padding-3">
             <h5 class="uppercase semiBold margin-bottom-1  ae-2"><i class="far fa-stopwatch"></i>reflection</h5>
             <p class="hero ae-2 text-yellow">
               Based on these patterns, for whom would you say your syllabus is written? Does this match your prior thinking?</p>
            </div>
          </li>
        </ul>
     </div>
   </div>
 </div>
</section>
