
<section class="slide">
  <div class="content">
   <div class="container">
     <div class="wrap top">
      <ul class="flex left">
         <li class="col-12-12">
           <%= render "step5/sections/s3/title" %>
         </li>
       </ul>
       <ul class="grid left">
         <li class="col-3-12 right fromRight">
           <img class="" src="<%= image_url("graphics/my-syllabus.png") %>"/>
         </li>
         <li class="col-5-12">
           <h5 class="uppercase semiBold margin-bottom-2 text-yellow">
            <i class="far fa-stopwatch margin-right-1"></i>  5-minute exercise
          </h5>
          <h3 class="normal margin-bottom-3">Are any of these patterns surprising to you?</h3>
          <form class="slides-form wide ae-6" action="#" autocomplete="off">


          <ul class="grid center padding-1 rounded" style="background:  #2e2e2e;">
            <li class="col-3-12">
              <h3 class="h3 semiBold">INSTITUTION</h3>
              <h3 class="teal semiBold rounded">5</h3>
            </li>
            <li class="col-3-12">
              <h3 class="h3 semiBold">DEPARTMENT</h3>
              <h3 class="teal semiBold rounded">5</h3>
            </li>
            <li class="col-3-12">
              <h3 class="h3 semiBold">FACULTY</h3>
              <h3 class="teal semiBold rounded">5</h3>
            </li>
          </ul>

          <ul class="grid center padding-1 rounded" style="background:  #2e2e2e;">
            <li class="col-3-12">
              <h3 class="h3 semiBold">INSTITUTION</h3>
              <h4 class="teal semiBold padding-1 rounded">Beginning</h4>
            </li>
            <li class="col-3-12">
              <h3 class="h3 semiBold">DEPARTMENT</h3>
              <h4 class="teal semiBold padding-1 rounded">End</h4>
            </li>
            <li class="col-3-12">
              <h3 class="h3 semiBold">FACULTY</h3>
              <h4 class="teal semiBold padding-1 rounded">Middle</h4>
            </li>
          </ul>

          </form>
         </li>
         <li class="col-4-12">
           <div class="col-12-12 ae-2 cell-100 rounded margin-bottom-2 padding-3">
             <h5 class="uppercase semiBold margin-bottom-1  ae-2"><i class="far fa-stopwatch"></i>reflection</h5>
             <p class="hero ae-2 text-yellow">
               Based on these patterns, for whom would you say your syllabus is written? Does this match your prior thinking?</p>
            </div>
          </li>
        </ul>
     </div>
   </div>
 </div>
</section>
