
<section class="slide">
  <div class="content">
   <div class="container">
     <div class="wrap top">
      <ul class="flex left">
         <li class="col-12-12">
           <%= render "step5/sections/s3/title" %>
         </li>
       </ul>
       <ul class="grid left">
         <li class="col-3-12 right fromRight">
           <img class="" src="<%= image_url("graphics/my-syllabus.png") %>"/>
         </li>
         <li class="col-5-12">
           <h5 class="uppercase semiBold margin-bottom-2 text-yellow">
            <i class="far fa-stopwatch margin-right-1"></i>  5-minute exercise
          </h5>
          
          <ul class="grid">
            <li class="col-12-12">
              <h2>3. Based on these patterns, for whom would you say your syllabus is written? Does this match who you thought the audience for your syllabus is? (This prompt is already on the right side of the slide, but please move it over to join the other prompts listed here)?</h2>
            </li>
            <li class="col-12-12">
              <h2>4. Are there any changes you’d like to make to your syllabus based on this activity? When considering syllabus changes, which changes would you say are within your control and could be immediately implemented? Which changes would require conversations and further advocacy with your faculty peers?</h2>
            </li>
          </ul>
         </li>
         <li class="col-4-12">
           <div class="col-12-12 ae-2 cell-100 rounded margin-bottom-2 padding-3">
             <h5 class="uppercase semiBold margin-bottom-1  ae-2"><i class="far fa-stopwatch"></i>reflection</h5>
             <p class="hero ae-2 text-yellow">
               What did you learn from completing this exercise?</p>
            </div>
          </li>
        </ul>
     </div>
   </div>
 </div>
</section>
