<section class="slide">
  <div class="content">
   <div class="container">
     <div class="wrap top">
      <ul class="flex left">
         <li class="col-12-12">
           <%= render "step5/sections/s3/title" %>
         </li>
       </ul>
       <ul class="grid left">
         <li class="col-5-12">
           <h3 class="big bold margin-bottom-8 ae-3 text-teal">Who does your syllabus serve?</h3>
           <h5 class="uppercase semiBold opacity-3 margin-bottom-3 ae-1"><i class="far fa-stopwatch"></i> 1-minute reflection</h5>
           <h3 class="big ae-4">
             4. What did you learn from completing this exercise?
           </h3>
         </li>
         <li class="col-5-12 right ae-4 fromRight">
           <img class="margin-top-5 margin-left-5"  data-action="zoom" width="1200" src="<%= image_url("graphics/syllabus.svg") %>"/>
         </li>
      </ul>
     </div>
   </div>
 </div>
</section>
