
  <script>
    $(function(){
      window.autoplayInterval = setInterval(function(){
        window.changeSlide('increase');
      },5000);

      $(document).on('click mousewheel', function(){
        clearInterval(window.autoplayInterval);
      });
    });
  </script>


<body class="slides zoom horizontal noPreload animated ">


      <!-- Slide #50 -->
      <section class="slide kenBurns">
        <div class="content">
          <div class="container">
            <div class="wrap">

              <div class="fix-10-12 toCenter">
                <h2 class="ae-2 normal small margin-bottom-2">
                  <i class="fad fa-check margin-right-1"></i> <span class="opacity-3">Well Done.</span></h2>
                <h1 class="ae-3 large">Thank you for exploring the the practice of equity-mindedness.</h1>
                <h2 class="ae-8 light margin-top-5">Next, let's recap</h2>
              </div>
              <div class="fix-12-12 ae-5">
                <%= image_tag("emoji/animations/interested.gif", class: "ipad-36", style: "")%>
              </div>


            </div>
          </div>
        </div>
        <div class="background" style="background-image:url(<%= image_url("backgrounds/purple.png")%>)"></div>
      </section>

      <section class="slide kenBurns">
        <div class="content">
          <div class="container">
            <div class="wrap">

              <div class="fix-12-12 left">
                <h5 class="bold uppercase ae-2 fromLeft margin-bottom-1 opacity-3">module 3</h5>
                <h1 class=" ae-2 fromLeft left subtitle underline margin-bottom-7">
                  Learning Recap and Takeaways
                </h1>
                <h2 class="small normal margin-bottom-2 ae-2 fromLeft opacity-3">What did we learn in this section?</h2>
                <div class="fix-12-12">
                  <ul class="grid fixedSpaces equal left grid-71">
                    <li class="col-6-12 ae-3">
                      <a href="#" class="cell-71 rounded equalElement verticalCenter">
                        <h3 class="big">Lesson #1</h3>
                        <p class=" opacity-6">Equity-minded practitioners are willing to take responsibility for the success of students from minoritized racial/ethnic groups and critically assess their own beliefs and practices</p>
                      </a>
                    </li>
                    <li class="col-6-12 ae-4">
                      <a href="#" class="cell-71 rounded equalElement verticalCenter">
                        <h3 class="big">Lesson #2</h3>
                        <p class="opacity-6">Claiming not to ‘see race’, denying students’ racialized experiences, and saying that classrooms have no racial salience are actions that demonstrate a lack of equity-minded competence and undermine goals towards racial/ethnic equity.</p>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="fix-12-12 center margin-top-10">
                <%= link_to title_5_path, class: "center button blue big ae-3 circle" do %>
                  Next Section <i class="fad fa-long-arrow-alt-right margin-left-1"></i>
                <% end %>
              </div>

            </div>
          </div>
        </div>
        <div class="background" style="background-image:url(<%= image_url("backgrounds/purple.png")%>)"></div>
      </section>



</body>
