
<!-- Panel Bottom #12 -->
<nav class="panel top">
  <div class="sections desktop">
    <div class="left"></div>
    <div class="center">
      <ul class="menu uppercase">
        <li>
          <%= link_to "Section 4", title_4_path %>
        </li>
      </ul>
    </div>
    <div class="right">

    </div>
  </div>
  <div class="sections compact hidden">
    <div class="left">

    </div>
    <div class="right">

    </div>
  </div>
</nav>

<!-- Panel Bottom #08 -->
<nav class="panel bottom">
  <div class="sections">
    <div class="left"></div>
    <div class="center"><span class="nextSlide"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-down"></use></svg></span></div>
    <div class="right"></div>
  </div>
</nav>



<body class="slides plain fast noPreload animated ">
  <section class="slide whiteSlide">
 <div class="content" style="background: ;">
   <div class="container">
     <div class="wrap">

       <div class="">
         <h1 class="huge ae-1 margin-bottom-2 left  ">What is Equity-Mindedness?</h1>
         <ul class="flex reverse verticalCenter margin-top-8">

           <li class="col-12-12 left toRight">
             <ul class="grid">
               <li class="col-7-12 left ae-4 fromAbove toLeft align-left">
                 <h2 class="ae-3 left">
                   CUE uses the term equity-mindedness[1]  to refer to the mode of thinking exhibited by practitioners
                   who are willing to take responsibility for the success of historically underserved
                   student from minoritized racial/ethnic groups and to critically assess their own
                   practices as educators and/or administrators.
                 </h2>
               </li>
               <li class="col-5-12 left ae-8 fromAbove toRight align-right">
                  <%= image_tag("graphics/mind.png", class:"", style: "width: 400px;", alt:"iPad Image")%>
               </li>
               <li class="col-12-12 toRight ">

                </li>
              </ul>
           </li>
         </ul>
       </div>

     </div>
   </div>
 </div>
  </section>
  <section class="slide whiteSlide">
   <div class="content" style="background: ;">
     <div class="container">
       <div class="wrap">

         <div class="">
           <h1 class="huge margin-bottom-2 left  ">What is Equity-Mindedness?</h1>
           <ul class="flex reverse verticalCenter margin-top-8">

             <li class="col-12-12 left toRight">
               <ul class="grid">
                 <li class="col-7-12 left ae-4 fromAbove toLeft align-left">
                   <h2>Equity-minded practitioners do not solely blame students for their lack of success
                     (a deficit-minded approach), nor do they rely on racial stereotypes or biases to
                     justify or disregard inequitable outcomes.</h2>

                 </li>
                 <li class="col-5-12 left ae-8 fromAbove toRight align-right">
                    <%= image_tag("graphics/mind.png", class:"", style: "width: 400px;", alt:"iPad Image")%>
                 </li>
                 <li class="col-12-12 toRight ">

                  </li>
                </ul>
             </li>
           </ul>
         </div>

       </div>
     </div>
   </div>
  </section>
  <section class="slide whiteSlide">
   <div class="content" style="background: ;">
     <div class="container">
       <div class="wrap">

         <div class="">
           <h1 class="huge margin-bottom-2 left">What is Equity-Mindedness?</h1>
           <ul class="flex reverse verticalCenter margin-top-8">

             <li class="col-12-12 left toRight">
               <ul class="grid">
                 <li class="col-7-12 left ae-4 fromAbove toLeft align-left">
                   <h2 class="ae-3 left">
                     More specifically, equity-minded practitioners exhibit the following characteristics:
                   </h2>
                   <h2>
                     Critically race conscious;
                      Aware that practitioner beliefs, assumptions, knowledge, and approaches are racialized and can have racial consequences, typically to the disadvantage of racially minoritized students;
                      Aware that norms, policies, practices that are taken-for-granted in higher education can perpetuate racial hierarchies and inequalities, even in the absence of explicit racism;
                      Willing to reflect on racialized outcomes and exercise agency to produce racial equity.
                    </h2>
                 </li>
                 <li class="col-5-12 left ae-8 fromAbove toRight align-right">
                    <%= image_tag("graphics/mind.png", class:"", style: "width: 400px;", alt:"iPad Image")%>
                 </li>
                </ul>
             </li>
           </ul>
         </div>

       </div>
     </div>
   </div>
  </section>
</body>
