<style media="screen">
.fade-1 .content {
  background: rgba(233, 30, 99, .5) !important;
}
</style>



<body class="slides zoom horizontal noPreload animated ">

  <section class="slide fade-1 kenBurns slideWhite blue" data-name="intro" data-title="Intro">
    <div class="content">
      <div class="container">
        <div class="wrap">
          <div class="fix-10-12 margin-bottom-3">
            <h5 class="ae-2 fromLeft type-nunito margin-bottom-4 subtitle underline">section 3</h5>
            <h1 class="big margin-bottom-2 ae-3 fromLeft underline">
              What is equity-mindedness?
            </h1>
            <ul class="flex  margin-top-7">
              <li class="col-3-12">
                <h3 class="subtitle font-weight-heavy text-yellow ae-4 right">Focus</h3></li>
              <li>
              <li class="col-9-12">
                <p class="hero ae-3 left">
                  This section encourages you to reflect on your initial reactions to conversations focusing on race and racism.
                </p>
              </li>
            </ul>
          </div>
          <div class="fix-11-12">
           <%= link_to intro_3_path, class: "button blue gradient ae-3 circle margin-top-4" do %>
              <span class="h3 micro">Let's Get Started <i class="margin-left-1 fas fa-arrow-circle-right"></i></span>
           <% end %>
          </div>

        </div>
      </div>
    </div>
    <div class="background" style="background-image:url(https://www.sccpre.cat/mypng/full/145-1456885_moderate-red-curve-gradient-graphics-background-graphic.png);"></div>

  </section>

</body>


  <%= render "step1/navigation/nav" %>
