
<section class="slide kenBurns">
  <div class="content">
    <div class="container">
      <div class="wrap centers">
        <div class="fix-12-12 left">
          <h1 class="huge ae-4 center fromLeftnunito">
            What is a Syllabus Review?
          </h1>
        </div>
      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(<%= image_url("backgrounds/purple.png")%>)"></div>
</section>
