  <section class="slide kenBurnn" data-name="s1" data-title="s1">
    <div class="content">
      <div class="container">
        <div class="wrap top">
          <div class="fix-12-12 left">
            <h6 class="small font-weight-bold ae-2 fromLeft subtitle">Intro</h6>
            <!-- <h1 class="small margin-bottom-10 ae-3 left fromLeft underline padding-bottom-1">What is a Syllabus Review ?</h1> -->
            <ul class="flex  margin-top-4 ae-3">
              <li class="col-2-12 right">
                <div class="teal ae-4 center"  style="border-radius: 50%; height: 130px; width: 130px;">
                 <span class="text-white margin-top-1 center" style="line-height: 180px;">
                   <i class="fal fa-lightbulb-on h1 big"></i>
                  </span>
                </div>
              </li>
              <li class="col-9-12">
                <h1 class="big ae-5 left margin-top-1 type-nunito left">
                  The Syllabus Review tool is an <u class="text-yellow">inquiry tool</u> for promoting racial/ethnic equity and <u class="text-yellow">equity-minded</u> practice.
                </h1>
              </li>
            </ul>

            <div class="fix-3-10 margin-top-10 right">
              <a href="#s2" class="">
                <h3 class="ae-7">How does it work?
                  <i class="fal fa-arrow-circle-right margin-left-1"></i>
                </h3>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="background" style="background-image:url(<%= image_url("backgrounds/purple.png")%>)"></div>
  </section>
