
  <section class="slide teal kenBurns" data-name="s2" data-title="s2">
    <div class="content">
      <div class="container">
        <div class="wrap top">
          <div class="fix-12-12 left">
            <h6 class="small font-weight-bold ae-2 fromLeft subtitle">Intro</h6>
            <h1 class="micro margin-bottom-10 ae-3 left fromLeft" style="border-bottom: 1px solid #aaa; padding-bottom: 15px;">
              How does it work?
            </h1>
            <ul class="flex">
              <li class="col-2-12 center ae-2">
                <h1 class="huge type-nunito bold teal" style=" border-radius: 4px;">1</h1>
              </li>
              <li class="col-9-12">
                <h1 class="micro ae-3 text-yellow type-nunito subtitle bold">Inquiry</h1>
                <h3 class="small margin-bottom-2 ae-4 fromLeft left type-nunito">
                  Promotes faculty inquiry into teaching approaches and practices that affect African American, Latinx, Native American, Pacific Islander, and other racially/ ethnically minoritized students;
                </h3>
              </li>
            </ul>


            <div class="fix-3-10 margin-top-10 right">
              <a href="#s3" class="">
                <h6 class="small font-weight-bold ae-2 fromLeft subtitle">Next</h6>
                <h3 class="ae-7 type-nunito">
                  <span class="huge  bold teal margin-right-1" style=" border-radius: 4px; padding: 0 10px;">2</span>
                  Self-Assessment
                  <i class="fal fa-arrow-circle-right margin-left-1"></i>
                </h3>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="background" style=""></div>
  </section>
