<section class="slide kenBurns" data-name="s4" data-title="s4">
  <div class="content">
    <div class="container">
      <div class="wrap top">
        <div class="fix-12-12 left">
          <h6 class="small font-weight-bold ae-2 fromLeft subtitle">Intro</h6>
          <h1 class="micro margin-bottom-10 ae-3 left fromLeft" style="border-bottom: 1px solid #aaa; padding-bottom: 15px;">
            How does it work?
          </h1>
          <ul class="flex">
            <li class="col-2-12 center ae-2">
              <h1 class="huge type-nunito bold teal" style=" border-radius: 4px;">3</h1>
            </li>
            <li class="col-9-12">
              <h1 class="micro ae-3 text-yellow type-nunito subtitle bold">reflection</h1>
              <h3 class="margin-bottom-2 ae-4 fromLeft left type-nunito">
                Allows faculty to consider changes that result in more equitable teaching approaches and practices.
              </h3>
            </li>
          </ul>
          <div class="fix-3-10 margin-top-10 right">
            <%= link_to title_1_path do  %>
              <h6 class="small font-weight-bold ae-2 fromLeft subtitle">Next</h6>
              <h3 class="ae-7 type-nunito">
                Section 1
                <i class="fal fa-arrow-circle-right margin-left-1"></i>
              </h3>
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(<%= image_url("backgrounds/purple.png")%>)"></div>
</section>
