  <section class="slide fade-1 kenBurns" data-name="s1" data-title="s1">
    <div class="content">
      <div class="container">
        <div class="wrap top">
          <h1 class="micro margin-bottom-10 ae-3 left fromLeft" style="border-bottom: 1px solid #aaa; padding-bottom: 15px;">What is syllabus review?</h1>
          <ul class="flex">
            <li class="fix-12-12 center">
              <h1 class="page-title margin-bottom-2 ae-4 center fromLeft type-nunito">
                An <u class="text-orange">inquiry tool</u> for promoting racial/ethnic equity and <u class="text-orange">equity-minded</u> practice.
              </h1>
            </li>
          </ul>
          <div class="margin-top-10">
            <a href="#s2">
              <h6 class="ae-6 subtitle fromBottom">NEXT</h6>
              <br/>
              <h3 class="ae-7">How do we Acheive this Goal? <i class="fal fa-long-arrow-right margin-left-1"></i></h3>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="background" style="background-image:url(https://www.sccpre.cat/mypng/full/145-1456885_moderate-red-curve-gradient-graphics-background-graphic.png);"></div>
  </section>
