
  <section class="slide fade-1 kenBurns" data-name="s2" data-title="s2">
    <div class="content">
      <div class="container">
        <div class="wrap top">
          <h1 class="micro margin-bottom-10 ae-3 left fromLeft" style="border-bottom: 1px solid #aaa; padding-bottom: 15px;">How do we acheive this goal?</h1>
          <ol class="fix-9-12">
            <li>
              <h1 class="ae-3">1.</h1>
              <h3 class="margin-bottom-2 ae-4 fromLeft left type-nunito">
                Promotes faculty inquiry into teaching approaches and practices that affect African American, Latinx, Native American, Pacific Islander, and other racially/ ethnically minoritized students;
              </h3>
            </li>
          </ol>
          <div class="margin-top-10">
            <a href="#s3">
              <h6 class="ae-6 subtitle fromBottom">NEXT</h6>
              <br/>
              <h3 class="ae-7">How do we Acheive this Goal? <i class="fal fa-long-arrow-right margin-left-1"></i></h3>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="background" style="background-image:url(https://www.sccpre.cat/mypng/full/145-1456885_moderate-red-curve-gradient-graphics-background-graphic.png);"></div>
  </section>
