<section class="slide fade-1 kenBurns" data-name="s4" data-title="s4">
  <div class="content">
    <div class="container">
      <div class="wrap top">
        <h1 class="micro margin-bottom-10 ae-3 left fromLeft" style="border-bottom: 1px solid #aaa; padding-bottom: 15px;">How do we acheive this goal?</h1>
        <ol class="fix-9-12">
          <li>
            <h1 class="ae-3">3.</h1>
            <h3 class="margin-bottom-2 ae-4 fromLeft left type-nunito">
              Allows faculty to consider changes that result in more equitable teaching approaches and practices.

            </h3>
          </li>
        </ol>
        <div class="margin-top-10">
          <a href="#s5">
            <%= link_to "Let's Get Started", title_1_path, class: "button circle cueRed gradient ae-3 margin-right-1" %>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(https://www.sccpre.cat/mypng/full/145-1456885_moderate-red-curve-gradient-graphics-background-graphic.png);"></div>
</section>
