<section class="slide fade-1 kenBurns autoplay" data-name="s1" data-title="s1" class="slider autoplay" data-slider-interval="1000" data-slider-id="unique-id">
  <div class="content">
    <div class="container">
      <div class="wrap">
        <div class="fix-12-12 left">
          <h1 class="page-title margin-top-10 margin-bottom-10 ae-4 center fromLeftnunito">
            What is a Syllabus Review?
          </h1>
        </div>
      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(https://www.sccpre.cat/mypng/full/145-1456885_moderate-red-curve-gradient-graphics-background-graphic.png);"></div>
</section>
