<body class="slides zoom horizontal noPreload animated ">
  <!-- Slide #30 -->
  <section class="slide kenBurns">
    <div class="content">
      <div class="container">
        <div class="wrap">

          <div class="fix-12-12">

            <div class="fix-6-12 toLeft left">
              <h1 class="ae-1">What is a Syllabus Review?</h1>
              <p class="ae-2 light margin-bottom-1 toLeft"><span class="opacity-8">Problems with visual design can turn users off so quickly that they never discover all the smart choices you made with navigation or interaction&nbsp;design.</span></p>
            </div>

            <ul class="grid margin-top-4">
              <li class="col-4-12 left ae-3">
                <h1>Inquiry tool</h1>
                <p class="tiny opacity-6">An <u class="text-yellow">inquiry tool</u> for promoting racial/ethnic equity and <u class="text-yellow">equity-minded</u> practice.</p>
              </li>
              <li class="col-4-12 left ae-4">
                <h3>self-assessment</h3>
                <p class="tiny opacity-6">Designers are very fickle. I never wanted to be a victim of that.</p>
              </li>
              <li class="col-4-12 left ae-5">
                <h3>reflection/h3>
                <p class="tiny opacity-6">The details are the very source of expression in architecture.</p>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
    <div class="background" style="background-image:url(<%= image_url("backgrounds/purple.png")%>)"></div>
  </section>

</body>
