<style media="screen">
.fade-1 .content {
  background: rgba(33, 101, 131, .25) !important;
}
</style>



<body class="slides zoom horizontal noPreload animated ">

  <section class="slide fade-1 kenBurns slideWhite blue" data-name="intro" data-title="Intro">
    <div class="content">
      <div class="container">
        <div class="wrap">

          <div class="fix-12-12 left">
            <ul class="flex reverse verticalCenter">
              <li class="col-12-12 left toRight section-header">
                <h5 class="subtitle underline ae-2 fromLeft type-nunito">in this section</h5>
                <ul class="grid">
                  <li class="col-7-12 left ae-4 fromAbove toLeft align-left ">
                    <h1 class=" margin-bottom-2 ae-2 fromLeft">
                       What reactions do you have when we say we’re going to talk about racial equity
                    </h1>
                    <br/>
                    <h3 class="small margin-bottom-2 ae-2 fromLeft text-yellow">
                      <i class="far fa-clock margin-right-1"></i>  10 minute Exercise
                    </h3>
                    <br/>
                    <%= link_to "Let's Explore", s1_1_path, class: "button cueRed gradient ae-3 circle"%>
                  </li>
                  <li class="col-5-12 ae-4 fromAbove toRight">
                    <h4 class=" ae-2 fromLeft text-yellow">Outcome</h4>
                    <p class="ae-3 left">
                      A greater understanding of and comfort with the emotions initially provoked by conversations about race and racism.
                    </p>
                  </li>
                </ul>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
    <div class="background" style="background-image:url(https://www.sccpre.cat/mypng/full/145-1456885_moderate-red-curve-gradient-graphics-background-graphic.png);"></div>

  </section>

</body>
