<body class="slides zoom horizontal noPreload animated ">

  <section class="slide fade-1 kenBurns black slideWhite" data-name="intro" data-title="Intro">
    <div class="content">
      <div class="container">
        <div class="wrap">
          <div class="fix-12-12 left">
            <div class="fix-9-12 toLeft">

              <h5 class="huge margin-bottom-5 ae-1 fromLeft type-nunito">SECTION FOCUS</h5>
              <h1 class="huge margin-bottom-5 ae-1 fromLeft">What reactions do you have when we say we’re going to talk about racial equity?</h1>
              <div class="popupTrigger ae-3 fromRight relative margin-top-3" data-popup-id="86-2">
                  <span class="button play white button-86 absolute">
                    <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#play"></use></svg>
                  </span>
                  <!-- <div class="text-86"><h6 class="uppercase">Watch video</h6><p class="tiny opacity-6">See Slides Framework in action (2:00)</p></div> -->
                  <%= link_to "Let's Explore", s1_1_path, class: "button white gradient ae-3 circle"%>
                </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="background" style=""></div>
  </section>

</body>
