<style media="screen">
.fade-1 .content {
  background: rgba(33, 33, 33, .95) !important;
}
</style>



<body class="slides zoom horizontal noPreload animated ">

  <section class="slide fade-1 kenBurns slideWhite">
    <div class="content">
      <div class="container">
        <div class="wrap">

          <div class="fix-12-12 left">
            <div class="float-right ae-4 margin-top-2">
              <%= link_to title_1_path, class: "" do %>
                <i class="far fa-home h1"></i>
              <% end %>
            </div>
            <h3 class="small font-weight-bold ae-2 fromLeft section-title ">Section I</h3>
            <h5 class=" ae-2 fromLeft type-nunito left subtitle underline margin-bottom-5">
              section recap and takeaways
            </h5>
            <h2 class="margin-bottom-5 ae-2 fromLeft">Let's review what we learned in this section.</h2>
            <ul class="flex reverse verticalCenter">
              <li class="col-12-12 left toRight section-header">
                <ul class="grid">
                  <li class="col-4-12 left ae-4 fromAbove toLeft align-left ">
                    <h6 class=" ae-2 fromLeft text-yellow subtitle">Learning #1</h6>
                    <p class="ae-3 left">
                      There are a range of emotions people feel when discussing race and racism.
                    </p>
                  </li>
                  <li class="col-4-12 left ae-4 fromAbove toLeft align-left ">
                    <h6 class=" ae-2 fromLeft text-yellow subtitle">Learning #2</h6>
                    <p class="ae-3 left">
                       It’s important to identify and name the emotions you feel when conversations about race and racism occurs.
                    </p>
                  </li>
                  <li class="col-4-12 left ae-4 fromAbove toLeft align-left ">
                    <h6 class=" ae-2 fromLeft text-yellow subtitle">Learning #3</h6>
                    <p class="ae-3 left">
                      As applicable, CUE encourages you to identify the emotions you’d like to feel when conversations about race and racism emerge and to work towards that emotional goal.
                    </p>
                  </li>
                </ul>
              </li>
            </ul>
          </div>

          <div class="fix-12-12 center margin-top-5">
            <%= link_to title_2_path, class: "center button cueRed round gradient ae-3 circle" do %>
              Next Section <i class="fad fa-long-arrow-alt-right margin-left-1"></i>
            <% end %>
          </div>

        </div>
      </div>
    </div>
    <div class="background" style="background-image:url(https://www.sccpre.cat/mypng/full/145-1456885_moderate-red-curve-gradient-graphics-background-graphic.png);"></div>

  </section>

</body>
