<style media="screen">

.arrow {
  width: 550px;
  height: 550px;
  position: absolute;
  right: 10%;
  bottom: 10%;
  background-size: contain;
  opacity: .25;
  z-index: -999;
 }

.emoji-bg {
 width: 650px;
 height: 650px;
 opacity: 0;
 position: absolute;
 right: 10%;
 bottom: 10%;
 background-size: contain;
 backgroud: #fff;
 z-idex: 9999;
}

.reveal-section > .reveal {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity .1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
  }

.reveal-section:hover > .reveal {
  opacity: 1 !important;
  transition: opacity 1s ease-in-out;
  -moz-transition: opacity .1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
}




</style>

<body class="slides zoom horizontal noPreload animated">

  <nav class="panel top fixed">
    <!-- desktop version -->
    <div class="sections">
      <div class="left">
        <span class="onTop" data-tooltip="Section Home">
          <span class="white button actionButton">
            <%= link_to title_1_path do %>
              <i class="far fa-home h3"></i>
            <% end %>
          </span>
        </span>
      </div>
      <div class="center">
        <ul class="menu">
          <li>
            <%#= link_to "EQMD", title_1_path, class: "bold" %>
          </li>
        </ul>
      </div>
      <div class="right"><span class="button actionButton white sidebarTrigger" data-sidebar-id="1"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu"></use></svg></span></div>
    </div>
  </nav>


  <div class="dialogContainer bottom">
    <div class="dialog hidden" style="max-width: 1200px; height: 500px;"  data-dialog-id="dialog" data-dialog-delay="500" data-dialog-hide-delay="20000">
      <div class="dialogContent" data-dialog-action="close">

  		<div class="dialogContent">
  			<img style="height: 90px; width: auto; margin-top: 8px;" class="avatar float-left" src="https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-05-512.png">
  			<div class="text opacity-6">
          <h1 class="margin-left-2">Select an emoji to begin.<h1>
          <hr/>
        </div>

  		</div>
  	</div>
  </div>

</body>
