
<body class="slides zoom noPreload animated">

  <script>
    $(function(){
      window.autoplayInterval = setInterval(function(){
        window.changeSlide('increase');
      },5000);

      $(document).on('click mousewheel', function(){
        clearInterval(window.autoplayInterval);
      });
    });
  </script>


    <nav class="panel top fixed">
      <!-- desktop version -->
      <div class="sections">
        <div class="left">
          <%= image_tag("logos/cue-white-logo.png", class: "", style:"height: 40px; width: auto;")%>
        </div>
        <div class="center">
          <ul class="menu">
            <li>
              <%#= link_to "EQMD", title_1_path, class: "bold" %>
            </li>
          </ul>
        </div>
        <div class="right"><span class="button actionButton white sidebarTrigger" data-sidebar-id="1"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu"></use></svg></span></div>
      </div>
    </nav>

    <!-- Slide #50 -->
    <section class="slide kenBurns">
      <div class="content">
        <div class="container">
          <div class="wrap">


            <div class="fix-10-12 toCenter">
              <h2 class="ae-2 normal small margin-bottom-2">
                <i class="fad fa-check margin-right-1"></i> <span class="opacity-3">Well Done.</span></h2>
              <h1 class="ae-3 large">Thank you for exploring the reactions you feel when conversations about racial
                  equity emerge.</h1>
              <h2 class="ae-8 light margin-top-5">Next, let's recap</h2>
            </div>
            <div class="fix-12-12 ae-5">
              <%= image_tag("emoji/animations/interested.gif", class: "ipad-36", style: "")%>
            </div>


          </div>
        </div>
      </div>
      <div class="background" style="background-image:url(assets/img/background/img-50.jpg)"></div>
    </section>


    <nav class="panel bottom forceMobileView dark" style="border-top: 1px solid rgba(255, 255, 255, .20);">
      <div class="sections desktop ">
        <div class="left">
          <span class="onTop" data-tooltip="Section Home">
            <span class="white button actionButton">
              <%= link_to s1_1_path do %>
                <i class="far fa-home h4"></i>
              <% end %>
            </span>
          </span>
        </div>
        <div class="center">

        </div>
        <div class="right">
          <span class="onTop" data-tooltip="Next Page">
            <span class="white button actionButton">
              <%= link_to recap_1_path do %>
                <i class="fal fa-arrow-circle-right h3"></i>
              <% end %>
            </span>
          </span>
        </div>
      </div>
    </nav>
