<body class="slides zoom noPreload animated">
  <section class="slide kenBurns whiteSlide">
    <div class="content"  style="background: #DDFBFF;">
      <div class="container">
        <div class="wrap">

          <h1 class="big ae-1 left normal" style="
          text-decoration: underline; text-decoration-color: #3BC0D1;">
            How does it make you feel<br/>to talk about racial equity?
          </h1>



          <p>Thank you for exploring the reactions you feel when conversations about racial
            equity emerge. If you’re not there already, CUE’s goal is to help you feel comfortable
            and confident when talking about racial equity and the ways in which race and racism
            exist in our and our students’ day-to-day lives. Our goal is to also provide you with
            language and tools that will help you make sense of your classroom dynamics in a
            race-conscious way. In this module we’ll focus on reflecting on your syllabus and
            identifying the ways it already serves students from minoritized racial/ethnic
            groups and also could be better leveraged to do so in equity-minded ways.
            To start, we encourage you to think about the following prompts:
          </p>

          <ul class="list disc">
            <li>
              What life experiences have contributed to the reactions you feel when
               conversations about racial equity emerge?
            </li>
            <li>
              Do you think that your peers have similar or different reactions when
              conversations about racial equity emerge? If different, what do you think
              contributes to this difference?
            </li>
            <li>In an ideal future, what reaction would you like to have when conversations
              about racial equity emerge?
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="background" style="background-image:url('<%= image_url("backgrounds/purple.png")%>'); backgroud-position: contain;"></div>

  </section>

</body>
