<style media="screen">

.fade-7 .content {
  background: rgba(233, 30, 99, .90) !important;
}

</style>


<body class="slides zoom horizontal noPreload animated ">
  <%= render "step1/navigation/nav" %>

  <!-- Slide 1 (#78) -->
  <section class="slide fade-7 kenBurns slideWhite green">
    <div class="content">
      <div class="container">
        <div class="wrap">
          <!-- <div class="eqmd-bg">eqmd</div> -->

          <div class="fix-10-12">
            <h2 class="ae-1">Section 1</h2>
            <h1 class="huge ae-1 sub-header-1">How do you feel?</h1>

            <!-- <h1 class="big ae-1 header-1">Section 1</h1> -->
           <%= link_to "Begin Section 1", intro_1_path, class: "button blue gradient ae-3 circle"%>

          </div>

        </div>
      </div>
    </div>
    <div
    class="background"
    style="background-image:url(<%= image_url("https://media1.giphy.com/media/ItLceamnRtfUI/giphy.gif")%>);
    background-size: cover;">
  </div>
  </section>

</body>
