<body class="slides zoom horizontal noPreload animated ">
  <%= render "step1/navigation/nav" %>

  <!-- Slide 1 (#78) -->
  <section class="slide fade-6 kenBurns slideWhite" style="background: #50b6bb;">
    <div class="content">
      <div class="container">
        <div class="wrap">
          <div class="eqmd-bg">eqmd</div>

          <div class="fix-10-12">
            <h1 class="big ae-1 header-1">EQUITY-MINDEDNESS</h1>
            <h3 class="big ae-1 sub-header-1">IN THE CLASSROOM</h3>
            <br/><br/>
            <p class="hero ae-2">
              <span class="opacity-8">
                Here, we'll take a deep dive into Equity Mindedness, figure out<br/>
                 what it's all about, and how it can change your classroom forever.
             </span>
             <br/><br/>
           </p>
           <%= link_to "Begin Section 1", intro_1_path, class: "button blue gradient ae-3 circle"%>
           <div class="ae-10 fromRight margin-top-1">
             <p class="tiny"><span class="opacity-6">Also, we have a version for</span>
               <a class="bold opacity-8" href="#">Mac</a></p>

            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="background" style="background-image:url()"></div>
  </section>

</body>
