
<section class="slide" data-name="p1" data-title="p1">
  <div class="content">
    <div class="container">
      <div class="wrap">
        <div class="flex">
          <ul class="grid">
            <li class="col-6-12 left fromRight">
              <div class="" style="position: relative;">
                <img class="" style="" data-action="" src="<%= image_url("graphics/sections/6/page_1/syllabi/0.png")%>" alt="iPad Image"/>

              </div>
            </li>
            <li class="col-6-12 left">
              <a href="#p1c">
                <img class="ae-1" style="" data-action="" src="<%= image_url("graphics/sections/6/page_5/insight/1.png")%>" alt="iPad Image"/>
              </a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(<%= image_url("graphics/sections/6/background.png")%>);"></div>
</section>
