
<!-- <div class="panel" style="position: absolute; bottom: 150px;" >
  <div class="center"><nav class="medium"><div class="navigation"><ul></ul></div></nav></div>
</div> -->
<nav class="panel bottom forceMobileView dark" style="border-top: 1px solid rgba(255, 255, 255, .20);">
  <div class="sections desktop ">
    <div class="left">
      <span class="onTop" data-tooltip="Section Home">
        <span class="white button actionButton">
          <%= link_to s1_1_path do %>
            <i class="far fa-home h4"></i>
          <% end %>
        </span>
      </span>
    </div>
    <div class="center">
      <%= render "step1/navigation/emoji_menu" %>
    </div>
    <div class="right">
      <span class="onTop" data-tooltip="Next Page">
        <span class="white button actionButton">
          <%= link_to s1_3_path do %>
            <i class="fal fa-arrow-circle-right h3"></i>
          <% end %>
        </span>
      </span>
    </div>
  </div>
</nav>
