<ul class="flex center">
  <li class="col-12-12 left padding-left-phablet-0 margin-top-phablet-3 bottom">
    <ul class="flex later flex-slide-100">
      <li class="col-3-12 ae-3 teal cell-100 margin-bottom-2 opacity-2">
        <a href="#" class="item-100">
          <p class="bold text-yellow normal micro opacity-6 margin-bottom-1"><i class="fas fa-question-circle"></i><span class="date-small">&nbsp;&nbsp;Part I: Focus</span></p>
          <h3 class="big">1. Why Focus on Syllabi?</h3>
        </a>
      </li>
      <li class="col-3-12 ae-3 teal cell-100 margin-bottom-2 opacity-2">
        <a href="#" class="item-100">
          <p class="bold text-yellow normal micro opacity-6 margin-bottom-1"><i class="fas fa-question-circle"></i><span class="date-small">&nbsp;&nbsp;Part II: Inquiry</span></p>
          <h3 class="">2. Why Inquire into Syllabi?</h3>
        </a>
      </li>
      <li class="col-3-12 ae-3 teal cell-100 margin-bottom-2 opacity-2">
        <a href="#" class="item-100">
          <p class="bold text-yellow normal micro opacity-6 margin-bottom-1"><i class="fas fa-question-circle"></i><span class="date-small">&nbsp;&nbsp;Part III: Racial Equity</span></p>
          <h3 class="">3. What do Syllabi have to do with <span class="margin-left-2">Racial Equity?</span></h3>
        </a>
      </li>
      <li class="col-3-12 ae-3 teal cell-100 margin-bottom-2">
        <a href="#" class="item-100">
          <p class="bold text-yellow normal micro opacity-6 margin-bottom-1"><i class="fas fa-question-circle"></i><span class="date-small">&nbsp;&nbsp;Part IV: Equity-mindness</span></p>
          <h3 class="">4. Tools for Equity-minded Practice?</h3>
        </a>
      </li>
    </ul>
  </li>
</ul>
