<style>

.reveal-1:hover > .hover-reveal {
  opacity: 1;
  transition: opacity 1s ease-in-out;
  -moz-transition: opacity .1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
}

.reveal-1:hover h1 {
  border-bottom: 5px solid #fff;
  padding-bottom: 5px;
  -moz-transition: opacity .1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
}

.reveal-1  > .hover-reveal,
.reveal-2  > .hover-reveal,
.reveal
{
  opacity: 0;
}

.reveal-section:hover .reveal {
  opacity: 1;
  transition: opacity 1s ease-in-out;
  -moz-transition: opacity .1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
}



</style>


<section class="slide kenBurns" data-name="care" data-title="care">
  <div class="content">
    <div class="container">
      <div class="wrap center">
        <ul class="flex reveal-1 left">
          <li class="col-5-12" style="border-right: 1px solid rgba(255, 255, 255, .25); padding-right: 50px;">
            <h3 class="text-gray">Fairness</h3>
            <br/><br/><br/><br/><br/>
            <h1 class="text-black">Care</h1>
            <br/><br/><br/><br/><br/>
            <ul class=" ">
              <h3>Transformation</h3>
            </ul>
          </li>
          <li class="col-7-12 hover-reveal">
            <p class="left hero text-black">
              Every student has the right to self-respect in educational settings to feel cared for
               by college practitioners, to have their experiences (personal, cultural, and otherwisee)
                affirmed, and to be acknowledged as producers of knowledge.
            </p>
          </li>
        </ul>
      </div>
      <div class="wrap">
        <h3 class="right text-gray">Demystifying</h3>

        <br/><br/>
        <ul class="flex reveal-section">
          <li class="col-7-12">
            <p class=" hero text-black right reveal">
              Syllabi can welcome them into a classroom where they will be cared for.
            </p>
          </li>
          <li class="col-5-12 left">
            <h1 class="reveal-trigger">Welcoming</h1>
          </li>
        </ul>


        <ul class="flex reveal-section">
          <li class="col-7-12">
            <p class="left hero text-black right reveal">
              Sending the message that while students need to work hard in college, faculty are there to support and work in partnership with them.
            </p>
          </li>
          <li class="col-5-12 left">
            <h1 class="reveal-trigger">Creating a Partnership</h1>
          </li>
        </ul>

        <ul class="flex reveal-section">
          <li class="col-7-12">
            <p class="left hero text-black reveal right">
              Validate their pursuit of a college degree and ability to be successful.
            </p>
          </li>
          <li class="col-5-12 left">
            <h1 class="reveal-trigger left">Validating</h1>
          </li>
        </ul>



          <ul class="right">
            <h3>Representing</h3>
            <h3>Deconstructing</h3>
          </ul>

      </div>
    </div>
  </div>
  <div class="background gradient-2"></div>
</section>
