<style>

.reveal-1:hover > .hover-reveal {
  opacity: 1;
  transition: opacity 1s ease-in-out;
  -moz-transition: opacity .1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
}

.reveal-1:hover h1 {
  border-bottom: 5px solid #fff;
  padding-bottom: 5px;
  -moz-transition: opacity .1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
}

.reveal-1  > .hover-reveal,
.reveal-2  > .hover-reveal {
  opacity: 0;
}

</style>


<section class="slide kenBurns" data-name="fairness" data-title="fairness">
  <div class="content">
    <div class="container">
      <div class="wrap center">
        <ul class="flex reveal-1 left">
          <li class="col-5-12" style="border-right: 1px solid rgba(255, 255, 255, .25); padding-right: 50px;">
            <h1 class="text-black">Fairness</h1>
            <br/><br/><br/><br/><br/>
            <ul class=" ">
              <h3>Care</h3>
              <h3>Transformation</h3>
            </ul>
          </li>
          <li class="col-7-12 hover-reveal">
            <p class="left hero text-black">
              Every student has equal right to opportunity and resources that will
              advance their learning and acheivement
            </p>
          </li>
        </ul>
      </div>
      <div class="wrap">
        <ul class="flex">
          <li class="col-7-12">
            <p class="left hero text-black">
              Every student has equal right to opportunity and resources that will
              advance their learning and acheivement
            </p>
          </li>
          <li class="col-5-12" style="border-left: 1px solid rgba(255, 255, 255, .25); padding-left: 50px;">
            <h1 class="left text-black">Demystifying</h1>
            <br/><br/><br/><br/><br/><br/><br/>
            <ul class="flex">
              <li class="col-12-12 left bottom">
                <h3>Welcoming</h3>
                <h3>Creating a Partnership</h3>
                <h3>Validating</</h3>
                <h3>Representing</h3>
                <h3>Deconstructing</h3>
              </li>
            </ul>
          </li>
        </ul>

      </div>
    </div>
  </div>
  <div class="background gradient-1"></div>
</section>
