
<!-- Split the Content -->
<section class="slide autoHeight whiteSlide split">
  <div class="content">
    <div class="container">
      <div class="wrap" style="background:#fff">

        <div class="mobile-wrap">
          <h3 class="ae-1 text-gray type-nunito font-weight-bold">EQUITY PERSPECTIVE</h3>
          <h3><a href="#fairness">FAIRNESS</a></h3>
          <h3><a href="#care">CARE</a></h3>
          <h3><a href="#transformation">TRANSFORMATION</a></h3>
          <div class="fix-4-12 center">
            <h6 class="ae-2 small left text-gray margin-top-10">Dowd, A.C. & Bensimon, E.M. (2015). Engaging the “race question": Accountability and equity in US higher education . New York, NY: Teachers College Press.</h6>
          </div>
        </div>

      </div>

      <div class="wrap"  style="border-left: 1px solid #ccc;">
        <h3 class="ae-1 text-gray type-nunito font-weight-bold">EQUITY-MINDED PRACTICE</h3>
        <div class="mobile-wrap">
          <h3><a href="">DEMYSTIFYING</a></h3>
          <h3><a href="">WELCOMING</a></h3>
          <h3><a href="">CREATING A PARTNERSHIP</a></h3>
          <h3><a href="">VALIDATING</a></h3>
          <h3><a href="">REPRESENTING</a></h3>
          <h3><a href="">DECONSTRUCTING</a></h3>
        </div>
      </div>
    </div>
  </div>
</section>
