

<section class="slide kenBurns" data-name="transformation" data-title="transformation">
  <div class="content">
    <div class="container">
      <div class="wrap left bottom">

        <h1 class="crop">CSS Gradient</h1>
        <div class="mobile-wrap">
          <h1 class="small ae-1">A million apps just for iPad</h1>
          <p class="ae-2">Your iPad comes with powerful apps for the things you do every day. The App Store has a million more apps specifically designed for the big, beautiful Retina display of your iPad. Whatever you love to do, there’s an iPad app to help you do it.</p>
          <a class="text-blue ae-3">Visit the App Store</a>
        </div>

      </div>
      <div class="wrap center">
        <div class="mobile-wrap">
          <h1 class="ae-1">Swift Playgrounds</h1>
          <p class="ae-2">Learn serious code on your iPad. In a seriously fun way.</p>
          <a class="text-blue ae-3">Visit the App Store</a>
        </div>

      </div>
    </div>
  </div>
  <div class="background gradient-2"></div>
</section>
