<section class="slide kenBurns" data-name="angry" data-title="Angry">
  <div class="content">
    <div class="container">

      <div class="wrap">

        <div class="section-title left top underline">
          <div class="float-right margin-top-3">
            <%= link_to s1_1_path, class: "trigger ae-4 right margin-right-1" do %>
                <i class="far fa-home h1"></i>
              <% end %>
              <%= link_to recap_1_path, class: "trigger ae-4 right" do %>
                <i class="fas fa-check-circle h1"></i>
            <% end %>
          </div>
          <div class="">
            <h5> Section 1</h5>
            <h2> How do you feel?</h2>
          </div>
        </div>

        <div class="12-12 margin-top-5">
          <ul class="flex reverse">
            <li class="col-3-12 ae-1 fromAbove left">
                <img class="" src='<%= image_url("https://d1j8pt39hxlh3d.cloudfront.net/uploads/triumph_face_256_3.gif")%>' data-action="zoom"/>
            </li>
            <li class="col-6-12 left">
              <div class="ae-1 fromBottomLeft"><p class="shadow opaque chat-bubble fade-6 hideOnScroll">We also need to focus on LGBTQ, veteran, students with disabilities because they are also disproportionately impacted.</p></div>
              <div class="ae-3 fromBottomLeft"><p class="shadow opaque chat-bubble">I’m not racist!</p></div>
              <div class="ae-5 fromBottomLeft"><p class="shadow opaque chat-bubble">My campus has done nothing on racial equity!</p></div>
              <div class="ae-7 fromBottomLeft"><p class="shadow opaque chat-bubble">Everybody says that I am privileged but I am not</p></div>
              <div class="opacity-8 ae-10 fromBottomRight"><p class="shadow opaque bg-bluegreen chat-bubble">  ...   </p></div>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(<%= image_url("backgrounds/purple.png")%>)"></div>
</section>
