<!-- Slide 4 (#76) -->
 <section class="slide kenBurns" data-name="angry" data-title="Angry">
  <div class="content">
    <div class="container">
      <div class="wrap top">
        <div class="fix-12-12">
          <%= render "step1/navigation/emoji_menu" %>
          <ul class="flex reverse  margin-top-10">
            <li class="col-4-12 ae-1 fromAbove">
              <h1 class="large opacity-6 bold margin-bottom-1">Angry</h1>
              <img class="center" src="<%= image_url("emoji/animations/angry.gif", class: "wide ")%>"/>
            </li>
            <li class="col-8-12 left">
              <div class="ae-1 fromBottomLeft"><p class="shadow opaque chat-bubble fade-6 hideOnScroll">We also need to focus on LGBTQ, veteran, students with disabilities because they are also disproportionately impacted.</p></div>
              <div class="ae-3 fromBottomLeft"><p class="shadow opaque chat-bubble">I’m not racist!</p></div>
              <div class="ae-5 fromBottomLeft"><p class="shadow opaque chat-bubble">My campus has done nothing on racial equity!</p></div>
              <div class="ae-7 fromBottomLeft"><p class="shadow opaque chat-bubble">Everybody says that I am privileged but I am not.</p></div>
            </li>
          </ul>
        </div>
      </div>

    </div>

  </div>
  <div class="background" style="background-image:url(<%= image_url("backgrounds/purple.png")%>)"></div>
</section>
