<!-- Slide 4 (#76) -->
 <section class="slide fade-6 kenBurns" style="background: #000" data-name="angry" data-title="Angry">
  <div class="content">
    <div class="container">
      <div class="wrap">

        <div class="fix-12-12">
          <ul class="flex reverse verticalCenter">
            <li class="col-4-12 left ae-1 fromAbove">
              <img class="iphone-76" src='<%= image_url("emoji/mad-emoji.png", class: "wide ")%>' alt="iPhone Image" data-action="zoom"/>
              <br/><br/>
              <h2 class="ae-2 center">Angry</h2>
            </li>
            <li class="col-6-12 left">
              <h2 class="ae-2">Common thoughts and feelings… </h2>
              <br/>
              <div class="ae-1 fromBottomLeft"><p class="shadow opaque white chat-bubble fade-6 hideOnScroll">We also need to focus on LGBTQ, veteran, students with disabilities because they are also disproportionately impacted.</p></div>
              <div class="ae-3 fromBottomLeft"><p class="shadow opaque white chat-bubble">I’m not racist!</p></div>
              <div class="ae-5 fromBottomLeft"><p class="shadow opaque white chat-bubble">My campus has done nothing on racial equity!</p></div>
              <div class="ae-7 fromBottomLeft"><p class="shadow opaque white chat-bubble">Everybody says that I am privileged but I am not</p></div>
              <div class="opacity-8 ae-10 fromBottomRight"><p class="shadow opaque bg-bluegreen chat-bubble">  ...   </p></div>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(<%= image_url("backgrounds/purple.png")%>)"></div>
</section>
