<section class="slide kenBurns" data-name="annoyed" data-title="Annoyed">
  <div class="content">
    <div class="container">
      <div class="wrap top">

        <div class="section-title left" style="border-bottom: 1px solid rgba(255, 255, 255, .10);">
          <h5> Section 1</h5>
          <h2> How do you feel?</h2>
        </div>

        <div class="12-12 margin-top-5">
          <ul class="flex reverse">
            <li class="col-3-12 l eft ae-1 fromAbove left">
              <img class="top" src='<%= image_url("https://i.gifer.com/6mD.gif", class: " ")%>' data-action="zoom"/>
            </li>
            <li class="col-6-12 left">
              <div class="ae-1 fromBottomLeft"><p class="shadow opaque chat-bubble fade-6 hideOnScroll">I'm afraid that I'll be called a racist if I talk about race.</p></div>
              <div class="ae-3 fromBottomLeft"><p class="shadow opaque chat-bubble">I will soon be up for tenure and will need to focus my attention on other initiatives.</p></div>
              <div class="ae-5 fromBottomLeft"><p class="shadow opaque chat-bubble">I'm unsure if my institution will make equity a priority.</p></div>
              <div class="ae-7 fromBottomLeft"><p class="shadow opaque chat-bubble">My institution just isn’t capable of being a welcoming place for African American and Latinx students right now.</p></div>

            </li>
          </ul>
        </div>


      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(<%= image_url("backgrounds/purple.png")%>)"></div>
</section>
