<!-- Slide 4 (#76) -->
 <section class="slide kenBurns" data-name="confused" data-title="Confused">
  <div class="content" style="background: purple;">
    <div class="container">
      <div class="wrap top">

        <div class="section-title left" style="border-bottom: 1px solid rgba(255, 255, 255, .10);">
          <h5> Section 1</h5>
          <h2> How do you feel?</h2>
        </div>

        <div class="12-12 margin-top-5">
          <ul class="flex reverse">
            <li class="col-3-12 ae-1 fromAbove">
              <img src='<%= image_url("emoji/confused-emoji.png", class: "wide ")%>' alt="iPhone Image" data-action="zoom"/>
            </li>
            <li class="col-6-12 left">
              <div class="ae-1 fromBottomLeft"><p class="shadow opaque chat-bubble fade-6 hideOnScroll">We don’t need to change our methodology and disaggregate by race and ethnicity?</p></div>
              <div class="ae-3 fromBottomLeft"><p class="shadow opaque chat-bubble">Why aren’t we focusing on socio-economic and/or gender inequities?</p></div>
              <div class="ae-5 fromBottomLeft"><p class="shadow opaque chat-bubble">I thought we were over racism, doesn’t SES</p></div>
              <div class="ae-7 fromBottomLeft"><p class="shadow opaque chat-bubble">I’m not sure I am saying the right things with regard to racial equity</p></div>
              <div class="ae-9 fromBottomLeft"><p class="shadow opaques chat-bubble">As a white person, I am not sure what my place is in this conversation</p></div>

            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
    <div class="background" style="background-image:url(<%= image_url("https://cdn.imgbin.com/0/20/11/imgbin-question-mark-YuxcMSsk8pRGrA0YThVznjDw7.jpg")%>)"></div>
</section>
