<!-- Slide 4 (#76) -->
 <section class="slide fade-6 kenBurns bg-softpink" style="background:"  data-name="confused" data-title="Confused">
  <div class="content">
    <div class="container">
      <div class="wrap">

        <div class="fix-12-12">
          <ul class="flex reverse verticalCenter">
            <li class="col-4-12 left ae-1 fromAbove">
              <img class="iphone-76" src='<%= image_url("emoji/confused-emoji.png", class: "wide ")%>' alt="iPhone Image" data-action="zoom"/>
              <br/><br/>
              <h2 class="ae-2 center">Confused</h2>
            </li>
            <li class="col-6-12 left">
              <h2 class="ae-2">Common thoughts and feelings… </h2>
              <br/>
              <div class="ae-1 fromBottomLeft"><p class="shadow opaque white chat-bubble fade-6 hideOnScroll">We don’t need to change our methodology and disaggregate by race and ethnicity?</p></div>
              <div class="ae-3 fromBottomLeft"><p class="shadow opaque white chat-bubble">Why aren’t we focusing on socio-economic and/or gender inequities?</p></div>
              <div class="ae-5 fromBottomLeft"><p class="shadow opaque white chat-bubble">I thought we were over racism, doesn’t SES</p></div>
              <div class="ae-7 fromBottomLeft"><p class="shadow opaque white chat-bubble">I’m not sure I am saying the right things with regard to racial equity</p></div>
              <div class="ae-9 fromBottomLeft"><p class="shadow opaque white chat-bubble">As a white person, I am not sure what my place is in this conversation</p></div>
              <div class="opacity-8 ae-10 fromBottomRight"><p class="shadow opaque bg-bluegreen chat-bubble">  ...   </p></div>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(<%= image_url("backgrounds/purple.png")%>)"></div>
</section>
