<!-- Slide 4 (#76) -->
 <section class="slide kenBurns" data-name="confused" data-title="Confused">
  <div class="content">
    <div class="container">
      <div class="wrap top">
        <div class="fix-12-12">
          <%= render "step1/navigation/emoji_menu" %>
          <ul class="flex reverse margin-top-10">
            <li class="col-4-12 ae-1 fromAbove">
              <h1 class="large opacity-6 bold margin-bottom-1">Confused</h1>
              <img class="center" src="<%= image_url("emoji/animations/confused.gif", class: "wide ")%>"/>
            </li>
            <li class="col-8-12 left">
              <div class="ae-1 fromBottomLeft"><p class="shadow opaque chat-bubble fade-6 hideOnScroll">We don’t need to change our methodology and disaggregate by race and ethnicity?</p></div>
              <div class="ae-3 fromBottomLeft"><p class="shadow opaque chat-bubble">Why aren’t we focusing on socio-economic and/or gender inequities?</p></div>
              <div class="ae-5 fromBottomLeft"><p class="shadow opaque chat-bubble">I thought we were over racism, doesn’t SES.</p></div>
              <div class="ae-7 fromBottomLeft"><p class="shadow opaque chat-bubble">I’m not sure I am saying the right things with regard to racial equity.</p></div>
              <div class="ae-9 fromBottomLeft"><p class="shadow opaques chat-bubble">As a white person, I am not sure what my place is in this conversation.</p></div>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(<%= image_url("backgrounds/purple.png")%>)"></div>
</section>
