<!-- Slide 4 (#76) -->
 <section class="slide fade-6 kenBurns" style="background: lightgray" data-name="disappointed" data-title="Disappointed">
  <div class="content">
    <div class="container">
      <div class="wrap">

        <div class="fix-12-12">
          <ul class="flex reverse verticalCenter">
            <li class="col-4-12 left ae-1 fromAbove">
              <img class="iphone-76" src='<%= image_url("emoji/disappointed-emoji.png", class: "wide ")%>' alt="iPhone Image" data-action="zoom"/>
              <br/><br/>
              <h2 class="ae-2 center">Disappointed</h2>
            </li>
            <li class="col-6-12 left">
              <h2 class="ae-2">Common thoughts and feelings… </h2>
              <br/>
              <div class="ae-1 fromBottomLeft"><p class="shadow opaque white chat-bubble fade-6 hideOnScroll">I’ve been here for over a decade and we still do not have Chicano studies program.</p></div>
              <div class="ae-3 fromBottomLeft"><p class="shadow opaque white chat-bubble">We are not achieving equity for our minoritized racial / ethnic groups, and we don’t know how.</p></div>
              <div class="ae-5 fromBottomLeft"><p class="shadow opaque white chat-bubble">I thought I was entering an institution that cared about racial equity but found that not to be the case.</p></div>
              <div class="ae-7 fromBottomLeft"><p class="shadow opaque white chat-bubble">We have opportunities to talk about racial equity but there isn’t much participation or authentic engagement with the topic.</p></div>
              <div class="opacity-8 ae-10 fromBottomRight"><p class="shadow opaque bg-bluegreen chat-bubble">  ...   </p></div>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(<%= image_url("backgrounds/purple.png")%>)"></div>
</section>
