<section class="slide kenBurns" data-name="disinterested" data-title="Disinterested">
  <div class="content">
    <div class="container">
      <div class="wrap">

        <div class="section-title left" style="border-bottom: 1px solid rgba(255, 255, 255, .10);">
          <h5> Section 1</h5>
          <h2> How do you feel?</h2>
        </div>

        <div class="12-12 margin-top-5">
          <ul class="flex reverse">
            <li class="col-3-12 ae-1 fromAbove">
              <img class="" src='<%= image_url("emoji/disinterested-emoji.png", class: "wide ")%>' alt="iPhone Image" data-action="zoom"/>
            </li>
            <li class="col-6-12 left">
              <div class="ae-1 fromBottomLeft"><p class="shadow opaque chat-bubble fade-6 hideOnScroll">I am not interested in engaging in conversation around minoritized student groups. They’re experiences are no different from White students</p></div>
              <div class="ae-3 fromBottomLeft"><p class="shadow opaque chat-bubble">I am not willing to critically reflect on current practices. I’m doing the same thing I’ve been doing for 15 years and it works fine.</p></div>
              <div class="ae-5 fromBottomLeft"><p class="shadow opaque chat-bubble">I don’t want to put myself in a vulnerable or marginalized position at my institution so I disengage with racial equity talks</p></div>
              <div class="ae-7 fromBottomLeft"><p class="shadow opaque chat-bubble">We live in a post-racial society</p></div>
              <div class="ae-7 fromBottomLeft"><p class="shadow opaque chat-bubble">I have sat through too many trainings on racial equity</p></div>
              <div class="ae-7 fromBottomLeft"><p class="shadow opaque chat-bubble">Talks about racial equity are not sufficiently engaging for me</p></div>
              <div class="opacity-8 ae-10 fromBottomRight"><p class="shadow opaque bg-bluegreen chat-bubble">  ...   </p></div>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(<%= image_url("backgrounds/purple.png")%>)"></div>
</section>
