<!-- Slide 4 (#76) -->
 <section class="slide kenBurns" data-name="disappointed" data-title="Disappointed">
  <div class="content">
    <div class="container">
      <div class="wrap top">

        <div class="section-title left" style="border-bottom: 1px solid rgba(255, 255, 255, .10);">
          <h5> Section 1</h5>
          <h2> How do you feel?</h2>
        </div>

        <div class="12-12 margin-top-5">
          <ul class="flex reverse">
            <li class="col-3-12 ae-1 fromAbove">
              <img class="" src='<%= image_url("emoji/disappointed-emoji.png", class: "wide ")%>' alt="iPhone Image" data-action="zoom"/>
            </li>
            <li class="col-6-12 left">
              <div class="ae-1 fromBottomLeft"><p class="shadow opaque chat-bubble fade-6 hideOnScroll">I’ve been here for over a decade and we still do not have Chicano studies program.</p></div>
              <div class="ae-3 fromBottomLeft"><p class="shadow opaque chat-bubble">We are not achieving equity for our minoritized racial / ethnic groups, and we don’t know how.</p></div>
              <div class="ae-5 fromBottomLeft"><p class="shadow opaque chat-bubble">I thought I was entering an institution that cared about racial equity but found that not to be the case.</p></div>
              <div class="ae-7 fromBottomLeft"><p class="shadow opaque chat-bubble">We have opportunities to talk about racial equity but there isn’t much participation or authentic engagement with the topic.</p></div>

            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(<%= image_url("backgrounds/purple.png")%>)"></div>
</section>
