<!-- Slide 4 (#76) -->
 <section class="slide kenBurns" data-name="disappointed" data-title="Disappointed">
  <div class="content">
    <div class="container">
      <div class="wrap top">
        <div class="fix-12-12 margin-top-5">
          <ul class="flex reverse">
            <li class="col-4-12 ae-1 fromAbove">
              <h1 class="huge opacity-3 bold margin-bottom-1">I'm feeling</h1>
              <h3 class="large center">Disappointed</h3>
              <img class="center" src="<%= image_url("emoji/animations/disappointed.gif", class: "wide ")%>"/>
            </li>
            <li class="col-8-12 left">
              <div class="ae-1 fromBottomLeft"><p class="shadow opaque chat-bubble fade-6 hideOnScroll">I’ve been here for over a decade and we still do not have Chicano studies program.</p></div>
              <div class="ae-3 fromBottomLeft"><p class="shadow opaque chat-bubble">We are not achieving equity for our minoritized racial / ethnic groups, and we don’t know how.</p></div>
              <div class="ae-5 fromBottomLeft"><p class="shadow opaque chat-bubble">I thought I was entering an institution that cared about racial equity but found that not to be the case.</p></div>
              <div class="ae-7 fromBottomLeft"><p class="shadow opaque chat-bubble">We have opportunities to talk about racial equity but there isn’t much participation or authentic engagement with the topic.</p></div>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(<%= image_url("backgrounds/purple.png")%>)"></div>
</section>
