<!-- Slide 4 (#76) -->
 <section class="slide kenBurns" data-name="excited" data-title="Excited">
  <div class="content">
    <div class="container">
      <div class="wrap top">

        <div class="section-title left" style="border-bottom: 1px solid rgba(255, 255, 255, .10);">
          <h5> Section 1</h5>
          <h2> How do you feel?</h2>
        </div>

        <div class="fix-12-12 margin-top-5">
          <ul class="flex reverse">
            <li class="col-3-12 left ae-1 fromAbove">
              <img class="" src='<%= image_url("emoji/excited-emoji.png", class: "wide ")%>' alt="iPhone Image" data-action="zoom"/>
            </li>
            <li class="col-8-12 left">
            <div class="ae-1 fromBottomLeft"><p class="shadow opaque chat-bubble fade-6 hideOnScroll">I am excited about the opportunity to push equity forward for our students.</p></div>
              <div class="ae-3 fromBottomLeft"><p class="shadow opaque chat-bubble">I feel like we’re finally ready to do something meaningful for our African American, Latinx, Native American, and Asian students.</p></div>
              <div class="ae-5 fromBottomLeft"><p class="shadow opaque chat-bubble">I am excited to share what I know on the topic of racial equity with my institution/department/peers</p></div>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(<%= image_url("backgrounds/purple.png")%>)"></div>
</section>
