<!-- Slide 4 (#76) -->
 <section class="slide fade-6 kenBurns" style="background: red" data-name="frustrated" data-title="Frustrated">
  <div class="content">
    <div class="container">
      <div class="wrap">

        <div class="fix-12-12">
          <ul class="flex reverse verticalCenter">
            <li class="col-4-12 left ae-1 fromAbove">
              <img class="iphone-76" src='<%= image_url("emoji/frustrated-emoji.png", class: "wide ")%>' alt="iPhone Image" data-action="zoom"/>
              <br/><br/>
              <h2 class="ae-2 center">Frustrated</h2>
            </li>
            <li class="col-6-12 left">
              <h2 class="ae-2">Common thoughts and feelings… </h2>
              <br/>
              <div class="ae-1 fromBottomLeft"><p class="shadow opaque white chat-bubble fade-6 hideOnScroll">Our campus talks about racial equity but we don’t change our practices or policies to assist minoritized students</p></div>
              <div class="ae-3 fromBottomLeft">We are unable to have productive conversations about race and racism<p class="shadow opaque white chat-bubble">We are unable to have productive conversations about race and racism</p></div>
              <div class="ae-5 fromBottomLeft"><p class="shadow opaque white chat-bubble">I don’t see color. I’m color-blind</p></div>
              <div class="ae-7 fromBottomLeft"><p class="shadow opaque white chat-bubble">I treat all my students the same. No one is given special privileges.” </p></div>
              <div class="opacity-8 ae-10 fromBottomRight"><p class="shadow opaque bg-bluegreen chat-bubble">  ...   </p></div>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(<%= image_url("backgrounds/purple.png")%>)"></div>
</section>
