<!-- Slide 4 (#76) -->
 <section class="slide kenBurns" data-name="frustrated" data-title="Frustrated">
  <div class="content">
    <div class="container">
      <div class="wrap top">
        <div class="fix-12-12 margin-top-5">
          <ul class="flex reverse">
            <li class="col-4-12 ae-1 fromAbove">
              <h3 class="large center">Frustrated</h3>
              <img class="center" src="<%= image_url("emoji/animations/frustrated.gif", class: "wide ")%>"/>
            </li>
            <li class="col-8-12 left">
              <div class="ae-1 fromBottomLeft"><p class="shadow opaque chat-bubble fade-6 hideOnScroll">Our campus talks about racial equity but we don’t change our practices or policies to assist minoritized students</p></div>
              <div class="ae-3 fromBottomLeft"><p class="shadow opaque chat-bubble fade-6 hideOnScroll">We are unable to have productive conversations about race and racism</p></div>
              <div class="ae-3 fromBottomLeft"><p class="shadow opaque chat-bubble">We are unable to have productive conversations about race and racism</p></div>
              <div class="ae-5 fromBottomLeft"><p class="shadow opaque chat-bubble fade-6 hideOnScroll" >I don’t see color. I’m color-blind.</p></div>
              <div class="ae-7 fromBottomLeft"><p class="shadow opaque chat-bubble fade-6 hideOnScroll">I treat all my students the same. No one is given special privileges.</p></div>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(<%= image_url("backgrounds/purple.png")%>)"></div>
</section>
