<!-- Slide 4 (#76) -->
 <section class="slide kenBurns" data-name="happy" data-title="Happy">
  <div class="content">
    <div class="container">
      <div class="wrap top">

        <div class="section-title left" style="border-bottom: 1px solid rgba(255, 255, 255, .10);">
          <h5> Section 1</h5>
          <h2> How do you feel?</h2>
        </div>

        <div class="fix-12-12 margin-top-5">
          <ul class="flex reverse">
            <li class="col-3-12 left ae-1 fromAbove">
              <img class="" src='<%= image_url("https://d1j8pt39hxlh3d.cloudfront.net/uploads/beaming_face_with_smiling_eyes_256_2.gif", class: "wide ")%>' alt="iPhone Image" data-action="zoom"/>
            </li>
            <li class="col-8-12 left">
              <div class="ae-1 fromBottomLeft"><p class="shadow opaque chat-bubble fade-6 hideOnScroll">I am happy that we have the support of our President. We will be able to set racial equity goals at the department and leadership level</p></div>
              <div class="ae-3 fromBottomLeft"><p class="shadow opaque chat-bubble">I don’t know much about racial equity but am happy to get to learn</p></div>
              <div class="ae-5 fromBottomLeft"><p class="shadow opaque chat-bubble">I am happy that, as a person of color, my experiences might be represented and voiced</p></div>
              <div class="ae-7 fromBottomLeft"><p class="shadow opaque chat-bubble">I am happy that, as a white person, have the opportunity to be more of an ally to my students and colleagues</p></div>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(<%= image_url("backgrounds/purple.png")%>)"></div>
</section>
