<!-- Slide 4 (#76) -->
 <section class="slide fade-6 kenBurns" style="background: #ff284d;" data-name="happy" data-title="Happy">
  <div class="content">
    <div class="container">
      <div class="wrap">

        <div class="fix-12-12">
          <ul class="flex reverse verticalCenter">
            <li class="col-4-12 left ae-1 fromAbove">
              <img class="iphone-76" src='<%= image_url("emoji/love-it-emoji.png", class: "wide ")%>' alt="iPhone Image" data-action="zoom"/>
              <br/><br/>
              <h2 class="ae-2 center">Happy</h2>
            </li>
            <li class="col-6-12 left">
              <h2 class="ae-2">Common thoughts and feelings… </h2>
              <br/>
              <div class="ae-1 fromBottomLeft"><p class="shadow opaque white chat-bubble fade-6 hideOnScroll">I am happy that we have the support of our President. We will be able to set racial equity goals at the department and leadership level</p></div>
              <div class="ae-3 fromBottomLeft"><p class="shadow opaque white chat-bubble">I don’t know much about racial equity but am happy to get to learn</p></div>
              <div class="ae-5 fromBottomLeft"><p class="shadow opaque white chat-bubble">I am happy that, as a person of color, my experiences might be represented and voiced</p></div>
              <div class="ae-7 fromBottomLeft"><p class="shadow opaque white chat-bubble">I am happy that, as a white person, have the opportunity to be more of an ally to my students and colleagues</p></div>
              <div class="opacity-8 ae-10 fromBottomRight"><p class="shadow opaque bg-bluegreen chat-bubble">  ...   </p></div>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(<%= image_url("backgrounds/purple.png")%>)"></div>
</section>
