<!-- Slide 4 (#76) -->
 <section class="slide kenBurns"  data-name="happy" data-title="Happy">
  <div class="content">
    <div class="container">
      <div class="wrap top">
        <div class="fix-12-12">
          <%= render "step1/navigation/emoji_menu" %>
          <ul class="flex reverse margin-top-10">
            <li class="col-4-12 ae-1 fromAbove">
              <h1 class="large opacity-6 bold margin-bottom-1">Happy</h1>
              <img class="center" src="<%= image_url("emoji/animations/happy.gif", class: "wide ")%>"/>
            </li>
            <li class="col-8-12 left">
              <div class="ae-1 fromBottomLeft"><p class="shadow opaque chat-bubble fade-6 hideOnScroll">I am happy that we have the support of our President. We will be able to set racial equity goals at the department and leadership level.</p></div>
              <div class="ae-3 fromBottomLeft"><p class="shadow opaque chat-bubble">I don’t know much about racial equity but am happy to get to learn.</p></div>
              <div class="ae-5 fromBottomLeft"><p class="shadow opaque chat-bubble">I am happy that, as a person of color, my experiences might be represented and voiced.</p></div>
              <div class="ae-7 fromBottomLeft"><p class="shadow opaque chat-bubble">I am happy that, as a white person, have the opportunity to be more of an ally to my students and colleagues.</p></div>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(<%= image_url("backgrounds/purple.png")%>)"></div>
</section>
