<!-- Slide 4 (#76) -->
 <section class="slide kenBurns"  data-name="interested" data-title="Interested">
  <div class="content">
    <div class="container">
      <div class="wrap center">
        <div class="fix-12-12 margin-top-5">
          <ul class="flex reverse">
            <li class="col-4-12 ae-1 fromAbove">
              <h1 class="big opacity-3 bold margin-bottom-1">Interested</h1>
              <img class="center" src="<%= image_url("emoji/animations/interested.gif", class: "wide ")%>"/>
            </li>
            <li class="col-8-12 left">
              <div class="ae-1 fromBottomLeft"><p class="shadow opaque chat-bubble fade-6 hideOnScroll">I am curious to learn about practices and policies that negatively impact students of color.</p></div>
              <div class="ae-3 fromBottomLeft"><p class="shadow opaque chat-bubble">I have never engaged in talks about racial equity but am interested to learn what it entails</p></div>
              <div class="ae-5 fromBottomLeft"><p class="shadow opaque chat-bubble">I have been talking to students and noticing more that race is important</p></div>
              <div class="ae-7 fromBottomLeft"><p class="shadow opaque chat-bubble">I’ve seen my disaggregated data and have some gaps. I want to do something but I don’t know what</p></div>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(<%= image_url("backgrounds/purple.png")%>)"></div>
</section>
