 <section class="slide kenBurns"  data-name="neutral" data-title="Neutral">
  <div class="content">
    <div class="container">
      <div class="wrap top">
        <div class="fix-12-12">
          <%= render "step1/navigation/emoji_menu" %>
          <ul class="flex reverse margin-top-10">
            <li class="col-4-12 ae-1 fromAbove">
              <h1 class="large opacity-6 bold margin-bottom-1">Neutral</h1>
              <img class="center" src="<%= image_url("emoji/animations/neutral.gif", class: "wide ")%>"/>
            </li>
            <li class="col-8-12 left">
              <div class="ae-1 fromBottomLeft"><p class="shadow opaque chat-bubble fade-6 hideOnScroll">I don’t have strong feelings about talking about racial equity, either they happen or they don’t.</p></div>
              <div class="ae-3 fromBottomLeft"><p class="shadow opaque chat-bubble">I am not sure that talking about racial equity can have strong effects on my students’ success.</p></div>
              <div class="ae-5 fromBottomLeft"><p class="shadow opaque chat-bubble">I care about racial equity, but am not in a position of power to move this work forward.</p></div>
              <div class="ae-7 fromBottomLeft"><p class="shadow opaque chat-bubble">I think classroom practice is pretty equitable already.</p></div>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(<%= image_url("backgrounds/purple.png")%>)"></div>
</section>
