<!-- Slide 4 (#76) -->
 <section class="slide kenBurns" data-name="neutral" data-title="Neutral">
  <div class="content">
    <div class="container">
      <div class="wrap">

        <div class="section-title left" style="border-bottom: 1px solid rgba(255, 255, 255, .10);">
          <h5> Section 1</h5>
          <h2> How do you feel?</h2>
        </div>

        <div class="12-12 margin-top-5">
          <ul class="flex reverse">
            <li class="col-3-12 ae-1 fromAbove">
              <img class="" src='<%= image_url("emoji/neutral-emoji.png", class: "wide ")%>' alt="iPhone Image" data-action="zoom"/>
            </li>
            <li class="col-6-12 left">
              <div class="ae-1 fromBottomLeft"><p class="shadow opaque chat-bubble fade-6 hideOnScroll">I don’t have strong feelings about talking about racial equity, either they happen or they don’t</p></div>
              <div class="ae-3 fromBottomLeft"><p class="shadow opaque chat-bubble">I am not sure that talking about racial equity can have strong effects on my students’ success</p></div>
              <div class="ae-5 fromBottomLeft"><p class="shadow opaque chat-bubble">I care about racial equity, but am not in a position of power to move this work forward</p></div>
              <div class="ae-7 fromBottomLeft"><p class="shadow opaque chat-bubble">I think classroom practice is pretty equitable already</p></div>
              <div class="opacity-8 ae-10 fromBottomRight"><p class="shadow opaque bg-bluegreen chat-bubble">  ...   </p></div>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(<%= image_url("backgrounds/purple.png")%>)"></div>
</section>
