<!-- Slide 4 (#76) -->
 <section class="slide fade-6 kenBurns" style="background: #F5F5F5;" data-name="neutral" data-title="Neutral">
  <div class="content">
    <div class="container">
      <div class="wrap">

        <div class="fix-12-12">
          <ul class="flex reverse verticalCenter">
            <li class="col-4-12 left ae-1 fromAbove">
              <img class="iphone-76" src='<%= image_url("emoji/neutral-emoji.png", class: "wide ")%>' alt="iPhone Image" data-action="zoom"/>
              <br/><br/>
              <h2 class="ae-2 center">Neutral</h2>
            </li>
            <li class="col-6-12 left">
              <h2 class="ae-2">Common thoughts and feelings… </h2>
              <br/>
              <div class="ae-1 fromBottomLeft"><p class="shadow opaque white chat-bubble fade-6 hideOnScroll">I don’t have strong feelings about talking about racial equity, either they happen or they don’t</p></div>
              <div class="ae-3 fromBottomLeft"><p class="shadow opaque white chat-bubble">I am not sure that talking about racial equity can have strong effects on my students’ success</p></div>
              <div class="ae-5 fromBottomLeft"><p class="shadow opaque white chat-bubble">I care about racial equity, but am not in a position of power to move this work forward</p></div>
              <div class="ae-7 fromBottomLeft"><p class="shadow opaque white chat-bubble">I think classroom practice is pretty equitable already</p></div>
              <div class="opacity-8 ae-10 fromBottomRight"><p class="shadow opaque bg-bluegreen chat-bubble">  ...   </p></div>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(<%= image_url("backgrounds/purple.png")%>)"></div>
</section>
