<!-- Slide 4 (#76) -->
 <section class="slide fade-6 kenBurns" style="background: #8f0019;" data-name="afraid" data-title="Afraid">
  <div class="content">
    <div class="container">
      <div class="wrap">

        <div class="fix-12-12">
          <ul class="flex reverse verticalCenter">
            <li class="col-4-12 left ae-1 fromAbove">
              <img class="iphone-76" src='<%= image_url("emoji/afraid-emoji.png", class: "wide ")%>' alt="iPhone Image" data-action="zoom"/>
              <br/><br/>
              <h2 class="ae-2 center">Scared</h2>
            </li>
            <li class="col-6-12 left">
              <h2 class="ae-2">Common thoughts and feelings… </h2>
              <br/>
              <div class="ae-1 fromBottomLeft"><p class="shadow opaque white chat-bubble fade-6 hideOnScroll">Our leadership is currently in transition and that leaves us in an unknown territory. It may be better to wait instead of push our equity imitative forward because we will need buy-in from key stakeholders</p></div>
              <div class="ae-3 fromBottomLeft"><p class="shadow opaque white chat-bubble">I am afraid that I will say the wrong thing</p></div>
              <div class="ae-5 fromBottomLeft"><p class="shadow opaque white chat-bubble">What if I find that my classroom is inequitable?”</p></div>
              <div class="ae-7 fromBottomLeft"><p class="shadow opaque white chat-bubble">I am afraid I may be marginalized in my department/institution for bringing up racial equity</p></div>
              <div class="ae-9 fromBottomLeft"><p class="shadow opaque white chat-bubble">I understand that students are disproportionately impacted by institutional policies and practices but I’m not willing to take charge or the initiative because I will soon be up for a promotion or tenure.</p></div>
              <div class="opacity-8 ae-10 fromBottomRight"><p class="shadow opaque bg-bluegreen chat-bubble">  ...   </p></div>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(<%= image_url("backgrounds/purple.png")%>)"></div>
</section>
