<!-- Slide 4 (#76) -->
 <section class="slide kenBurns"  data-name="scared" data-title="Scared">
  <div class="content">
    <div class="container">
      <div class="wrap top">
        <div class="fix-12-12 margin-top-5">
          <ul class="flex reverse">
            <li class="col-4-12 ae-1 fromAbove">
              <h1 class="huge opacity-3 bold margin-bottom-1">I'm feeling</h1>
              <h3 class="large center">Scared</h3>
              <img class="center" src="<%= image_url("emoji/animations/scared.gif", class: "wide ")%>"/>
            </li>
            <li class="col-8-12 left">
              <div class="ae-1 fromBottomLeft"><p class="shadow opaque chat-bubble fade-6 hideOnScroll">Our leadership is currently in transition and that leaves us in an unknown territory. It may be better to wait instead of push our equity imitative forward because we will need buy-in from key stakeholders</p></div>
              <div class="ae-3 fromBottomLeft"><p class="shadow opaque chat-bubble">I am afraid that I will say the wrong thing</p></div>
              <div class="ae-5 fromBottomLeft"><p class="shadow opaque chat-bubble">What if I find that my classroom is inequitable?”</p></div>
              <div class="ae-7 fromBottomLeft"><p class="shadow opaque chat-bubble">I am afraid I may be marginalized in my department/institution for bringing up racial equity</p></div>
              <div class="ae-9 fromBottomLeft"><p class="shadow opaque chat-bubble">I understand that students are disproportionately impacted by institutional policies and practices but I’m not willing to take charge or the initiative because I will soon be up for a promotion or tenure.</p></div>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(<%= image_url("backgrounds/purple.png")%>)"></div>
</section>
