<!-- Slide 4 (#76) -->
 <section class="slide kenBurns"  data-name="tired" data-title="Tired">
  <div class="content">
    <div class="container">
      <div class="wrap top">
        <div class="fix-12-12 margin-top-5">
          <ul class="flex reverse">
            <li class="col-4-12 ae-1 fromAbove">
              <h3 class="large center">Tired/Exhausted</h3>
              <img class="center" src="<%= image_url("emoji/animations/tired.gif", class: "wide ")%>"/>
            </li>
            <li class="col-8-12 left">
              <div class="ae-1 fromBottomLeft"><p class="shadow opaque chat-bubble fade-6 hideOnScroll">We say the same thing every year but our policies and practices have yet to change. We need to set racial equity goals and hold leadership accountable.</p></div>
              <div class="ae-3 fromBottomLeft"><p class="shadow opaque chat-bubble">I am tired of being the only one to bring up racial equity.</p></div>
              <div class="ae-5 fromBottomLeft"><p class="shadow opaque chat-bubble">I am tired of hearing about racial equity and not about other student groups.</p></div>
              <div class="ae-7 fromBottomLeft"><p class="shadow opaque chat-bubble">Racial equity takes time I feel we don’t have, we are overworked as it is!</p></div>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(<%= image_url("backgrounds/purple.png")%>)"></div>
</section>
