<!-- Slide 4 (#76) -->
 <section class="slide kenBurns" data-name="uncomfortable" data-title="Uncomfortable">
  <div class="content">
    <div class="container">
      <div class="wrap top">
        <div class="fix-12-12">
          <%= render "step1/navigation/emoji_menu" %>
          <ul class="flex reverse  margin-top-10">
            <li class="col-4-12 ae-1 fromAbove">
              <h1 class="large opacity-6 bold margin-bottom-1">Uncomfortable</h1>
              <img class="center" src="<%= image_url("emoji/animations/uncomfortable.gif", class: "wide ")%>"/>
            </li>
            <li class="col-8-12 left">
              <div class="ae-1 fromBottomLeft"><p class="shadow opaque chat-bubble fade-6 hideOnScroll">I am not sure how to engage my peer or supervisor around racial equity.</p></div>
              <div class="ae-3 fromBottomLeft"><p class="shadow opaque chat-bubble">I am not willing to call out every microaggression I experience by my peers or colleagues.</p></div>
              <div class="ae-5 fromBottomLeft"><p class="shadow opaque chat-bubble">What if I say something that offends somebody?</p></div>
              <div class="ae-7 fromBottomLeft"><p class="shadow opaque chat-bubble">It is difficult to step outside the box when it comes to my classroom practices.</p></div>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(<%= image_url("backgrounds/purple.png")%>)"></div>
</section>
