<style media="screen">

.fade-6 .content {
  background: rgba(233, 30, 99, .69) !important;
}

</style>


<body class="slides zoom horizontal noPreload animated "><!-- Slide 4 (#76) -->
 <section class="slide fade-6 kenBurns" style="background: #dbb600;" data-name="uncomfortable" data-title="Uncomfortable">
  <div class="content">
    <div class="container">
      <div class="wrap">

        <div class="fix-12-12">
          <ul class="flex reverse verticalCenter">
            <li class="col-4-12 left ae-1 fromAbove">
              <img class="iphone-76" src='<%= image_url("emoji/uncomfortable-emoji.png", class: "wide ")%>' alt="iPhone Image" data-action="zoom"/>
              <br/><br/>
              <h2 class="ae-2 center">Uncomfortable</h2>
            </li>
            <li class="col-6-12 left">
              <h2 class="ae-2">Common thoughts and feelings… </h2>
              <br/>
              <div class="ae-1 fromBottomLeft"><p class="shadow opaque white chat-bubble fade-6 hideOnScroll">I am not sure how to engage my peer or supervisor around racial equity</p></div>
              <div class="ae-3 fromBottomLeft"><p class="shadow opaque white chat-bubble">I am not willing to call out every microaggression I experience by my peers or colleagues</p></div>
              <div class="ae-5 fromBottomLeft"><p class="shadow opaque white chat-bubble">What if I say something that offends somebody?</p></div>
              <div class="ae-7 fromBottomLeft"><p class="shadow opaque white chat-bubble">It is difficult to step outside the box when it comes to my classroom practices</p></div>
              <div class="opacity-8 ae-10 fromBottomRight"><p class="shadow opaque bg-bluegreen chat-bubble">  ...   </p></div>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(<%= image_url("backgrounds/purple.png")%>)"></div>
</section>
