 <section class="slide kenBurns" data-name="worried" data-title="Worried">
  <div class="content">
    <div class="container">
      <div class="wrap top">

        <div class="section-title left" style="border-bottom: 1px solid rgba(255, 255, 255, .10);">
          <h5> Section 1</h5>
          <h2> How do you feel?</h2>
        </div>


        <div class="fix-12-12 margin-top-5">
          <ul class="flex reverse">
            <li class="col-3-12 left ae-1 fromAbove">
              <img class="" src='<%= image_url("emoji/worried-emoji.png", class: "wide ")%>' alt="iPhone Image" data-action="zoom"/>
            </li>
            <li class="col-8-12 left">
              <div class="ae-1 fromBottomLeft"><p class="shadow opaque chat-bubble fade-6 hideOnScroll">I’m unsure if our institution will make equity a priority</p></div>
              <div class="ae-3 fromBottomLeft"><p class="shadow opaque chat-bubble">Our institution just isn’t capable of being a welcoming place for African American and Latinx students right now.</p></div>
              <div class="ae-5 fromBottomLeft"><p class="shadow opaque chat-bubble">I will soon be up for tenure and will need to focus my attention on other initiatives.</p></div>
              <div class="ae-7 fromBottomLeft"><p class="shadow opaque chat-bubble">I’m afraid that I’ll be called racist if I talk about race</p></div>

            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(<%= image_url("backgrounds/purple.png")%>)"></div>
</section>
