 <section class="slide kenBurns" data-name="worried" data-title="Worried">
  <div class="content">
    <div class="container">
      <div class="wrap top">

        <div class="fix-12-12 margin-top-5">
          <ul class="flex reverse">
            <li class="col-4-12 left ae-1 fromAbove center">
              <h1 class="huge opacity-3 bold margin-bottom-1">I'm feeling</h1>
              <h3 class="large">Worried</h3>
              <img class="" src="<%= image_url("emoji/animations/worried.gif", class: "wide ")%>"/>
            </li>
            <li class="col-8-12 left">
              <div class="ae-1 fromBottomLeft"><p class="shadow opaque chat-bubble fade-6 hideOnScroll">I’m unsure if our institution will make equity a priority</p></div>
              <div class="ae-3 fromBottomLeft"><p class="shadow opaque chat-bubble">Our institution just isn’t capable of being a welcoming place for African American and Latinx students right now.</p></div>
              <div class="ae-5 fromBottomLeft"><p class="shadow opaque chat-bubble">I will soon be up for tenure and will need to focus my attention on other initiatives.</p></div>
              <div class="ae-7 fromBottomLeft"><p class="shadow opaque chat-bubble">I’m afraid that I’ll be called racist if I talk about race</p></div>

            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(<%= image_url("backgrounds/purple.png")%>)"></div>
</section>
