<!-- Slide #02 -->
<section class="slide whiteSlide bg-seafoam">
  <div class="content" style="background: transparnt;">
    <div class="container">
      <div class="wrap">

				<div class="fix-12-12 toCenter left">
					<h3 class="ae-1">First things first…</h3>
          <h1 class="huge ae-12 text-brightorange">WHY FOCUS <br/>ON SYLLABI?</h1>
        </div>
        <div class="fix-12-12 left">
          <ul class="grid grid-74 later equal margin-top-5">
            <li class="col-3-12 col-tablet-1-2 col-phablet-1-1 ae-3 fromCenter">
              <p>Syllabi are a key feature of every academic course. It serves multiple purposes.</p>
            </li>
            <li class="col-3-12 col-tablet-1-2 col-phablet-1-1 ae-4 fromCenter">
            	<p>Often, syllabi are seen as contracts between stuents and the instructor and as a record of what courses cover and how student outcomes and performance are evaluated for accountability purposes (Parkes & Harris, 2002).</p>
            </li>
            <li class="col-3-12 col-tablet-1-2 col-phablet-1-1 ae-5 fromCenter">
            <p>However, syllabi are also learning tools that can help students develop effective learning practices and strategies, as well as communication devices that share how teaching will be approached (Grunnert, 1997; Parkes & Harris, 2002). </p>
            </li>
            <li class="col-3-12 col-tablet-1-2 col-phablet-1-1 ae-5 fromCenter">
              <p>While syllabi are not documents of what actually happens in the classroom, they serve varied purposes, making them rich sources of information about teaching as a practice.</p>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</section>
<!-- Slide #02 -->
<section class="slide whiteSlide bg-seafoam">
  <div class="content" style="background: transparnt;">
    <div class="container">
      <div class="wrap">

				<div class="fix-12-12 toCenter left">
					<h3 class="ae-1">Okay, but…</h3>
          <h1 class="huge ae-12 text-brightpink">WHY INQUIRE<br/> INTO SYLLABI?</h1>
        </div>
        <div class="fix-12-12 left">
          <ul class="grid grid-74 later equal margin-top-5">
						<li class="col-6-12 col-tablet-1-2 col-phablet-1-1 ae-3 fromCenter">
              <p>Teaching is a core practice of college faulty, yet inquiry and self-reflection are rarely routine and often occur in an unstructured manner.</p>
							<p>Syllabus review is an opportunity for structured inquiry and reflection, providing a safe space to assess aspects of teaching as reflected in syllabi, for example, course goals, class norms and rules, expectations for and evaluations of student learning, and forms of assistance and support.</p>
            </li>
            <li class="col-6-12 col-tablet-1-2 col-phablet-1-1 ae-4 fromCenter">
							<p>As artifacts of practice that capture how faculty see the course, what they assume students should be able to accomplish, and what they will do to advance student learning, inquiry into syllabi has the potential to reveal the assumptions, attitudes, values, and beliefs that shape teaching. Also, examining the content and language of a syllabus can help make explicit who it is written for (e.g., students, faculty, institution) and who it best serves.</p>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</section>

<!-- Slide #02 -->
<section class="slide whiteSlide bg-seafoam">
  <div class="content" style="background: transparnt;">
    <div class="container">
      <div class="wrap">

				<div class="fix-12-12 toCenter left">
					<h3 class="ae-1">You might ask…</h3>
          <h1 class="huge ae-12 text-brightpurple">WHAT DO SYLLABI HAVE <br/>TO DO WITH RACIAL EQUITY?</h1>
        </div>
        <div class="fix-12-12 left">
          <ul class="grid grid-74 later equal margin-top-5">
						<li class="col-6-12 col-tablet-1-2 col-phablet-1-1 ae-3 fromCenter">
              <p>With few exceptions (historically black colleges and universities being the most notable), higher education institutions were founded and designed to serve white students, particularly those who are male, middle- to upper-class, heterosexual, able-bodied, and Christian.</p>
							<p>Despite the increasing diversity of the American college student population, many of higher education’s policies and practices have not been reconfigured to equitably support, affirm, and validate students from racially minoritized groups.</p>
            </li>
            <li class="col-6-12 col-tablet-1-2 col-phablet-1-1 ae-4 fromCenter">
							<p>Artifacts of Practice</p>
							<p>Syllabi can reinforce and reproduce the norms and rules that generally align with the experience of white students, or syllabi can counter those norms and rules. For racially minoritized students who have experienced exclusion, marginalization, discrimination, and oppression in education and elsewhere, syllabi can be tools for equity-minded practice.</p>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</section>

<!-- Slide #02 -->
<section class="slide whiteSlide bg-seafoam">
  <div class="content" style="background: transparnt;">
    <div class="container">
      <div class="wrap">

				<div class="fix-12-12 toCenter left">
					<h3 class="ae-1">Wait, what are…</h3>
          <h1 class="huge ae-12 text-darkpurple">TOOLS FOR EQUITY<br/> MINDED PRACTICE?</h1>
        </div>
        <div class="fix-12-12 left">
          <ul class="grid grid-74 later equal margin-top-5">
            <li class="col-3-12 col-tablet-1-2 col-phablet-1-1 ae-3 fromCenter">
              <p>One.</p>
							<p>Faculty can use syllabi to demystify the implicit norms and ambiguous processes that characterize college such as how to be a “successful” student.</p>
            </li>
            <li class="col-3-12 col-tablet-1-2 col-phablet-1-1 ae-4 fromCenter">
							<p>Two.Three.</p>
							<p>Syllabi can welcome them into a classroom where they will be cared for and validate their pursuit of a college degree and ability to be successful.</p>
            </li>
						<li class="col-3-12 col-tablet-1-2 col-phablet-1-1 ae-4 fromCenter">
							<p>Four.</p>
							<p>They can send the message that while students need to work hard in college, faculty are there to support and work in partnership with them.</p>
						</li>
						<li class="col-3-12 col-tablet-1-2 col-phablet-1-1 ae-4 fromCenter">
							<p>Five. Six.</p>
							<p>Finally, syllabi can affirm the belonging of racially minoritized students in higher education by representing their experiences in course materials and deconstructing the presentation of white students and white experiences as the norm.</p>
						</li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</section>

<!-- Slide #02 -->
<section class="slide whiteSlide bg-seafoam">
  <div class="content" style="background: transparnt;">
    <div class="container">
      <div class="wrap">

				<div class="fix-12-12 toCenter left">
					<h3 class="ae-1">Wait, what are…</h3>
          <h1 class="huge ae-12 text-darkpurple">TOOLS FOR EQUITY-MINDED PRACTICE?</h1>
        </div>
        <div class="fix-12-12 left">
        </div>

      </div>
    </div>
  </div>
</section>



<!-- Navigation -->
<nav class="side medium">
  <div class="navigation">
    <ul></ul>
  </div>
</nav>
