<style media="screen">
.fade-1 .content {
  background: rgba(33, 101, 131, .25) !important;
}
</style>



<body class="slides zoom horizontal noPreload animated ">

  <section class="slide fade-1 kenBurns slideWhite red" data-name="intro" data-title="Intro">
    <div class="content">
      <div class="container">
        <div class="wrap">
          <div class="fix-12-12 left">
            <div class="float-right ae-4 margin-top-2">
              <%= link_to title_2_path, class: "margin-right-2" do %>
                <i class="far fa-home h1"></i>
              <% end %>
              <%= link_to recap_2_path, class: "" do %>
                <i class="fal fa-list-ol h1"></i>
              <% end %>
            </div>
            <h3 class="small font-weight-bold ae-2 fromLeft section-title ">Section II</h3>
            <h5 class="subtitle underline ae-2 fromLeft type-nunito">learning overview</h5>
            <h3 class=" margin-bottom-2 ae-2 fromLeft">
               What are the important learning outcomes for this section?
            </h3>

            <ul class="flex  margin-top-4 ae-3" style="border: 1px solid #fff; padding: 30px 0 20px 0px;">
              <li class="col-3-12">
                <h3 class="subtitle font-weight-heavy text-yellow ae-4 right">learning outcome</h3></li>
              <li>
              <li class="col-9-12">
                <p class="hero ae-5 left margin-top-1">
                  Practitioners will be further prepared to examine their syllabi—and the beliefs, values, and world views that informed their syllabi—from an equity-minded lens.
                </p>
              </li>
            </ul>

            <ul class="flex margin-top-10 ae-7">
              <li class="col-6-12">
                <h3 class="micro margin-bottom-2 fromLeft text-yellow right type-nunito margin-top-1">
                  <i class="far fa-clock margin-right-1"></i> Appox. 10 minute
                </h3>
              <li>
              <li class="col-6-12">
                <%= link_to intro_2_path, class: "button blue gradient ae-3 circle left" do %>
                  Let's Begin <i class="far fa-long-arrow-alt-right margin-left-1"></i>
                <% end %>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
    <div class="background" style="background-image:url(https://www.sccpre.cat/mypng/full/145-1456885_moderate-red-curve-gradient-graphics-background-graphic.png);"></div>

  </section>

</body>
