<body class="slides plain fast smooth">
  <section class="slide">
    <div class="content" style="background: INDIANRED;">
      <div class="container">
        <div class="wrap">

  				<div class="fix-12-12 toCenter left">
  					<h3 class="ae-1">You might ask…</h3>
            <h1 class="huge ae-12">What do Syllabi Have to Do with Racial Equity?</h1>
          </div>
          <div class="fix-12-12 left">
            <ul class="grid grid-74 later equal margin-top-5">
              <li class="col-6-12 col-tablet-1-2 col-phablet-1-1 ae-3 fromCenter">
                <%= image_tag("icons/key-3.png")%>
                <br/><br/><br/>
                <p>With few exceptions (historically black colleges and universities being the most notable), higher education institutions were founded and designed to serve white students, particularly those who are male, middle- to upper-class, heterosexual, able-bodied, and Christian.</p>
  							<p>Despite the increasing diversity of the American college student population, many of higher education’s policies and practices have not been reconfigured to equitably support, affirm, and validate students from racially minoritized groups.</p>
              </li>
              <li class="col-6-12 col-tablet-1-2 col-phablet-1-1 fromCenter" style="opacity: .0;">
                <%= image_tag("icons/handshake.svg")%>
                <p>Artifacts of Practice</p>
  							<p>Syllabi can reinforce and reproduce the norms and rules that generally align with the experience of white students, or syllabi can counter those norms and rules. For racially minoritized students who have experienced exclusion, marginalization, discrimination, and oppression in education and elsewhere, syllabi can be tools for equity-minded practice.</p>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </section>
  <section class="slide">
    <div class="content" style="background: blue;">
      <div class="container">
        <div class="wrap">

  				<div class="fix-12-12 toCenter left">
  					<h3 class="">First things first…</h3>
            <h1 class="huge">Why Focus on Syllabi?</h1>
          </div>
          <div class="fix-12-12 left">
            <ul class="grid grid-74 later equal margin-top-5">
              <li class="col-6-12 col-tablet-1-2 col-phablet-1-1 ae-3 fromCenter" style="opacity: .4;">
                <%= image_tag("icons/key-3.png")%>
                <br/><br/><br/>
                <p>With few exceptions (historically black colleges and universities being the most notable), higher education institutions were founded and designed to serve white students, particularly those who are male, middle- to upper-class, heterosexual, able-bodied, and Christian.</p>
  							<p>Despite the increasing diversity of the American college student population, many of higher education’s policies and practices have not been reconfigured to equitably support, affirm, and validate students from racially minoritized groups.</p>
              </li>
              <li class="col-6-12 col-tablet-1-2 col-phablet-1-1 fromCenter">
                <%= image_tag("icons/key-1.svg")%>
                <p>Artifacts of Practice</p>
  							<p>Syllabi can reinforce and reproduce the norms and rules that generally align with the experience of white students, or syllabi can counter those norms and rules. For racially minoritized students who have experienced exclusion, marginalization, discrimination, and oppression in education and elsewhere, syllabi can be tools for equity-minded practice.</p>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </section>
</body>
