<section class="slide whiteSlide bg-seafoam">
  <div class="content" style="background: transparnt;">
    <div class="container">
      <div class="wrap">

				<div class="fix-12-12 toCenter left">
					
        </div>
        <div class="fix-12-12 left">
        </div>

      </div>
    </div>
  </div>
</section>
