<section class="slide whiteSlide bg-seafoam">
  <div class="content" style="background: transparnt;">
    <div class="container">
      <div class="wrap">

				<div class="fix-12-12 toCenter left">
					<h3 class="ae-1">Wait, what are…</h3>
          <h1 class="huge ae-12 text-darkpurple">TOOLS FOR EQUITY-MINDED PRACTICE?</h1>
        </div>
        <div class="fix-12-12 left">
        </div>

      </div>
    </div>
  </div>
</section>
