<body class="slides zoom horizontal noPreload animated ">

  <script>
    $(function(){
      window.autoplayInterval = setInterval(function(){
        window.changeSlide('increase');
      },4000);

      $(document).on('click mousewheel', function(){
        clearInterval(window.autoplayInterval);
      });
    });
  </script>

<%= render "shared/panels/top/nav_1" %>
<section class="slide fade-6 kenBurns" data-name="intro" data-title="Intro">
  <div class="content">
    <div class="container">
      <div class="wrap padding-top-phablet-5">

        <div class="fix-10-12 toCenter">
          <h1 class="ae-1">Six Learning Modules</h1>
          <p class="ae-2 margin-bottom-3"><span class="opacity-8">Each section is approximately 10-15 minutes.</span></p>
        </div>
        <div class="fix-12-12 margin-top-7">
          <div class="frame-97 ae-5 padding-bottom-3 margin-top-2">
            <p class="white calendar-97 absolute">
              <span class="center uppercase block bold month">step</span><span class="number regular">1</span></p>
            <h2 class="small align-left cropBottom inline-block padding-top-1">
              <span class="light margin-left-10 margin-left-phablet-0 title-group">
                How do you feel?
              </span>
              <span class="regular dislocation opacity-4 small">Exploring our reactions to racial equity.</span>
              <a href="#" class="button-buy-97"><i class="h1 text-green far fa-check-circle"></i></a>
            </h2>
          </div>
          <div class="frame-97 ae-6 padding-bottom-3 margin-top-3">
            <p class="white calendar-97 absolute">
              <span class="center uppercase block bold month">step</span>
              <span class="number regular">2</span>
            </p>
            <h2 class="small align-left cropBottom inline-block padding-top-1">
              <span class="light margin-left-10 margin-left-phablet-0 title-group">What do syllabi?</span>
              <span class="regular dislocation opacity-4 small">Exploring our reactions to racial equity.</span>
              <a href="#" class="button-buy-97"><i class="h1 far fa-arrow-circle-right"></i></a>
            </h2>
          </div>
          <div class="frame-97 ae-6 padding-bottom-3 margin-top-3 opacity-2">
            <p class="white calendar-97 absolute">
              <span class="center uppercase block bold month">step</span>
              <span class="number regular">3</span>
            </p>
            <h2 class="small align-left cropBottom inline-block padding-top-1">
              <span class="light margin-left-10 margin-left-phablet-0 title-group">What is Equity-mindedness</span>
              <span class="regular dislocation opacity-4 small">Exploring our reactions to racial equity.</span>
              <a href="#" class="button-buy-97"><i class="h1 far fa-arrow-circle-right"></i></a>
            </h2>
          </div>
          <div class="frame-97 ae-6 padding-bottom-3 margin-top-2 opacity-2">
            <p class="white calendar-97 absolute">
              <span class="center uppercase block bold month">step</span>
              <span class="number regular">4</span>
            </p>
            <h2 class="small align-left cropBottom inline-block padding-top-1">
              <span class="light margin-left-10 margin-left-phablet-0 title-group">EQMD Concepts</span>
              <span class="regular dislocation opacity-4 small">Exploring our reactions to racial equity.</span>
              <a href="#" class="button-buy-97"><i class="h1 far fa-arrow-circle-right"></i></a>
            </h2>
          </div>
          <div class="frame-97 ae-7 padding-bottom-3 margin-top-2 opacity-2">
            <p class="white calendar-97 absolute">
              <span class="center uppercase block bold month">step</span>
              <span class="number regular">5</span>
            </p>
            <h2 class="small align-left cropBottom inline-block padding-top-1">
              <span class="light margin-left-10 margin-left-phablet-0 title-group">Who do Syllabi Serve?</span>
              <span class="regular dislocation opacity-4 small">Exploring our reactions to racial equity.</span>
              <a href="#" class="button-buy-97"><i class="h1 far fa-arrow-circle-right"></i></a>
            </h2>
          </div>
          <div class="frame-97 ae-7 padding-bottom-3 margin-top-2 opacity-2">
            <p class="white calendar-97 absolute">
              <span class="center uppercase block bold month">step</span>
              <span class="number regular">6</span>
            </p>
            <h2 class="small align-left cropBottom inline-block padding-top-1">
              <span class="light margin-left-10 margin-left-phablet-0 title-group">The Syllabi Inquiry Tool</span>
              <span class="regular dislocation opacity-4 small">Exploring our reactions to racial equity.</span>
              <a href="#" class="button-buy-97"><i class="h1 far fa-arrow-circle-right"></i></a>
            </h2>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(assets/img/background/img-97.jpg)"></div>
</section>


  <section class="slide fade-6 kenBurns" data-name="intro" data-title="Intro">
    <div class="content">
      <div class="container">
        <div class="wrap">

          <h3 class="ae-1 small light margin-bottom-3 uppercase"><span class="opacity-6">Section II</span></h3>
          <h1 class="big cropBottom ae-2">What is the rationale for doing syllabus review?</h1>

        </div>
      </div>
    </div>
    <div class="background" style="background-image:url(assets/img/background/img-23.jpg)"></div>
  </section>

  <section class="slide fade-6 kenBurns">
    <div class="content">
      <div class="container">
        <div class="wrap">

          <div class="fix-10-12">
            <h3 class="ae-1 small light margin-bottom-3 uppercase"><span class="opacity-6">focus</span></h3>
            <h1 class="big thin ae-2">This section makes the case that syllabi matter and that the process of reflecting on taken-for-granted syllabi content—and then changing that content as needed to better align with equity-minded syllabi practices— can support the goal of racial/ethnic equity.</h1>
          </div>

        </div>
      </div>
    </div>
    <div class="background" style="background-image:url();"></div>
  </section>

  <!-- Slide #93 -->
<section class="slide fade-6 kenBurns">
  <div class="content">
    <div class="container">
      <div class="wrap">

        <div class="frame-93 rounded ae-1">
          <div class="ae-2">
            <h1 class="cropBottom inline">Ready to get started?
              <%= link_to intro_2_path, class: "button blue gradient small ae-3 middle margin-top-1
              margin-left-2 margin-right-2" do %>
              Let's Begin
              <% end %>
            </h1>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(assets/img/background/img-93.jpg)"></div>
</section>


</body>
