

<section class="slide">
  <div class="content">
   <div class="container">
     <div class="wrap center">
       <ul class="fix-10-12 center">
         <li class="center">
           <h1 class="ae-2 light large fromLeft">With well-crafted syllabi, faculty design learning
             experiences that positively shape and alter how students perceive their instructors
             and seek assistance for academic challenges.</h1>

           <h5 class="margin-top-8 uppercase semiBold margin-bottom-2 ae-8 text-yellow">next:
             <span class="opacity-5 margin-left-1 text-white"><i class="far fa-stopwatch"></i> A 5-minute exercise</span></h5>
           <h2 class="light small ae-8">A Deeper Understanding.</h2>
           <p class="">
             <a href="#p1" class="ae-10 center button big cell-100 rounded margin-top-3">
               I'm Ready! <i class="fad fa-long-arrow-alt-right margin-left-1"></i>
             </a>
           </p>
         </li>
       </ul>
     </div>
   </div>
 </div>
</section>


<section class="slide" data-name="p1" data-title="p1">
  <div class="content">
   <div class="container">
     <div class="wrap top">
      <ul class="flex left">
         <li class="col-12-12">
           <%= render "step5/sections/s4/title" %>
         </li>
       </ul>
       <ul class="grid left">
         <li class="col-3-12 right fromRight">
           <img class="" src="<%= image_url("graphics/my-syllabus.png") %>"/>
         </li>
         <li class="col-6-12">
           <ul class="flex margin-top-3">
            <li class="col-1-12 ae-1">
              <i class="far fa-university h2 text-gray"></i>
            </li>
            <li class="col-12-12 ae-2">
              <p class="opacity-8">Effective redsign of the syllabus is one action that can be considered to improve
                educational outcomes, particularly for students of color. With this physical document we can shape the
                way students view their instructors, the course and its material, their actions when they face academic
                difficulties, and overall, their course experience.</p>
              <p>For example, let's exercise our knowledge of the Equity-Mindedness Concept Welcoming from Step 4. </p>
            </li>
          </ul>
          <p class="">
            <a href="#p2" class="ae-10 center button big cell-100 rounded margin-top-3">
              I'm Ready! <i class="fad fa-long-arrow-alt-right margin-left-1"></i>
            </a>
          </p>
         </li>
        </ul>
     </div>
   </div>
 </div>
</section>
