<section class="slide">
  <div class="content">
   <div class="container">
     <div class="wrap top">
      <ul class="flex left">
         <li class="col-12-12">
           <%= render "step5/sections/s4/title" %>
         </li>
       </ul>
       <ul class="grid left">
         <li class="col-3-12 right fromRight">
           <img class="" src="<%= image_url("graphics/my-syllabus.png") %>"/>
         </li>
         <li class="col-8-12 right margin-top-5">
           <div class="fix-10-12 center">
             <div class="ae-2 cell-100 rounded padding-5">
               <h2 class="ae-2 light center fromLeft">With this physical document we can shape the way students
                  view their instructors, the course and its material, their actions when they face academic
                   difficulties, and overall, their course experience.
               </h2>
             </div>
            </div>
         </li>
        </ul>
     </div>
   </div>
 </div>
</section>
