<section class="slide">
  <div class="content">
   <div class="container">
     <div class="wrap top">
      <ul class="flex left">
         <li class="col-12-12">
           <%= render "step5/sections/s4/title" %>
         </li>
       </ul>
       <ul class="grid left">
         <li class="col-3-12 right fromRight">
           <img class="" src="<%= image_url("graphics/my-syllabus.png") %>"/>
         </li>
         <li class="col-9-12 right">
           <ul class="grid left">
             <li class="col-3-12 left fromRight">
               <ul class="tabs controller uppercase bold ae-1 fromCenter" data-slider-id="60">
                 <li class="selected">Office Hours</li>
                 <li>Course Goals</li>
                 <li>Attendance</li>
                 <li>Participation</li>
               </ul>
             </li>
             <li class="col-9-12 left fromRight">
               <ul class="slider animated" data-slider-id="60">
                 <li class="selected fromCenter">
                   <ul class="grid left">
                     <li class="col-6-12 left fromRight">
                       <h3 class="semiBold teal padding-2">Welcoming</h3>
                       <p class="small normal">
                         Location: 233 Jones Hall<br/>
                          Monday, Wednesay, Friday 10:00 - 10:50 a.m.<br/>
                          Tuesday, Thursday 9:30–10:30 a.m.<br/>
                          jsmith@schoolname.com<br/><br/>

                          <span class="text-teal">I welcome you to contact me outside of class and student hours.
                          You may email me, call my office, or contact the department
                          and leave a message.</span></p>
                     </li>
                     <li class="col-6-12 left fromRight">
                       <h3 class="semiBold teal padding-2">Unwelcoming</h3>
                       <p class="small normal">
                          Location: 233 Jones Hall<br/>
                          Monday, Wednesay, Friday 10:00 - 10:50 a.m.<br/>
                          Tuesday, Thursday 9:30–10:30 a.m.<br/>
                          jsmith@schoolname.com<br/><br/>

                          <span class="">If	you	need	to	contact	me	outside	of	office hours,	you
                            may	email	me,	call	my	office,	or contact	the	department	and	leave	a
                            message</span>
                          </p>
                     </li>
                   </ul>
                 </li>
                 <li class="fromCenter">
                   <ul class="grid left">
                     <li class="col-6-12 left fromRight">
                       <h3 class="semiBold teal padding-2">Welcoming</h3>
                       <p class="small normal">
                         Some	of the specific skills <span class="text-teal">I	hope you will obtain in this cours	are	listed	below.
                         Being	a	critical	consumer	of	information</span> about	mental	processes	and	behavior
                         is important;	all	of	these	activities	will	help you	become	one,	and	it
                         is	my	hope	that you	will	use	the	skills	in	your	daily	life.</p>
                     </li>
                     <li class="col-6-12 left fromRight">
                       <h3 class="semiBold teal padding-2">Unwelcoming</h3>
                       <p class="small normal">
                         Some	of	the	specific	skills	you	should obtain	in	this	course
                         are	listed	below. Because	you	are	not	yet	a	critical	consumer of
                         information	about	mental	processes	and behavior,	all	of	these	activities
                         	will	help	you become	one,	and	if	you	are	motivated enough,	use	the	skills
                         in	your	daily	life.</p>
                     </li>
                    </ul>
                 </li>
                 <li class="fromCenter">
                   <ul class="grid left">
                     <li class="col-6-12 left fromRight">
                       <h3 class="semiBold teal padding-2">Welcoming</h3>
                       <p class="small normal text-teal">
                         You	should	attend	every	class	but extenuating	circumstances	arise	that	can
                         make	this	difficult.	</p>
                      <p class="small normal">If	you	cannot	attend	a class,	please	let	me
                         know.	If circumstances	make	you	miss	more	than 3	classes	during	the
                         semester,<span class="text-teal"> you	may be	overextended.	I	ask	that	you	come	see me	to	discuss
                         your	options.</span></p>
                     </li>
                     <li class="col-6-12 left fromRight">
                       <h3 class="semiBold teal padding-2">Unwelcoming</h3>
                       <p class="small normal text-teal">
                         I	expect	you	to	attend	every	class.	</p>
                       <p class="small normal">If	you	 cannot	attend	a	class,
                         please	let	me	know.	If	circumstances	make	you	miss	more	than	3
                         classes	during	the	semester,	I	will	drop	you	 from	the	class	roster
                         in	accordance	with	the	college’s	attendance	policy.
                       </p>
                     </li>
                    </ul>
                 </li>
                 <li class="fromCenter">
                   <ul class="grid left">
                     <li class="col-6-12 left fromRight">
                       <h3 class="semiBold teal padding-2">Welcoming</h3>
                       <p class="small normal text-teal">
                         All	of	us	in	the	class,	you,	me,	your	peers, have	a	responsibility
                         to	create	an environment	in	which	we	can	all	learn from	each	other.
                         I	expect	everyone	to participate	in	class	so	that	we	can	all benefit
                         from	the	insights	and	experiences that	each	person	brings.</p>
                     </li>
                     <li class="col-6-12 left fromRight">
                       <h3 class="semiBold teal padding-2">Unwelcoming</h3>
                       <p class="small normal ">
                         Come	prepared	to	actively	participate	in this	course.	This	is	the	best
                         way	to	engage you	in	learning	the	material	(and	it	makes the	lectures
                         more	interesting).</p>
                     </li>
                    </ul>
                 </li>

               </ul>
            </li>
          </ul>
       </div>
     </div>
   </div>
</section>
