<section class="slide whiteSlide" data-name="p3" data-title="p3">
  <div class="content">
    <div class="container">
      <div class="wrap padding-top-5">
        <div class="">
          <div class="left">
            <h3 class="font-weight-bold">Prompt Inquiry</h3>
            <h1 class="huge fromLeft text-blue bold">Decontruction and Reflection</h1>
          </div>
          <ul class="grid">
            <li class="col-6-12 left cell-33">
              <div class="padding-right-5">
                <h2 class="small fromLeft bold text-teal">Who does your syllabus serve?</h2>
                <ul class="flex margin-bottom-3">
                  <li class="col-1-12">
                    <i class="far fa-check-circle h2 text-green"></i>
                  </li>
                  <li class="col-11-12">
                    <p class="fromLeft"><span class="opacity-8">Deconstructing your syllabus in terms of who it serves entails categorizing its
                     content by audiences. Pull out your syllabus anad follow along…</span></p>
                  </li>
                </ul>
              </div>
              <p>Reflecting on your inequity observations and findings is another fundamental aspect of equity-minded inquiry process.</p>
              <p class="bold">1. Count the number of instances for each audience.</p>
              <form class="slides-form wide" action="#" autocomplete="off">
                <ul class="flex fixedSpaces verticalCenter reverse">
                  <li class="col-4-12 ae-4">
                    <ul class="flex fixedSpaces verticalCenter reverse">
                      <li class="col-5-10 ae-4">
                        <span class="h3 text-teal">INSTITUTION</span>
                      </li>
                      <li class="col-4-10 ae-4 left">
                        <input class="wide" id="email42" type="email" name="email" placeholder="" address" required/>
                      </li>
                    </ul>
                  </li>
                  <li class="col-4-12 ae-4">
                    <ul class="flex fixedSpaces verticalCenter reverse">
                      <li class="col-6-10 ae-4">
                        <span class="h3 text-teal right">DEPARTMENT</span>
                      </li>
                      <li class="col-4-10 ae-4 left">
                        <input class="wide" id="email42" type="email" name="email" placeholder="" address" required/>
                      </li>
                    </ul>
                  </li>
                  <li class="col-4-12  ae-4">
                    <ul class="flex fixedSpaces verticalCenter reverse">
                      <li class="col-5-10 ae-4 right">
                        <span class="h3 text-teal ">FACULTY</span>
                      </li>
                      <li class="col-4-10 ae-4 left">
                        <input class="wide" id="email42" type="email" name="email" placeholder="" address" required/>
                      </li>
                    </ul>
                  </li>
                </ul>
              </form>
            </li>
            <li class="col-6-12 right ae-4 fromRight">
              <img class="margin-top-5 margin-left-5"  data-action="zoom" width="1200" src="<%= image_url("graphics/syllabus.svg") %>"/>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(assets/img/background/img-33.jpg)"></div>
</section>
