<section class="slide whiteSlide" data-name="p7" data-title="p7">
  <div class="content">
    <div class="container">
      <div class="wrap padding-top-4">
        <div class="">
          <div class="left">
            <h3 class="font-weight-bold">Prompt Inquiry</h3>
            <h1 class="huge fromLeft text-blue bold">Decontruction and Reflection</h1>
          </div>
          <ul class="grid">
            <li class="col-6-12 left cell-33">
              <div class="padding-right-5">
                <h2 class="small fromLeft bold text-teal">Who does your syllabus serve?</h2>
                <ul class="flex margin-bottom-3">
                  <li class="col-1-12">
                    <i class="far fa-check-circle h2 text-green"></i>
                  </li>
                  <li class="col-11-12">
                    <p class="fromLeft"><span class="opacity-8">Deconstructing your syllabus in terms of who it serves entails categorizing its
                     content by audiences. Pull out your syllabus anad follow along…</span></p>
                  </li>
                </ul>
              </div>
              <div class="opacity-5 margin-bottom-4">
                <p>Reflecting on your inequity observations and findings is another fundamental aspect of equity-minded inquiry process.</p>
                <p class="bold">1. Count the number of instances for each audience.</p>
                <form class="slides-form wide" action="#" autocomplete="off">
                  <ul class="flex fixedSpaces verticalCenter reverse">
                    <li class="col-4-12">
                      <ul class="flex fixedSpaces verticalCenter reverse">
                        <li class="col-6-10">
                          <span class="h3 text-teal">INSTITUTION</span>
                        </li>
                        <li class="col-4-10">
                          <span class="h3 text-teal">4</span>
                        </li>
                      </ul>
                    </li>
                    <li class="col-4-12">
                      <ul class="flex fixedSpaces verticalCenter reverse">
                        <li class="col-6-10">
                          <span class="h3 text-teal">DEPARTMENT</span>
                        </li>
                        <li class="col-4-10">
                          <span class="h3 text-teal">6</span>
                        </li>
                      </ul>
                    </li>
                    <li class="col-4-12">
                      <ul class="flex fixedSpaces verticalCenter reverse">
                        <li class="col-5-10">
                          <span class="h3 text-teal ">FACULTY</span>
                        </li>
                        <li class="col-4-10 left">
                          <span class="h3 text-teal">7</span>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </form>
              </div>
              <div class="opacity-5 margin-bottom-4">
                <p class="bold">2. Scan your syllabus again. Where did each audience appear with more frequency? </p>
                <form class="slides-form wide" action="#" autocomplete="off">
                <ul class="flex fixedSpaces verticalCenter">
                  <li class="col-6-12">
                    <ul class="flex fixedSpaces verticalCenter">
                      <li class="col-5-10">
                        <span class="h3 text-teal">INSTITUTION</span>
                      </li>
                      <li class="col-5-10 left">
                        <a href="#" class="wide button teal">Beginnning</a>
                      </li>
                    </ul>
                    <ul class="flex fixedSpaces verticalCenter">
                      <li class="col-5-10">
                        <span class="h3 text-teal">DEPARTMENT</span>
                      </li>
                      <li class="col-5-10 left">
                        <a href="#" class="wide button teal">Middle</a>
                      </li>
                    </ul>
                    <ul class="flex fixedSpaces verticalCenter">
                      <li class="col-5-10">
                        <span class="h3 text-teal">FACULTY</span>
                      </li>
                      <li class="col-5-10 left">
                        <a href="#" class="wide button teal">End</a>
                      </li>
                    </ul>
                  </li>
                  <li class="col-6-12">
                    <p class="text-gray margin-left-5">Are any of these patterns surprising to you?…</p>
                  </li>
                </ul>
                </form>
              </div>
              <p>
                3. Consider. Based on these patterns, for whom would you say
                your syllabus is written? Does this match your prior thinking?
              </p>
              <p>
                4. Consider. What did you learn from completing this exercise?
              </p>

            </li>
            <li class="col-6-12 right ae-4 fromRight">
              <img class="margin-top-5 margin-left-5"  data-action="zoom" width="1200" src="<%= image_url("graphics/syllabus.svg") %>"/>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(assets/img/background/img-33.jpg)"></div>
</section>
