<ul class="grid">
  <li class="col-5-12 left">
    <h3 class="font-weight-bold opacity-3">Deeper Understanding</h3>
    <h1 class="big fromLeft normal">How Could Syllabi Serve</h1>
    <h3 class="semiBold margin-bottom-7 text-teal"><i class="fal fa-lightbulb-on"></i> With well-crafted syllabi, faculty design learning experiences that positively shape and alter how students perceive their instructors and seek assistance for academic challenges.</h3>
  </li>
</ul>
