
		</main>

		<footer class="main-footer pt-100 pb-90">

			<section>
				<div class="container">
					<div class="row d-md-flex flex-wrap align-items-center">

						<div class="lqd-column col-md-4 col-sm-12">

							<ul class="social-icon social-icon-md mb-25">
								<li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#" target="_blank"><i class="fa fa-behance"></i></a></li>
								<li><a href="#" target="_blank"><i class="fa fa-dribbble"></i></a></li>
							</ul>
							<p class="font-size-16">Copyright 2019 <span class="text-secondary font-weight-bold">Ave</span>. All Rights Reserved.</p>

						</div><!-- /.col-md-4 -->

						<div class="lqd-column col-md-2 col-xs-6">

							<h3 class="widget-title">Main Navigation</h3>
							<ul class="lqd-custom-menu reset-ul font-size-16 lh-2">
								<li><a href="#">Home</a></li>
								<li><a href="#">Product</a></li>
								<li><a href="#">Customers</a></li>
								<li><a href="#">Pricing</a></li>
							</ul>

						</div><!-- /.col-md-2 -->

						<div class="lqd-column col-md-2 col-xs-6">

								<h3 class="widget-title">Abous Us</h3>
								<ul class="lqd-custom-menu reset-ul font-size-16 lh-2">
									<li><a href="#">Company</a></li>
									<li><a href="#">Jobs</a></li>
									<li><a href="#">Press</a></li>
									<li><a href="#">Blog</a></li>
								</ul>

						</div><!-- /.col-md-2 -->

						<div class="lqd-column col-md-2 col-xs-6">

							<h3 class="widget-title">Abous Us</h3>
							<ul class="lqd-custom-menu reset-ul font-size-16 lh-2">
								<li><a href="#">Managment</a></li>
								<li><a href="#">Reporting</a></li>
								<li><a href="#">Tracking</a></li>
								<li><a href="#">All Users</a></li>
							</ul>

						</div><!-- /.col-md-2 -->

						<div class="lqd-column col-md-2 col-xs-6">

							<h3 class="widget-title">Resources</h3>
							<ul class="lqd-custom-menu reset-ul font-size-16 lh-2">
								<li><a href="#">Ave Guide</a></li>
								<li><a href="#">Support</a></li>
								<li><a href="#">Integrations</a></li>
								<li><a href="#">Cummunity</a></li>
							</ul>

						</div><!-- /.col-md-2 -->

					</div><!-- /.row -->
				</div><!-- /.container -->
			</section>

		</footer><!-- /.main-footer -->

	</div><!-- /#wrap -->
