<!-- Panel Top #12 -->
<nav class="panel top">
  <!-- desktop version -->
  <div class="sections desktop">
    <div class="left">
      <%= link_to class:"button hollow" do %>
        <%= image_tag("graphics/cue-logo@3x.png", width: "auto", height:"50")%>
      <% end %>
    </div>
    <div class="center">
      <!-- <ul class="menu">
        <li><a href="#">Tour</a></li>
        <li><a href="#">Upgrade</a></li>
        <li><a href="#">Help</a></li>
        <li><a href="#">Explore</a></li>
      </ul> -->
    </div>
    <div class="right"><span class="button actionButton sidebarTrigger" data-sidebar-id="1"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu"></use></svg></span></div>
  </div>
  <!-- compact version -->
  <div class="sections compact hidden">
    <div class="left"><a href="#" title="Slides Framework"><svg style="width:82px;height:24px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo"></use></svg></a></div>
    <div class="right"><span class="button actionButton sidebarTrigger" data-sidebar-id="1"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu"></use></svg></span></div>
  </div>
</nav>
