
  <!-- compact version -->
  <div class="sections compact hidden">
    <div class="left"><a href="#" title="Slides Framework"><svg style="width:82px;height:24px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo"></use></svg></a></div>
    <div class="right">
      <!-- <span class="button actionButton sidebarTrigger" data-sidebar-id="1"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu"></use></svg></span> -->
      <span class="button actionButton fullscreenToggle white"><i class="material-icons">fullscreen</i></span>
    </div>
  </div>
</nav>
