<!-- White Slide #01 -->
<section class="slide transparent whiteSlide autoHeight" style="background: #;">
  <div class="content">
    <div class="container">
      <div class="wrap">

        <div class="fix-4-12">
          <%= image_tag("graphics/mind@3x.png", class: "wide ae-1 fromCenter")%>
        </div>

      </div>
    </div>
  </div>
</section>
