<header class="main-header main-header-overlay">

			<div class="mainbar-wrap">

				<div class="container mainbar-container">
					<div class="mainbar">
						<div class="row mainbar-row align-items-lg-stretch">

							<div class="col">
								<div class="navbar-header">
									<a class="navbar-brand" href="index-services.html" rel="home">
										<span class="navbar-brand-inner">
											<%= image_tag("graphics/cue-logo.png")%>
										</span>
									</a>
									<button type="button" class="navbar-toggle collapsed nav-trigger style-mobile" data-toggle="collapse" data-target="#main-header-collapse" aria-expanded="false" data-changeclassnames='{ "html": "mobile-nav-activated overflow-hidden" }'>
										<span class="sr-only">Toggle navigation</span>
										<span class="bars">
											<span class="bar"></span>
											<span class="bar"></span>
											<span class="bar"></span>
										</span>
									</button>
								</div><!-- /.navbar-header -->
							</div><!-- /.col -->

							<div class="col text-center">
								<div class="header-module">
									<h1 class="ltr-sp-1 px-3">EQMD</h1>
								</div>

							</div><!-- /.col -->

							<div class="col text-right">

								<div class="header-module">

									<a href="#" class="btn btn-default text-uppercase btn-sm circle btn-bordered border-thin btn-gradient font-size-13 font-weight-bold ltr-sp-1 px-3 color-secondary">
										<span>
											<span class="btn-txt">Purchase Ave</span>
											<span class="btn-gradient-bg btn-gradient-bg-hover"></span>
											<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" class="btn-gradient-border" width="100%" height="100%">
												<defs>
													<linearGradient id="svg-border-1" x1="0%" y1="0%" x2="100%" y2="0%">
														<stop offset="0%" style="stop-color: #34dbc5;"></stop>
														<stop offset="100%" style="stop-color: #4fda91;"></stop>
													</linearGradient>
												</defs>
												<rect x="0.5" y="0.5" rx="25" ry="25" width="100%" height="100%" stroke="url(#svg-border-1)"></rect>
											</svg>
										</span>
									</a>

								</div><!-- /.header-module -->

							</div><!-- /.col -->

						</div><!-- /.maonbar-row -->
					</div><!-- /.mainbar -->
				</div><!-- /.mainbar-container -->

			</div><!-- /.mainbar-wrap -->

</header>
