<nav class="panel bottom">
  <div class="sections">
    <div class="center">
      <p class="opacity-4 bold micro">
        <a href="#">
          COPYRIGHT 2019 CUE
        </a>
      </p>
    </div>
  </div>
</nav>

<body class="slides zoom horizontal noPreload animated">
  <section class="slide fade-1 kenBurns whiteSlide">
    <div class="content lighTeal">
      <div class="container">
        <div class="wrap ">
          <div class="eqmd-bg" style="z-index:">
            <span class="ae-4">eqmd</span>
          </div>

          <ul class="fix-12-12">
            <li class="fix-2-12 margin-bottom-12">
              <%= image_tag("graphics/cue-logo@3x.png", class: "ae-1 wide ae-1 fromCenter")%>
            </li>
            <li class="ae-2 fix-12-12">
              <div class="hero-header">
                <h1 class="ae-2 header-1 text-cueRed">Equity-Mindedness</h1>
                <h2 class="ae-2 header-1 text-cueRed">in the classroom</h2>
                <p class="hero text-black">
                  An	inquiry	tool	for	promoting	racial/ethnic<br/>
                  equity	and	equity-minded	practice.
                </p>
              </div>
            </li>
          </ul>
          <br/>
          <br/>
          <%= link_to "Let's Get Started", signup_path, class: "button circle cueRed gradient ae-3 margin-right-1" %>
        </div>
      </div>
    </div>
    <div class="background" style="background-image:url();"></div>
  </section>
</body>
