<header class="main-header main-header-overlay">

			<div class="mainbar-wrap">

				<div class="container mainbar-container">
					<div class="mainbar">
						<div class="row mainbar-row align-items-lg-stretch">

							<div class="col">
								<div class="navbar-header">
									<a class="navbar-brand" href="index-services.html" rel="home">
										<span class="navbar-brand-inner">
											<img class="logo-default" src="./assets/img/logo/logo-1.svg" alt="Ave HTML Template">
										</span>
									</a>
									<button type="button" class="navbar-toggle collapsed nav-trigger style-mobile" data-toggle="collapse" data-target="#main-header-collapse" aria-expanded="false" data-changeclassnames='{ "html": "mobile-nav-activated overflow-hidden" }'>
										<span class="sr-only">Toggle navigation</span>
										<span class="bars">
											<span class="bar"></span>
											<span class="bar"></span>
											<span class="bar"></span>
										</span>
									</button>
								</div><!-- /.navbar-header -->
							</div><!-- /.col -->

							<div class="col text-center">

								<div class="collapse navbar-collapse" id="main-header-collapse" aria-expanded="false" role="tablist">

									<ul id="primary-nav" class="main-nav main-nav-hover-underline-2 nav align-items-lg-stretch justify-content-lg-center" data-submenu-options='{ "toggleType": "fade", "handler": "mouse-in-out" }'>
										<li class="current-menu-item">
											<a href="#">
												<span class="link-icon"></span>
												<span class="link-txt">
													<span class="link-ext"></span>
													<span class="txt">Home</span>
												</span>
											</a>
										</li>
										<li>
											<a href="#">
												<span class="link-icon"></span>
												<span class="link-txt">
													<span class="link-ext"></span>
													<span class="txt">About</span>
												</span>
											</a>
										</li>
										<li>
											<a href="#">
												<span class="link-icon"></span>
												<span class="link-txt">
													<span class="link-ext"></span>
													<span class="txt">Portfolio</span>
												</span>
											</a>
										</li>
										<li>
											<a href="#">
												<span class="link-icon"></span>
												<span class="link-txt">
													<span class="link-ext"></span>
													<span class="txt">Features</span>
												</span>
											</a>
										</li>
										<li>
											<a href="#">
												<span class="link-icon"></span>
												<span class="link-txt">
													<span class="link-ext"></span>
													<span class="txt">Team</span>
												</span>
											</a>
										</li>
										<li>
											<a href="#">
												<span class="link-icon"></span>
												<span class="link-txt">
													<span class="link-ext"></span>
													<span class="txt">Blog</span>
												</span>
											</a>
										</li>
									</ul>

								</div><!-- /.collapse -->

							</div><!-- /.col -->

							<div class="col text-right">

								<div class="header-module">

									<a href="#" class="btn btn-default text-uppercase btn-sm circle btn-bordered border-thin btn-gradient font-size-13 font-weight-bold ltr-sp-1 px-3 color-secondary">
										<span>
											<span class="btn-txt">Purchase Ave</span>
											<span class="btn-gradient-bg btn-gradient-bg-hover"></span>
											<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" class="btn-gradient-border" width="100%" height="100%">
												<defs>
													<linearGradient id="svg-border-1" x1="0%" y1="0%" x2="100%" y2="0%">
														<stop offset="0%" style="stop-color: #34dbc5;"></stop>
														<stop offset="100%" style="stop-color: #4fda91;"></stop>
													</linearGradient>
												</defs>
												<rect x="0.5" y="0.5" rx="25" ry="25" width="100%" height="100%" stroke="url(#svg-border-1)"></rect>
											</svg>
										</span>
									</a>

								</div><!-- /.header-module -->

							</div><!-- /.col -->

						</div><!-- /.maonbar-row -->
					</div><!-- /.mainbar -->
				</div><!-- /.mainbar-container -->

			</div><!-- /.mainbar-wrap -->

</header>
<section class="vc_row fullheight d-flex flex-wrap align-items-stretch">

<div class="lqd-particles-bg-wrap" style="height: 400px;">

<div class="ld-particles-container">
	<div
		class="ld-particles-inner"
		id="ld-1527244273759-519b63e0-a9d6"
		data-particles="true"
		data-particles-options='{"particles":{"shape":{"type":["triangle"]},"move":{"enable":true,"direction":"right","out_mode":"out","attract":{"enable":true}}},"interactivity":[]}'>
	</div>
</div>

</div><!-- /.lqd-particles-bg-wrap -->

<div class="container d-flex align-items-stretch">
<div class="row d-flex flex-wrap align-items-stretch w-100">

	<div class="lqd-column col-md-10 col-md-offset-1 py-8s bg-white d-flex flex-wrap align-items-center justify-content-center white-box-shadow">

		<div
			class="lqd-column-inner w-100 text-center"
			data-custom-animations="true"
			data-ca-options='{"triggerHandler":"inview","animationTarget":"all-childs","duration":"1200","delay":"150","easing":"easeOutQuint","direction":"forward","initValues":{"translateY":26,"opacity":0},"animations":{"translateY":0,"opacity":1}}'
		>

			<h2
			class="mt-md-6 mt-0 mb-4 mb-2 lh-1"
			data-fittext="true"
			data-fittext-options='{ "compressor":0.5,"maxFontSize": 150,"minFontSize": 62 }'
			data-split-text="true"
			data-split-options='{"type":"words"}'
			>Equity Mindedness </h2>

			<div class="row">
				<div
					class="lqd-column col-md-8 col-md-offset-2 px-3"
					data-custom-animations="true"
					data-ca-options='{"triggerHandler":"inview","animationTarget":"all-childs","duration":"1200","delay":"150", "startDelay": 120,"easing":"easeOutQuint","direction":"forward","initValues":{"translateY":26,"opacity":0},"animations":{"translateY":0,"opacity":1}}'>

					<p class="font-size-20 px-md-4 mb-md-7" data-split-text="true" data-split-options='{"type":"lines"}'>Here, we'll take a deep dive into Equity Mindedness, figure out what it's all about, and how it can change your classroom forever.</p>

					<a href="#" class="btn btn-default text-uppercase btn-lg circle btn-bordered border-thin btn-gradient font-size-13 font-weight-bold ltr-sp-1 px-2 mb-2" data-localscroll="true" data-localscroll-options='{"scrollBelowSection":true}'>
						<span>
							<span class="btn-txt">let's get started</span>
							<span class="btn-gradient-bg btn-gradient-bg-hover"></span>
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" class="btn-gradient-border" width="100%" height="100%">
								<defs>
									<linearGradient id="svg-border-2" x1="0%" y1="0%" x2="100%" y2="0%">
										<stop offset="0%"></stop>
										<stop offset="100%"></stop>
									</linearGradient>
								</defs>
								<rect x="0.5" y="0.5" rx="30.5" ry="30.5" width="100%" height="100%" stroke="url(#svg-border-2)"></rect>
							</svg>
						</span>
					</a>

					<a href="#" class="btn btn-solid text-uppercase btn-lg circle btn-solid border-thin btn-gradient btn-icon-left btn-icon-circle btn-icon-bordered color-secondary font-size-13 font-weight-bold ltr-sp-1 mb-2">
						<span>
							<span class="btn-gradient-bg"></span>
							<span class="btn-txt">how it works</span>
							<span class="btn-icon"><i class="fa fa-play"></i></span>
							<span class="btn-gradient-bg btn-gradient-bg-hover"></span>
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" class="btn-gradient-border" width="100%" height="100%">
								<defs>
									<linearGradient id="svg-border-3" x1="0%" y1="0%" x2="100%" y2="0%">
										<stop offset="0%" style="stop-color: #4fda91;"></stop>
										<stop offset="100%" style="stop-color: #34dbc5;"></stop>
									</linearGradient>
								</defs>
								<rect x="0.5" y="0.5" rx="30.5" ry="30.5" width="100%" height="100%" stroke="url(#svg-border-3)"></rect>
							</svg>
						</span>
					</a>

					<p class="font-size-13 text-uppercase ltr-sp-1 text-dark mt-90">Keep Connected</p>
					<ul class="social-icon social-icon-md">
						<li>
							<a href="#" target="_blank">
								<i class="fa fa-facebook"></i>
							</a>
						</li>
						<li>
							<a href="#" target="_blank">
								<i class="fa fa-twitter"></i>
							</a>
						</li>
						<li>
							<a href="#" target="_blank">
								<i class="fa fa-behance"></i>
							</a>
						</li>
						<li>
							<a href="#" target="_blank">
								<i class="fa fa-dribbble"></i>
							</a>
						</li>
					</ul>

				</div><!-- /.col-md-8 col-md-offset-2 -->
			</div><!-- /.row -->

		</div><!-- /.lqd-column-inner -->

	</div><!-- /.col-md-6 -->

</div><!-- /.row -->
</div><!-- /.container -->

</section>
