<nav class="panel bottom">
  <div class="sections">
    <div class="center">
      <p class="opacity-4 bold te micro">
        <a href="#">
          COPYRIGHT 2019 CUE
        </a>
      </p>
    </div>
  </div>
</nav>

<body class="slides zoom horizontal noPreload animated">
  <section class="slide fade-1 kenBurns whiteSlide">
    <div class="content" style="background: #e0f8f6;">
      <div class="container">
        <div class="wrap center">
          <div class="eqmd-bg" style="z-index:">
            <span class="ae-4">eqmd</span>
          </div>

          <ul class="fix-12-12 margin-top-10">
            <li class="ae-2 fix-12-12">
              <div class="hero-header margin-top">
                <h1 class="special ae-2 header-1 text-cueRed">Equity-Mindedness</h1>
                <h2 class="ae-2 header-1 text-cueRed">in the classroom</h2>
                <p class="hero text-black">
                  An	inquiry	tool	for	promoting	racial/ethnic<br/>
                  equity	and	equity-minded	practice.
                </p>
              </div>
            </li>
          </ul>
          <br/>
          <br/>
          <%= link_to signup_path, class: "button with_icon_right circle btn-primary gradient ae-3" do %>
          Let's Get Started <i class="far fa-arrow-circle-right"></i>
          <% end %>
        </div>
      </div>
    </div>
    <div class="background" style="background-image:url();"></div>
  </section>
</body>
