<!-- Panel Top #12 -->
<nav class="panel top">
  <!-- desktop version -->
  <div class="sections desktop">
    <div class="left">
      <%= link_to class:"button hollow" do %>
        <%= image_tag("graphics/cue-logo@3x.png", width: "auto", width:"80", style: "border-radius: 6px; margin: 10px;")%>
      <% end %>
    </div>
    <div class="center">
      <!-- <ul class="menu">
        <li><a href="#">Tour</a></li>
        <li><a href="#">Upgrade</a></li>
        <li><a href="#">Help</a></li>
        <li><a href="#">Explore</a></li>
      </ul> -->
    </div>
    <div class="right"><span class="button actionButton sidebarTrigger" data-sidebar-id="1"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu"></use></svg></span></div>
  </div>
  <!-- compact version -->
  <div class="sections compact hidden">
    <div class="left"><a href="#" title="Slides Framework"><svg style="width:82px;height:24px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo"></use></svg></a></div>
    <div class="right"><span class="button actionButton sidebarTrigger" data-sidebar-id="1"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu"></use></svg></span></div>
  </div>
</nav>


<!-- Slide #21 -->
<section class="slide fade-6 kenBurns">
  <div class="content">
    <div class="container">
      <div class="wrap">

        <div class="fix-10-12">
          <h1 class="big ae-1 header-1">EQUITY-MINDEDNESS</h1>
          <h3 class="big ae-1 sub-header-1">IN THE CLASSROOM</h3>
          <p class="hero ae-2">
            <span class="opacity-8">
              Here, we'll take a deep dive into Equity Mindedness, figure out<br/>
               what it's all about, and how it can change your classroom forever.
           </span>
         </p>
          <a class="button blue gradient ae-3 margin-right-1">Let's Get Started</a>

        </div>

      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(assets/img/background/img-21.jpg)"></div>
</section>

<!-- Popup Video -->
<div class="popup autoplay" data-popup-id="21">
  <div class="close"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use></svg></div>
  <div class="content">
    <div class="container">
      <div class="wrap">
        <div class="fix-10-12">
          <div class="embedVideo popupContent">
            <iframe src="https://www.youtube.com/embed/g8yBqxTiHSs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Slide #34 -->
<section class="slide fade-6 kenBurns">
  <div class="content" style="background: rgba(0, 0, 54, 5)">
    <div class="container">
      <div class="wrap">

        <div class="fix-12-12">
          <ul class="flex fixedSpaces verticalCenter reverse">
            <li class="col-6-12 left middle">
              <h5 class="ae-1 fromLeft"">Center for Urban Education</h5>
              <br/>
              <h1 class="ae-2 fromLeft">EQUITY-MINDEDNESS</h1>
              <h3>IN THE CLASSROOM</h3>
              <p class="ae-3 fromLeft"><span class="opacity-8">The sudden hunch, the creative leap of mind that “sees” in a flash how to solve a problem in a simple way, is something quite&nbsp;different.</span></p>
              <a class="button blue gradient ae-3 fromCenter cropLeft">Get Started</a><a class="button white ae-4 fromCenter">Learn more</a>
            </li>
            <li class="col-6-12">
              <img class="ae-4" width="605" src="assets/img/iphones-34.png" alt="iPhones Thumbnail" data-action="zoom"/>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(assets/img/background/img-34.jpg)"></div>
</section>

<!-- Slide #1 -->
<section class="slide fade-6 whiteSlide kenBurns">
<div class="content" style="background: rgba(221, 251, 255, .75)">
<div class="container">
<div class="wrap">

  <div class="fix-10-12">
		<h1 class="huge thin ae-2 cue-red"></h1>
		<!-- <p class="hero ae-1">Please tell us a little bit about yourself before we get started.</p> -->
  </div>
	<div class="margin-top-2">
		<form class="slides-form" action="step_1.html">
			<!-- <input type="text" class="input-8 ae-4 fromCenter" name="user-name" placeholder="Full Name" val=""/>
			<input type="text" class="input-8 ae-4 fromCenter" name="user-school" placeholder="School" val=""/>
			<input type="text" class="input-8 ae-4 fromCenter" name="user-title" placeholder="Title" val=""/>
			<input type="email" class="input-8 ae-4 fromCenter" name="user-email" placeholder="Email" val=""/> -->

      <%= link_to "Let's Get Started", section_1_path, class: "button blue gradient ae-7 fromCenter" %>

		</form>
	</div>

</div>
</div>
</div>
<div class="background" style="background-image:url(assets/istock/1.jpg)"></div>
</section>
