<body class="slides zoom noPreload animated">
  <section class="slide kenBurns" data-name="index" data-title="index">
      <div class="content" style="background: #0D605F;">
        <div class="container">
          <div class="wrap">
            <div class="fix-12-12 left">
              <div class="fix-7-12 toLeft">
                <div class="ae-5 fromRight"><p class="opacity-6 margin-bottom-1 semiBold">Center for Urban Education</p></div>
                <h1 class="huge ae-1 margin-bottom-3">Syllabus Review Guide</h1>
                <p class="lead ae-3">An	inquiry	tool	for	promoting	racial/ethnic<br>
                  equity	and	equity-minded	practice.</p>

                <%= link_to "Let's Get Started", onboarding_path, class: "button big ae-2 crop" %>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
