<body class="slides zoom horizontal noPreload animated">

  <!-- Slide 1 (#72) -->
  <section class="slide fade-6 kenBurns">
    <div class="content">
      <div class="container">
        <div class="wrap">

          <div class="fix-12-12 left">
            <div class="fix-7-12 toLeft">
              <div class="ae-5 fromRight"><p class="opacity-6 margin-bottom-1 semiBold">Center for Urban Education</p></div>
              <h1 class="huge ae-1 margin-bottom-3">Syllabus Review Guide</h1>
              <a href="#" class="button blue gradient ae-2 crop">Start free trial</a>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="background" style="background-image:url(assets/img/background/img-72.jpg)"></div>
  </section>

  <!-- Slide 2 (#74) -->
  <section class="slide fade-6 kenBurns">
    <div class="content">
      <div class="container">
        <div class="wrap">

          <div class="fix-10-12 toCenter">
            <h1 class="ae-1">Six Steps to Equity Mindedness</h1>
            <p class="ae-2"><span class="opacity-8">Creativity often consists of merely turning up what is already there. Did you know that right and left shoes were thought up only a little more than a century ago?</span></p>
          </div>
          <div class="fix-12-12">
            <ul class="grid grid-74 later equal margin-top-5">
              <li class="col-3-12 col-tablet-1-2 col-phablet-1-1 ae-3 fromCenter">
                <a href="#" class="box-74">
                  <div class="thumbnail-74">
                    <%= image_tag("emoji/animations/disinterested.gif", class: "wide")%>
                  </div>
                  <div class="name-74 equalElement table wide">
                    <div class="cell left top">
                      <h3 class="">Inspiration</h3>
                      <p class="tiny opacity-6 cropBottom">Creativity is allowing yourself to make&nbsp;mistakes.</p>
                    </div>
                  </div>
                </a>
              </li>
              <li class="col-3-12 col-tablet-1-2 col-phablet-1-1 ae-4 fromCenter">
                <a href="#" class="box-74">
                  <div class="thumbnail-74">
                    <img src="assets/img/gallery-74-2.jpg" class="wide" alt="Thumbnail"/>
                    <%= image_tag("emoji/animations/interested.gif", class: "wide")%>
                  </div>
                  <div class="name-74 equalElement table wide">
                    <div class="cell left top">
                      <h3 class="">The Moment</h3>
                      <p class="tiny opacity-6 cropBottom">A person tends to critique a design in one of several&nbsp;ways.</p>
                    </div>
                  </div>
                </a>
              </li>
              <li class="col-3-12 col-tablet-1-2 col-phablet-1-1 ae-5 fromCenter">
                <a href="#" class="box-74">
                  <div class="thumbnail-74">
                    <%= image_tag("emoji/animations/uncomfortable.gif", class: "wide")%>
                  </div>
                  <div class="name-74 equalElement table wide">
                    <div class="cell left top">
                      <h3 class="">Journey</h3>
                      <p class="tiny opacity-6 cropBottom">More designers should share space, share&nbsp;resources.</p>
                    </div>
                  </div>
                </a>
              </li>
              <li class="col-3-12 col-tablet-1-2 col-phablet-1-1 ae-5 fromCenter">
                <a href="#" class="box-74">
                  <div class="thumbnail-74">
                    <img src="assets/img/gallery-74-4.jpg" class="wide" alt="Thumbnail"/>
                  </div>
                  <div class="name-74 equalElement table wide">
                    <div class="cell left top">
                      <h3 class="">Colorado</h3>
                      <p class="tiny opacity-6 cropBottom">An essential aspect of creativity is not being afraid to&nbsp;fail.</p>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
    <div class="background" style="background-image:url(assets/img/background/img-74.jpg)"></div>
  </section>

  <!-- Slide #79 -->
  <section class="slide fade-6 kenBurns" data-name="p1" data-title="p1">
    <div class="content">
      <div class="container">
        <div class="wrap">

          <div class="fix-9-12">
            <div class="quote-79 ae-1">“</div>
            <h1 class="ae-2">
              CUE uses the term <span class="p1-bg">equity-mindedness</span>  to refer to the mode of thinking exhibited by practitioners
              who are willing to:
            </h1>

            <div class="ae-3 author-79 left margin-top-3">
              <img src="https://collegecampaign.org/wp-content/uploads/2018/11/Estela-New-Large-Nov-2018.png" width="64" class="avatar-79 round">
              <h3>Estela Bensimon</h3>
              <p class="tiny opacity-6">Center for Urban Education</p>
            </div>

            <ul class="grid grid-79 margin-top-6 later left">
              <li class="col-6-12 ae-4">
                <i class="material-icons">near_me</i>
                <h3>Location</h3>
                <p class="tiny opacity-6">The best stories of the week, delivered right to your inbox. No spam, we promise.</p>
              </li>
              <li class="col-6-12 ae-5">
                <i class="material-icons">layers</i>
                <h3>Layers</h3>
                <p class="tiny opacity-6">Less time shopping means more time Doing Things, so we created Slides Framework. It’s built to impress!</p>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
    <div class="background" style="background-image:url(assets/img/background/img-79.jpg)"></div>
  </section>


  <!-- Slide 5 (#97) -->
  <section class="slide fade-6 kenBurns">
    <div class="content">
      <div class="container">
        <div class="wrap padding-top-phablet-5">

          <div class="fix-10-12 toCenter">
            <h1 class="ae-1">Upcoming Shows</h1>
            <p class="ae-2 margin-bottom-3"><span class="opacity-8">Shop deals on amazing live events nesr you.</span></p>
          </div>
          <div class="fix-12-12">
            <div class="frame-97 ae-3 padding-bottom-3 margin-top-2">
              <p class="white calendar-97 absolute"><span class="center uppercase block bold month">jan</span><span class="number regular">23</span></p>
              <h2 class="small align-left cropBottom inline-block padding-top-1">
                <span class="light margin-left-10 margin-left-phablet-0 title-group">Soular Order - Altitude</span>
                <span class="regular dislocation">Atlanta, GA</span>
                <a href="#" class="button green gradient button-buy-97">Tickets</a>
              </h2>
            </div>
            <div class="frame-97 ae-4 padding-bottom-3 margin-top-2">
              <p class="white calendar-97 absolute"><span class="center uppercase block bold month">jan</span><span class="number regular">24</span></p>
              <h2 class="small align-left cropBottom inline-block padding-top-1">
                <span class="light margin-left-10 margin-left-phablet-0 title-group">Vinoy Park</span>
                <span class="regular dislocation">Cristalhaven</span>
                <a href="#" class="button green gradient button-buy-97">Tickets</a>
              </h2>
            </div>
            <div class="frame-97 ae-5 padding-bottom-3 margin-top-2">
              <p class="white calendar-97 absolute"><span class="center uppercase block bold month">jan</span><span class="number regular">26</span></p>
              <h2 class="small align-left cropBottom inline-block padding-top-1">
                <span class="light margin-left-10 margin-left-phablet-0 title-group">Buckridgebury</span>
                <span class="regular dislocation">North Eloisa</span>
                <a href="#" class="button green gradient button-buy-97">Tickets</a>
              </h2>
            </div>
            <div class="frame-97 ae-6 padding-bottom-3 margin-top-2">
              <p class="white calendar-97 absolute"><span class="center uppercase block bold month">jan</span><span class="number regular">28</span></p>
              <h2 class="small align-left cropBottom inline-block padding-top-1">
                <span class="light margin-left-10 margin-left-phablet-0 title-group">Lake Brennonchester</span>
                <span class="regular dislocation">Lake Marinaview</span>
                <a href="#" class="button thin-stroke text-white button-buy-97">Sold Out!</a>
              </h2>
            </div>
            <div class="frame-97 ae-7 padding-bottom-3 margin-top-2 opacity-6">
              <p class="white calendar-97 absolute"><span class="center uppercase block bold month">jan</span><span class="number regular">30</span></p>
              <h2 class="small align-left cropBottom inline-block padding-top-1">
                <span class="light margin-left-10 margin-left-phablet-0 title-group">West Keaganstad</span>
                <span class="regular dislocation">South Austen</span>
                <a href="#" class="button thin-stroke text-white button-buy-97">Cancelled</a>
              </h2>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="background" style="background-image:url(assets/img/background/img-97.jpg)"></div>
  </section>



<section class="slide teal kenBurns">
    <div class="content" sty>
      <div class="container">
        <div class="wrap ">
          <!-- <div class="eqmd-bg" style="z-index:">eqmd</div> -->
          <ul class="fix-12-12">
            <li class="fix-2-12 margin-bottom-12">
              <img class="ae-1 wide fromCenter done" src="/assets/graphics/cue-logo@3x-9ed73fb5f5164e972236bcce852e312725455f21302cc1d09aacb75c555dc9ef.png" alt="Cue logo@3x">
            </li>
            <li class="ae-2 fix-12-12 done">
              <h1 class="huge  header-1 done semiBold" style="border-bottom: 1px solid rgba(255, 255, 255, .25); padding-bottom: 15px;">Syllabus Review Tool</h1>
              <p class="hero"><span class="opacity-8">
                An	inquiry	tool	for	promoting	racial/ethnic<br>
                equity	and	equity-minded	practice.
                </span>
              </p>
            </li>
          </ul>
          <br>
          <br>
          <a class="button circle white gradient ae-3 margin-right-1 done" href="/signup">Let's Get Started</a>
        </div>
      </div>
    </div>
    <div class="background" style=""></div>
  </section>
</body>
