
<style media="screen">

.fade-7 .content {
  background: rgba(33, 101, 131, .95) !important;
}
.fade-1 .content {
  background: rgba(255, 255, 255, .25) !important;

}

  /* Colors by Google Meterial Design (C) */
  /* @include generateColors("red", $red);
  @include generateColors("pink", $pink);
  @include generateColors("purple", $purple);
  @include generateColors("deepPurple", $deepPurple);
  @include generateColors("indigo", $indigo);
  @include generateColors("blue", $blue);
  @include generateColors("cyan", $cyan);
  @include generateColors("teal", $teal);
  @include generateColors("green", $green);
  @include generateColors("lightGreen", $lightGreen);
  @include generateColors("lime", $lime);
  @include generateColors("yellow", $yellow, $default-button-color);
  @include generateColors("amber", $amber);
  @include generateColors("orange", $orange);
  @include generateColors("deepOrange", $deepOrange);
  @include generateColors("brown", $brown);
  @include generateColors("gray", $gray);
  @include generateColors("blueGray", $blueGray);
  @include generateColors("cueRed", $cueRed); */




</style>



<!-- Panel Bottom #09 -->
<nav class="panel bottom">
  <div class="sections">
    <div class="center"><span class="nextSlide"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-down"></use></svg></span></div>
  </div>
</nav>

  <section class="slide fade-1 kenBurns">
    <div class="content">
      <div class="container">
        <div class="wrap ">
          <!-- <div class="eqmd-bg" style="z-index:">eqmd</div> -->
          <ul class="fix-9-12">
            <h1 class="big margin-bottom-7 ae-3 fromLeft" style="border-bottom: 1px solid #aaa; padding-bottom: 15px;">What is syllabus review?</h1>

            <h2 class="hero margin-bottom-2 ae-4 fromLeft type-nunito">
              Syllabus	Review	is	an	<u class="text-orange">inquiry tool</u>	for	promoting	racial/ethnic
              equity	and	equity-minded	practice.
            </h2>
          </ul>
          <br/>
          <br/>
        </div>
      </div>
    </div>
    <div class="background" style="background-image:url(https://www.sccpre.cat/mypng/full/145-1456885_moderate-red-curve-gradient-graphics-background-graphic.png);"></div>
  </section>

  <section class="slide fade-1 kenBurns slideWhite">
    <div class="content">
      <div class="container">
        <div class="wrap ">
          <!-- <div class="eqmd-bg" style="z-index:">eqmd</div> -->
          <ul class="fix-9-12">
            <h1 class="big margin-bottom-7 fromLeft" style="border-bottom: 1px solid #aaa; padding-bottom: 15px;">What is syllabus review?</h1>

            <h2 class="hero margin-bottom-2 ae-4 fromLeft type-nunito">
              To	achieve	this	goal,	the
              syllabus	review	process	promotes faculty	inquiry	into
              <u class="text-orange">teaching	approaches	and	practices</u>,
            </h2>
          </ul>
          <br/>
          <br/>
        </div>
      </div>
    </div>
    <div class="background" style="background-image:url(https://www.sccpre.cat/mypng/full/145-1456885_moderate-red-curve-gradient-graphics-background-graphic.png);"></div>
  </section>


  <section class="slide fade-1 kenBurns slideWhite">
    <div class="content">
      <div class="container">
        <div class="wrap ">
          <!-- <div class="eqmd-bg" style="z-index:">eqmd</div> -->
          <ul class="fix-9-12">
            <h1 class="big margin-bottom-7 fromLeft" style="border-bottom: 1px solid #aaa; padding-bottom: 15px;">What is syllabus review?</h1>

            <h2 class="left small margin-bottom-2 ae-4 fromLeft type-nunito">
              <ul>
                <li>Affect	African	American,	Latinx,	Native	American,	Pacific
                  Islander,	and	other	racially/	ethnically	minoritized	students;</li>
                <br/>
                <li>Facilitates	a	self-assessment of	these	teaching	approaches
                  and	practices	from	a	racial/ethnic equity	lens;</li>
                  <br/>
                <li>Allows faculty	to	consider changes	that	result	in	more	equitable
                  teaching	approaches	and	practice.
                </li>
              </ul>
            </h2>
          </ul>
          <br/>
          <br/>
          <%= link_to "Let's Get Started", title_1_path, class: "button circle cueRed gradient ae-3 margin-right-1" %>
        </div>
      </div>
    </div>
    <div class="background" style="background-image:url(https://www.sccpre.cat/mypng/full/145-1456885_moderate-red-curve-gradient-graphics-background-graphic.png);"></div>
  </section>
</body>
