
<style media="screen">

.fade-7 .content {
  background: rgba(33, 101, 131, .95) !important;
}
.fade-1 .content {
  background: rgba(0, 188, 212, .30) !important;

}

  /* Colors by Google Meterial Design (C) */
  /* @include generateColors("red", $red);
  @include generateColors("pink", $pink);
  @include generateColors("purple", $purple);
  @include generateColors("deepPurple", $deepPurple);
  @include generateColors("indigo", $indigo);
  @include generateColors("blue", $blue);
  @include generateColors("cyan", $cyan);
  @include generateColors("teal", $teal);
  @include generateColors("green", $green);
  @include generateColors("lightGreen", $lightGreen);
  @include generateColors("lime", $lime);
  @include generateColors("yellow", $yellow, $default-button-color);
  @include generateColors("amber", $amber);
  @include generateColors("orange", $orange);
  @include generateColors("deepOrange", $deepOrange);
  @include generateColors("brown", $brown);
  @include generateColors("gray", $gray);
  @include generateColors("blueGray", $blueGray);
  @include generateColors("cueRed", $cueRed); */

  .
  .slides.stage-1 {
       background: #00bcd4;
       background-image:url(https://www.sccpre.cat/mypng/full/145-1456885_moderate-red-curve-gradient-graphics-background-graphic.png);
  }
  .slides.stage-2 {
     background: #00bcd4;
     background-image:url(https://www.sccpre.cat/mypng/full/145-1456885_moderate-red-curve-gradient-graphics-background-graphic.png);
  }
  .slides.stage-3 {
     background: #00bcd4;
     background-image:url(https://www.sccpre.cat/mypng/full/145-1456885_moderate-red-curve-gradient-graphics-background-graphic.png);
  }
  .slides.stage-4 {
     background: #00bcd4;
  }
  .slides.stage-5 {
     background:#00bcd4;
  }


</style>



<!-- Panel Bottom #04 -->
<nav class="panel bottom">
  <div class="sections">
    <div class="center">
      <p class="opacity-4 bold micro">
        <a href="#">
          COPYRIGHT 2019 CUE
        </a>
      </p>
    </div>
  </div>
</nav>

  <section class="slide fade-1 kenBurns">
    <div class="content">
      <div class="container">
        <div class="wrap ">
          <!-- <div class="eqmd-bg" style="z-index:">eqmd</div> -->
          <ul class="fix-9-12">
            <h1 class="big margin-bottom-7 ae-3 fromLeft" style="border-bottom: 1px solid #aaa; padding-bottom: 15px;">What is syllabus review?</h1>

            <h2 class="hero margin-bottom-2 ae-4 fromLeft type-nunito">
              Syllabus	Review	is	an	<u class="text-orange">inquiry tool</u>	for	promoting	racial/ethnic
              equity	and	equity-minded	practice.
            </h2>
          </ul>
          <br/>
          <br/>
        </div>
      </div>
    </div>
    <div class="background" style="background-image:url(https://www.sccpre.cat/mypng/full/145-1456885_moderate-red-curve-gradient-graphics-background-graphic.png);"></div>
  </section>

  <section class="slide fade-1 kenBurns slideWhite">
    <div class="content">
      <div class="container">
        <div class="wrap ">
          <!-- <div class="eqmd-bg" style="z-index:">eqmd</div> -->
          <ul class="fix-9-12">
            <h1 class="big margin-bottom-7 fromLeft" style="border-bottom: 1px solid #aaa; padding-bottom: 15px;">What is syllabus review?</h1>

            <h2 class="hero margin-bottom-2 ae-4 fromLeft type-nunito">
              To	achieve	this	goal,	the
              syllabus	review	process	promotes faculty	inquiry	into
              teaching	approaches	and	practices,
            </h2>
          </ul>
          <br/>
          <br/>
        </div>
      </div>
    </div>
    <div class="background" style="background-image:url(https://www.sccpre.cat/mypng/full/145-1456885_moderate-red-curve-gradient-graphics-background-graphic.png);"></div>
  </section>


  <section class="slide fade-1 kenBurns slideWhite">
    <div class="content">
      <div class="container">
        <div class="wrap ">
          <!-- <div class="eqmd-bg" style="z-index:">eqmd</div> -->
          <ul class="fix-9-12">
            <h1 class="big margin-bottom-7 fromLeft" style="border-bottom: 1px solid #aaa; padding-bottom: 15px;">What is syllabus review?</h1>

            <h2 class="hero margin-bottom-2 ae-4 fromLeft type-nunito">
              especially	how	they
              affect	African	American,	Latinx,	Native	American,	Pacific
              Islander,	and	other	racially/	ethnically	minoritized	students;
              especially	how	they
              affect	African	American,	Latinx,	Native	American,	Pacific
              Islander,	and	other	racially/	ethnically	minoritized	students;
              facilitates	a	self-assessment of	these	teaching	approaches
              and	practices	from	a	racial/ethnic equity	lens; and	allows
              faculty	to	consider changes	that	result	in	more	equitable
              teaching	approaches	and	practice.
            </h2>
          </ul>
          <br/>
          <br/>
        </div>
      </div>
    </div>
    <div class="background" style="background-image:url(https://www.sccpre.cat/mypng/full/145-1456885_moderate-red-curve-gradient-graphics-background-graphic.png);"></div>
  </section>
</body>
