<style media="screen">

.fade-7 .content {
  background: rgba(33, 101, 131, .95) !important;
}

</style>


<!-- Slide #42 -->
<section class="slide fade-7 kenBurns" style="background: #216583;" data-name="afraid" data-title="Afraid">
  <div class="content verticalCenter">
    <div class="container">
      <div class="wrap">
        <h1 class="huge ae-1">Data Matters.</h1>
        <p class="hero ae-2">
          Please help us accurately capture
          <a href="#"><u>annoynmous</u></a> <br/> details about who is
          using our tools.</p>
        <div class="form-42 margin-top-5 center">
          <div class="selected left ae-4">
            <form class="slides-form center text-left" action="#" autocomplete="off">
              <input class=" ae-4" id="full_name" type="text" name="text" placeholder="Full Name" required/>
              <input class=" ae-4" id="Tile" type="text" name="text" placeholder="Tile" required/>
              <input class=" ae-4" id="full_name" type="text" name="text" placeholder="Academic Institution" required/>
              <input class=" ae-4" id="email42" type="email" name="email" placeholder="Email address" required/>
              <p class="center ae-7 margin-top-2 micro">
                <span class="opacity-5">By clicking
                  <a href="#">Create Account</a>
                  , I agree to the<br/>
                  <u><%= link_to "Terms of Servce", login_path, class: "opacity-8 bold" %></u> and
                  <u><%= link_to "Privacy & Policy", login_path, class: "opacity-8 bold" %></u>
                </span>
                </p>
              <%= link_to "Create Account", overview_path, class: "button cueRed gradient ae-8" %>


            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div
  class="background"
  style="background-image:url(<%= image_url("icons/1/PNG/15.png")%>);
    ">
  </div>
</section>
