<section class="slide whiteSlide">
 <div class="content" style="background: transparent;">
   <div class="container">
     <div class="wrap">

       <div class="">
         <h1 class="huge ae-1 margin-bottom-2 left title-1">What is <br/>Equity-Mindedness?</h1>
         <ul class="flex reverse verticalCenter margin-top-8">

           <li class="col-4-12 left bg-lightgrey toLeft ae-2">
             <h2 class="hero padding-top-5 padding-bottom-5">
              <span class="quote-2">
                 BEING<br/>
              </span>
              <span class="quote-1">
                COLOR-CONSCIOUS vs. "COLOR-BLIND"<br/>
              </span>
               <span class="quote-2">
                 IN AN AFFRIMATIVE SENSE
               </span>
             </h2>
           </li>
           <li class="col-8-12 left toRight">
             <ul class="grid">
               <li class="col-5-12 left ae-8 fromAbove toRight align-right">
                  <%= image_tag("graphics/mind.png", class:"", style: "width: 400px;", alt:"iPad Image")%>
               </li>
               <li class="col-7-12 toRight ">
                 <p class="ae-3 left margin-left-5 margin-right-7 font-size-18">
                   <span class="opacity-8">
                     To be color-conscious means noticing and questioning patterns of inequitable educational outcomes among
                     minority students, and contextualizing these inequitable outcomes in light of historical exclusion,
                     discrimination, and educational apartheid.
                   </span>
                 </p>
                 <h3 class="ae-4 text-lightgrey margin-left-7">EXAMPLE</h3>
                 <p class="ae-5 margin-left-9 margin-right-10">
                   <span class="opacity-8">
                     Counselors at a community college noticed that a large number of students of color who began in Basic Skills
                     math courses did not go on to take transfer level math. They reject explanations based on minority students’
                     lack of interest in math. They realize instructors may not be aware of campus resources to support students
                     with their homework, so counselors initiated an outreach strategy to notify instructors and students of
                     campus learning resource centers. The response from a survey of students who participate in tutoring
                     services shows that this approach increases the use of campus resources to supplement the instruction in
                     Basic Skills math courses.
                   </span>
                 </p>
                </li>
              </ul>
           </li>
         </ul>
       </div>

     </div>
   </div>
 </div>
</section>
