<section class="slide whiteSlide">
 <div class="content" style="background: transparent;">
   <div class="container">
     <div class="wrap">

       <div class="">
         <h1 class="huge ae-1 margin-bottom-2 left title-1">What is <br/>Equity-Mindedness?</h1>
         <ul class="flex reverse verticalCenter margin-top-8">

           <li class="col-4-12 left bg-lightgrey toLeft ae-2">
             <h2 class="hero padding-top-5 padding-bottom-5">
              <span class="quote-2">
                 BEING<br/>
              </span>
              <span class="quote-1">
                COLOR-CONSCIOUS vs. "COLOR-BLIND"<br/>
              </span>
               <span class="quote-2">
                 IN AN AFFRIMATIVE SENSE
               </span>
             </h2>
           </li>
           <li class="col-8-12 left toRight">
             <ul class="grid">
               <li class="col-5-12 left ae-8 fromAbove toRight align-right">
                  <%= image_tag("graphics/mind.png", class:"", style: "width: 400px;", alt:"iPad Image")%>
               </li>
               <li class="col-7-12 toRight ">
                 <p class="ae-3 left margin-left-5 margin-right-7 font-size-18">

                   What is equity-mindedness? CUE uses the term equity-mindedness[1]  to refer to the mode of thinking exhibited by practitioners who are willing to take responsibility for the success of historically underserved student from minoritized racial/ethnic groups and to critically assess their own practices as educators and/or administrators. Equity-minded practitioners do not solely blame students for their lack of success (a deficit-minded approach), nor do they rely on racial stereotypes or biases to justify or disregard inequitable outcomes. More specifically, equity-minded practitioners exhibit the following characteristics:

                 </p>
                 <p>
                   Critically race conscious;
Aware that practitioner beliefs, assumptions, knowledge, and approaches are racialized and can have racial consequences, typically to the disadvantage of racially minoritized students;
Aware that norms, policies, practices that are taken-for-granted in higher education can perpetuate racial hierarchies and inequalities, even in the absence of explicit racism;
Willing to reflect on racialized outcomes and exercise agency to produce racial equity.
</p>
                </li>
              </ul>
           </li>
         </ul>
       </div>

     </div>
   </div>
 </div>
</section>
