<section class="slide whiteSlide">
 <div class="content">
   <div class="container">
     <div class="wrap">

       <div class="">
         <h1 class="huge ae-1 margin-bottom-2 left title-2">What is <br/>Equity-Mindedness?</h1>
         <ul class="flex reverse verticalCenter margin-top-8">

           <li class="col-4-12 left bg-lightgrey toLeft ae-2">
             <h2 class="hero ae-2 padding-top-5 padding-bottom-5">
              <span class="quote-2">
                 BEING AWARE OF RACIALLY-BOUNDED<br/>
              </span>
              <span class="quote-1">
                  BELIEFS, EXPECTATIONS, AND PRACTICES
              </span>
             </h2>
           </li>
           <li class="col-8-12 left toRight">
             <ul class="grid">
               <li class="col-5-12 left ae-8 fromAbove toRight align-right">
                  <%= image_tag("graphics/mind.png", class:"", style: "width: 400px;", alt:"iPad Image")%>
               </li>
               <li class="col-7-12 toRight ">
                 <p class="ae-3 left margin-left-5 margin-right-7 font-size-18">
                   <span class="opacity-8">
                     Practitioners are careful not to attribute inequitable educational outcomes to incomplete or
                     inaccurate explanations regarding students’ cultural predispositions, capacity, ability, or ambitions.
                   </span>
                 </p>
                 <h3 class="ae-4 text-lightgrey margin-left-7">EXAMPLE</h3>
                 <p class="ae-5 margin-left-9 margin-right-10">
                   <span class="opacity-8">
                     A philosophy instructor notices that his Latina students rarely speak up in class. He wonders if it is because
                     they have been socialized by their families to be more submissive. The instructor generally focuses on canonized
                     Western authors, but decides to introduce the work of Chicana scholar Gloria Anzaldúa in class one day. The animated
                     response her work generates among the Latina students amazes him. He experiments with incorporating other diverse authors
                     in the curriculum and finds that the class appreciates the exposure to a spectrum of perspectives.
                   </span>
                 </p>
                </li>
              </ul>
           </li>
         </ul>
       </div>

     </div>
   </div>
 </div>
</section>
