<section class="slide whiteSlide">
 <div class="content">
   <div class="container">
     <div class="wrap">

       <div class="">
         <h1 class="huge ae-1 margin-bottom-2 left title-3">What is <br/>Equity-Mindedness?</h1>
         <ul class="flex reverse verticalCenter margin-top-8">

           <li class="col-4-12 left bg-lightgrey toLeft ae-2">
             <h2 class="hero ae-2 padding-top-5 padding-bottom-5">
              <span class="quote-2">
                 BEING ABLE TO DEMONSTRATE <br/>
              </span>
              <span class="quote-1">
                 "AUTHENTIC CARING<br/>
              </span>
              <span class="quote-2">
                   TO BECOME <br/>INSTITUTIONAL AGENTS
              </span>
             </h2>
           </li>
           <li class="col-8-12 left toRight">
             <ul class="grid">
               <li class="col-5-12 left ae-8 fromAbove toRight align-right">
                  <%= image_tag("graphics/mind.png", class:"", style: "width: 400px;", alt:"iPad Image")%>
               </li>
               <li class="col-7-12 toRight ">
                 <p class="ae-3 left margin-left-5 margin-right-7 font-size-18">
                   <span class="opacity-8">
                     Institutional agents are individuals who have the capacity and commitment to transmit directly, or
                     negotiate the transmission of, institutional resources and opportunities (Stanton-Salazar, 1997).
                     Therefore, to care authentically means to reach out to students proactively and give them the tools they
                     need to succeed. Authentic care encompasses substantial help-giving actions and should not be confused with
                     being understanding or sympathetic. While understanding and sympathy may provide the motivation for help-giving
                     actions, alone they are not sufficient to make a difference in minority students’lives.
                   </span>
                 </p>
                 <h3 class="ae-4 text-lightgrey margin-left-7">EXAMPLE</h3>
                 <p class="ae-5 margin-left-9 margin-right-10">
                   <span class="opacity-8">
                     Instructors take the time and trouble to equip students with the tools they need to succeed in college by showing them,
                     among other things, how to research and format a paper, outline their class notes and reading assignments, and study
                     effectively for exams.
                   </span>
                 </p>
                </li>
              </ul>
           </li>
         </ul>
       </div>

     </div>
   </div>
 </div>
</section>
