<section class="slide whiteSlide">
 <div class="content">
   <div class="container">
     <div class="wrap">

       <div class="">
         <h1 class="huge ae-1 margin-bottom-2 left title-4">What is <br/>Equity-Mindedness?</h1>
         <ul class="flex reverse verticalCenter margin-top-8">

           <li class="col-4-12 left bg-lightgrey toLeft ae-2">
             <h2 class="hero ae-2 padding-top-5 padding-bottom-5">
              <span class="quote-2">
                 BEING ABLE TO A<br/>
              </span>
              <span class="quote-1">
                  ASSUME RESPONSIBILITY
              </span>
              <span class="quote-2">
                FOR THE ELIMINATION OF INEQUALITY
              </span>
             </h2>
           </li>
           <li class="col-8-12 left toRight">
             <ul class="grid">
               <li class="col-5-12 left ae-8 fromAbove toRight align-right">
                  <%= image_tag("graphics/mind.png", class:"", style: "width: 400px;", alt:"iPad Image")%>
               </li>
               <li class="col-7-12 toRight ">
                 <p class="ae-3 left margin-left-5 margin-right-7 font-size-18">
                   <span class="opacity-8">
                     Rather than viewing inequities in student achievement as unfortunate but expected outcomes, practitioners allow for the
                     possibility that they might be created or exacerbated by taken-for-granted practices and policies, inadequate knowledge,
                     a lack of cultural know-how, or the absence of institutional support.
                   </span>
                 </p>
                 <h3 class="ae-4 text-lightgrey margin-left-7">EXAMPLE</h3>
                 <p class="ae-5 margin-left-9 margin-right-10">
                   <span class="opacity-8">
                     Community college counselors notice that incoming students who take the campus placement test for ESL lack information on how
                      this placement exam affects their ability to take transfer level English coursework. They find that students take ESL courses,
                       but lack the knowledge or resources to understand how to interpret the placement exam results and what courses would satisfy
                       transfer requirements. They develop an outreach strategy to educate incoming students about the interpretation of placement
                       test results and proper course placement. As a result of this strategy, the counselors notice an increase in the number of
                       students who take ESL courses and then enroll in English transfer level course work.
                   </span>
                 </p>
                </li>
              </ul>
           </li>
         </ul>
       </div>

     </div>
   </div>
 </div>
</section>
