<section class="slide whiteSlide">
 <div class="content">
   <div class="container">
     <div class="wrap">

       <div class="">
         <h1 class="huge ae-1 margin-bottom-2 left title-5">What is <br/>Equity-Mindedness?</h1>
         <ul class="flex reverse verticalCenter margin-top-8">

           <li class="col-4-12 left bg-lightgrey toLeft ae-2">
             <h2 class="hero ae-2 padding-top-5 padding-bottom-5">
              <span class="quote-2">
                 BEING<br/>
              </span>
              <span class="quote-1">
                  DATA
              </span>
              <span class="quote-2">
               FOR ASSESSMENT
              </span>
             </h2>
           </li>
           <li class="col-8-12 left toRight">
             <ul class="grid">
               <li class="col-5-12 left ae-8 fromAbove toRight align-right">
                  <%= image_tag("graphics/mind.png", class:"", style: "width: 400px;", alt:"iPad Image")%>
               </li>
               <li class="col-7-12 toRight ">
                 <p class="ae-3 left margin-left-5 margin-right-7 font-size-18">
                   <span class="opacity-8">
                     Practitioners define the cause of unequal student outcomes in ways that make them observable, manageable and measurable.
                     They also monitor outcomes by race and ethnicity, and their progress toward benchmarks.
                   </span>
                 </p>
                 <h3 class="ae-4 text-lightgrey margin-left-7">EXAMPLE</h3>
                 <p class="ae-5 margin-left-9 margin-right-10">
                   <span class="opacity-8">
                     As part of an effort to improve transfer rates, practitioners disaggregate attrition rates by race and ethnicity, and assess
                     the impact of targeted interventions (e.g. counseling, mentoring, and learning communities) over time. They focus their attention
                     on barriers to transfer that they can actually control (e.g. lack of institutional support, no guidance from peers or mentors)
                     instead of barriers beyond their control (e.g. socioeconomic status, high school preparation).
                   </span>
                 </p>
                </li>
              </ul>
           </li>
         </ul>
       </div>

     </div>
   </div>
 </div>
</section>
