
<section class="slide whiteSlide" data-name="p1" data-title="p1">
  <div class="content" style="background: ;">
    <div class="container">
      <div class="wrap top">

        <div class="fix-12-12">
          <div class="left">
            <h3 class="text-cueRED ae-1 font-weight-bold">Get Reaqcuainted</h3>
            <h1 class="huge ae-2 fromLeft text-pink bold">How well do you know your syllabus?</h1>
          </div>
          <ul class="flex fixedSpaces reverse">
            <li class="col-6-12 left">
              <h3 class="big bold ae-3 text-teal">Purpose & Intentionality</h3>
              <ol>
                <li>
                  <p class="lead ae-4">What are three words or phrases that come to mind when you hear the word "syllabus"?</p>
                </li>
              </ol>
              <form class="slides-form wide" action="#" autocomplete="off">
                <input class="wide ae-4" id="email42" type="email" name="email" placeholder="Enter text" address" required/>
                <input class="wide ae-4" id="email42" type="email" name="email" placeholder="Enter text" address" required/>
                <input class="wide ae-4" id="email42" type="email" name="email" placeholder="Enter text" address" required/>
              </form>
             <p>
              <a href="#p2" class=" circle wide  button blue gradient ae-3 fromCenter cropLeft">Next</a>
             </p>
            </li>
            <li class="col-6-12">
              <img class="ae-4" width="600" src="<%= image_url("graphics/syllabus.svg") %>"/>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
