

<section class="slide" data-name="p1" data-title="p1">
   <div class="content" style="background: #E7C9A8;">
   <div class="container">
     <div class="wrap top">
       <div class="fix-12-12 left">
         <ul class="grid">
           <li class="col-12-12">
             <h3 class="ae-1 font-weight-bold opacity-3">Get Reaqcuainted</h3>
             <h1 class="big ae-2 fromLeft normal">How well do you know your syllabus?</h1>
           </li>
         </ul>

         <ul class="grid">
           <li class="col-7-12">
             <h3 class="big bold text-teal margin-bottom-2 ae-3">Purpose & Intentionality</h3>
             <h3 class="light large ae-4">What are three words or phrases that come to mind when you hear the word "syllabus"?</h3>
             <form class="slides-form wide margin-top-3" action="#" autocomplete="off">
               <input class="ae-4" id="email42" type="email" name="email" placeholder="Enter text" address" required/><br/>
               <input class="ae-4" id="email42" type="email" name="email" placeholder="Enter text" address" required/><br/>
               <input class="ae-4" id="email42" type="email" name="email" placeholder="Enter text" address" required/><br/>
             </form>
             <p class="margin-top-3">
               <a href="#p2" class="cell-100 rounded  button ae-5 fromBottom cropLeft">Next</a>
              </p>
           </li>
           <li class="col-5-12"><%= image_tag("graphics/syllabus.svg", class:"ae-8", alt:"iPad Image")%></li>
         </ul>
        </div>
     </div>
   </div>
 </div>
</section>
