

<section class="slide whiteSlide" data-name="p2" data-title="p2">
  <div class="content" style="background: ;">
   <div class="container">
     <div class="top">

       <div class="wrap">
         <ul class="flex">
           <li class="col-12-12 left toLeft">
             <h3 class="ae-1 font-weight-bold">Get Reaqcuainted</h3>
             <h1 class="big ae-2 fromLeft text-pink bold">How well do you know your syllabus?</h1>
            </li>
          </ul>
           <ul class="flex reverse margin-top-8">
             <li class="col-7-12 left">
              <ul class="flex">
                <li class="col-1-12 left">
                  <i class="fas fa-check-circle h1 text-green ae-4"></i>
                </li>
                <li class="col-11-12 left">
                  <p class=" ae-4 text-gray">1. What are three words or phrases that come to mind when you hear the word "syllabus"?</p>
                  <h4 class="ae-5 text-gray opacity-6 normal">
                    <span class="badge white text-teal">Strict</span>
                    <span class="badge white text-teal">Helpful</span>
                    <span class="badge white text-teal">Helpful</span>
                  </h4>
                  <div class="margin-top-5">
                    <ol>
                      <li>
                        <form class="slides-form wide" action="#" autocomplete="off">
                          <p class="lead semiBold ae-6">2. Is the Syllabus important to me as an instructor??</p>
                          <p class="ae-7">
                            <a href="#" class="button white text-teal">Yes</a>
                            <a href="#" class="button white text-teal">No</a>
                          </p>
                            <textarea class=" ae-8" rows="6"></textarea>
                        </form>
                      </li>
                    </ol>
                  </div>
                  <br/><br/>
                  <p>
                   <a href="#p3" class="ae-9 circle button blue gradient ae-3 fromCenter cropLeft">Next</a>
                  </p>
                </li>
              </ul>
            </li>
            <li class="col-5-12 right">
              <%= image_tag("graphics/syllabus.svg", class:"ae-8", style:"width: 800px !important;", alt:"iPad Image")%>
            </li>
          </ul>
       </div>
     </div>
   </div>
</section>
