

<section class="slide" data-name="p2" data-title="p2">
   <div class="content" style="background: #88AAAF;">
   <div class="container">
     <div class="wrap top">
       <div class="fix-12-12 left">
         <ul class="grid">
           <li class="col-12-12">
             <h3 class="font-weight-bold opacity-3">Get Reaquainted</h3>
             <h1 class="big fromLeft normal">How well do you know your syllabus?</h1>
           </li>
         </ul>

         <ul class="grid">
           <li class="col-7-12">
             <h3 class="big bold text-teal margin-bottom-2">Purpose & Intentionality</h3>
             <h3 class="large light ae-4">Is the Syllabus important to you as an instructor?</h3>
              <form class="slides-form wide margin-top-2" action="#" autocomplete="off">
                <p class="lead normal ae-6"></p>
                <ul class="grid ae-7">
                  <li class="col-6-12">
                    <a href="#p3" class="wide button white text-teal">Yes</a>
                  </li>
                  <li class="col-6-12">
                    <a href="#p3a" class="wide button white text-teal">No</a>
                  </li>
                </ul>
              </form>
             </li>
             <li class="col-5-12"><%= image_tag("graphics/syllabus.svg", class:"", alt:"iPad Image")%></li>
           </ul>
        </div>
     </div>
   </div>
 </div>
</section>



<section class="slide" data-name="p3a" data-title="p3a">
   <div class="content" style="background: #88AAAF;">
   <div class="container">
     <div class="wrap top">
       <div class="fix-12-12 left">
         <ul class="grid">
           <li class="col-12-12">
             <h3 class="font-weight-bold opacity-3">Get Reaqcuainted</h3>
             <h1 class="big fromLeft normal">How well do you know your syllabus?</h1>
           </li>
         </ul>

         <ul class="grid">
           <li class="col-7-12">
             <h3 class="big bold text-teal margin-bottom-2">Purpose & Intentionality</h3>
             <h3 class="large light">Is the Syllabus important to you as an instructor?</h3>
              <form class="slides-form wide margin-top-2" action="#" autocomplete="off">
                <ul class="grid ae-7">
                  <li class="col-6-12">
                    <a href="#p3a" class="wide button teal">No</a>
                  </li>
                  <li class="col-6-12">
                    <h3 class="large margin-top-1">If so, why not?</h3>
                  </li>
                </ul>
                <textarea placeholder="Please clarify in a few sentences." class="margin-top-4 ae-8 wide" rows="6"></textarea>
              </form>
              <p class="margin-top-3">
                <a href="#p3" class="cell-100 rounded  button ae-5 fromBottom cropLeft">Next</a>
               </p>
             </li>
             <li class="col-5-12"><%= image_tag("graphics/syllabus.svg", class:"", alt:"iPad Image")%></li>
           </ul>
        </div>
     </div>
   </div>
 </div>
</section>
