<section class="slide zoom whiteSlide" data-name="p3" data-title="p3">
  <div class="content" style="background: ;">
    <div class="container">
      <div class="wrap top">

        <div class="verticalTop fix-12-12">
          <div class="left">
            <h3 class="text-cueRED ae-1 font-weight-bold">Get Reaqcuainted</h3>
            <h1 class="huge ae-2 fromLeft text-pink bold">How well do you know your syllabus?</h1>
						<h3 class="big bold ae-3 text-teal">Purpose & Intentionality</h3>
          </div>
          <ul class="flex fixedSpaces reverse margin-top-3">
            <li class="col-6-12 left">
              <ul class="flex">
                <li class="col-1-10 left">
                  <i class="fas fa-check-circle h2 text-green ae-4"></i>
                </li>
                <li class="col-9-10 left">
                  <p class="small ae-4 text-gray">1. What are three words or phrases that come to mind when you hear the word "syllabus"?</p>
                  <h4 class="ae-5 text-gray">
                    <span class="badge white text-teal">Strict</span>
                    <span class="badge white text-teal">Helpful</span>
                    <span class="badge white text-teal">Helpful</span>
                  </h4>
								</li>
							</ul>
							<ul class="flex margin-top-3">
                <li class="col-1-10 left">
                  <i class="fas fa-check-circle h2 text-green ae-4"></i>
                </li>
                <li class="col-9-10 left">
									<ol>
										<li style="opacity: .65;">
											<form class="slides-form wide" action="#" autocomplete="off">
												<p class="small ae-6">2. Is the Syllabus important to me as an instructor??</p>
												<p class="ae-7">
													<a href="#" class="button white teal">Yes</a>
													<a href="#" class="button white ">Why Not?</a>
												</p>
												<p class="small ae-8">Because I don't think any of my students read it. It's merely a…</p>
											</form>
										</li>
									</ol>
								</li>
							</ul>
							<ul class="flex margin-top-6">
                <li class="col-1-10 left">
                </li>
                <li class="col-9-10 left">
									<ol>
										<li>
											<form class="slides-form wide" action="#" autocomplete="off">
												<h3 class="small ae-6">3. What types of changes have you made to your course syllabus
    										(e.g., layout, content)?</p>
												<textarea class="wide ae-8" rows="6"></textarea>
											</form>
										</li>
									</ol>
								</li>
							</ul>
						</li>
            <li class="col-6-12">
              <img class="ae-4" width="600" src="<%= image_url("graphics/syllabus.svg") %>"/>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
