

<section class="slide" data-name="p3" data-title="p3">
   <div class="content" style="background: #88AAAF;">
   <div class="container">
     <div class="wrap top">
       <div class="fix-12-12 left">
         <ul class="grid">
           <li class="col-12-12">
             <h3 class="font-weight-bold opacity-3">Get Reaqcuainted</h3>
             <h1 class="big fromLeft normal">How well do you know your syllabus?</h1>
           </li>
         </ul>

         <ul class="grid">
           <li class="col-7-12">
             <h3 class="big bold text-teal margin-bottom-2">Purpose & Intentionality</h3>
             <h3 class="light large ae-4">What types of changes have you made to your course syllabus (e.g., layout, content)?</h3>

             <form class="slides-form wide margin-top-3" action="#" autocomplete="off">
                <textarea placeholder="Please clarify in a few sentences." class="wide ae-8" rows="6"></textarea>
             </form>
             <p class="margin-top-3">
               <a href="#p4" class="cell-100 rounded  button ae-5 fromBottom cropLeft">Next</a>
              </p>
           </li>
           <li class="col-5-12"><%= image_tag("graphics/syllabus.svg", class:"", alt:"iPad Image")%></li>
         </ul>
        </div>
     </div>
   </div>
 </div>
</section>
