
<nav class="panel top">
  <!-- desktop version -->
  <div class="sections desktop margin-bottom-7">
    <div class="left">
      <%= image_tag("graphics/cue-logo@3x.png", class: "", style:"margin-top: 10px; height: 75px; width: auto;")%>
    </div>
    <div class="right">
      <span class="text-cueRed sidebarTrigger" data-sidebar-id="1">
        <i class="fas fa-bars h1"></i>
      </span>
    </div>
  </div>
</nav>
