<!-- Slide #1 -->
<section class="slide fade-6 kenBurns">
<div class="content">
<div class="container">
<div class="wrap">

  <div class="fix-8-12">
		<h1 class="huge thin ae-2">Center for Urban Education Syllabus Review Tool</h1>
		<p class="hero ae-1">Please tell us a little bit about yourself before we get started.</p>
  </div>
	<button type="submit"  onclick="window.location.href='step_1.html'" class="button blue gradient ae-7 fromCenter" name="button">Get Started</button>

</div>
</div>
</div>
<div class="background" style="background-image:url(assets/istock/1.jpg)"></div>
</section>
