<body class="slides zoom horizontal noPreload animated ">


  <section class="slide kenBurns">
    <div class="content" style="background: rgba(59, 62, 83, .95);">
      <div class="container">
        <div class="wrap top">
          <div class="fix-12-12 toCenter">
            <div class="margin-bottom-2 left underline">
              <h5 class="ae-1 small uppercase letter-spacing-3 opacity-5 padding-bottom-2">Section 5</h5>
            </div>
            <ul class="flex margin-bottom-10 left">
              <li class="col-12-12">
                <h2 class="ae-3 left">
                  Learning Summary
                </h2>
                <p class="normal p semiBold opacity-5 ae-5">What did we learn in this section?</p>
              </li>
            </ul>
            <ul class="grid fixedSpaces left">
              <li class="col-4-12 ae-3">
                <div class="col-12-12 ae-2 equalElement verticalCenter">
                  <h5 class="uppercase inline-block opacity-5 letter-spacing-1 margin-bottom-2">1.</h5>
                  <h3 class="big">A range of motions is normal <br/>and expected.</h3>
                  <p class="tight semiBold ae-4 left margin-top-2 opacity-5">Opportunities for changing your syllabus and experimenting with new ways your syllabus can provide more intentional support for students from minoritized racial/ethnic groups.</p>
                </div>
              </li>
              <li class="col-4-12 ae-4">
                <div class="col-12-12 ae-2 equalElement verticalCenter">
                  <h5 class="uppercase inline-block opacity-5 letter-spacing-1 margin-bottom-2">2.</h5>
                  <h3 class="big">Observing and naming your <br/>emotions is important.</h3>
                  <p class="tight semiBold ae-4 left margin-top-2 opacity-5">Equity-minded practices that are absent and your syllabus, and perhaps even unintentional ways in which your syllabus counters equity-minded practice (for example, maybe there were ways in which your syllabus ‘mystified’ students rather than ‘demystified’ taken for granted practices. [To refer to the mode of thinking exhibited by practitioners]</p>
                </div>
              </li>
              <li class="col-4-12 ae-6">
                <div class="col-12-12 ae-2 equalElement verticalCenter">
                  <h5 class="uppercase inline-block opacity-5 letter-spacing-1 margin-bottom-2">3.</h5>
                  <h3 class="big">Knowing how you want to feel and work progressively.</h3>
                  <p class="tight semiBold ae-4 left margin-top-2 opacity-5">New reflections on aspects of your syllabus that were taken-for-granted and (possibly) new reflections on the values, beliefs, and world views that originally informed your syllabus.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-10.png")%>)"></div>
  </section>


    <section class="slide kenBurns">
      <div class="content" style="background: rgba(182, 81, 77, .95);">
        <div class="container">
          <div class="wrap top">
            <div class="fix-12-12 toCenter ae-3 margin-bottom-2">
              <div class="margin-bottom-2 left underline ae-1">
                <h5 class="ae-3 small uppercase letter-spacing-3 opacity-4 padding-bottom-2">Closing</h5>
              </div>
              <h3 class="fix-12-12 large semiBold ae-3 left margin-bottom-5">
                Syllabi can be perceived solely as a means for sharing information about the course and rules for academic success.
                However, syllabi are an important form of communication with students that can be shaped to foster or impede their
                academic progress and success.
              </h3>
              <ul class="flex left">
                <li class="col-6-12">
                  <p class="ae-3 tight semiBold opacity-8">
                    As we consider practices that can be used to improve educational outcomes, particularly for racially
                    minoritized racial groups, creating an equity-minded syllabus is one action that can be considered.
                  </p>
                  <p class="ae-3 tight semiBold opacity-8">
                    With this physical document, we can shape the ways students view their instructors, view the course and its material,
                    the actions they’ll take when they face academic difficulties, and overall, their course experience.
                  </p>
                </li>
                <li class="col-6-12 float-left left">
                  <div class="white padding-3 rounded">
                    <h3 class="ae-5 Left margin-bottom-3">As we conclude, we encourage you to consider:</h3>
                    <p class="tiny semiBold ae-4 fromLeft opacity-6">
                    Based on the inquiry you did around who your syllabus serves and how your syllabus demonstrates equity-minded practice, what changes—if any—do you intend to make to your syllabus? To your teaching practice more generally? How will those changes advance racial equity in particular?
                    </p>
                    <p class="tiny opacity-6 semiBold ae-4 fromLeft">
                    A course syllabus is merely one type of document / artifact of practice in higher education. There are other documents as well, such as assignments, transcripts, and applications (e.g., admissions, financial aid, scholarship applications) that also speak to what the institution believes and values. What other documents might you look at to assess for equity-minded practice?
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-10.png")%>)"></div>
    </section>


</body>
