<style media="screen">
.fade-1 .content {
  background: rgba(33, 33, 33, .25) !important;
}
</style>



<body class="slides zoom horizontal noPreload animated ">

  <section class="slide fade-1 kenBurns slideWhite">
    <div class="content">
      <div class="container">
        <div class="wrap">


          <div class="fix-12-12 left">
            <div class="float-right ae-4 margin-top-2">
              <%= link_to title_6_path, class: "" do %>
                <i class="far fa-home h1"></i>
              <% end %>
            </div>
            <h3 class="small font-weight-bold ae-2 fromLeft section-title ">Section V</h3>
            <h5 class=" ae-2 fromLeft type-nunito left subtitle underline margin-bottom-5">
              section recap and takeaways
            </h5>
            <h2 class="margin-bottom-5 ae-2 fromLeft">Let's review what we learned in this section.</h2>


            <ul class="flex reverse verticalCenter">
              <li class="col-12-12 left toRight section-header">
                <ul class="grid">
                  <li class="col-6-12 left ae-4 fromAbove toLeft align-left ">
                    <h6 class=" ae-2 fromLeft text-yellow subtitle">Learning #1</h6>
                    <p class="ae-3 left">
                      The equity-minded practices that are currently present in your syllabus.

                    </p>
                    <h6 class=" ae-2 fromLeft text-yellow subtitle">Learning #2</h6>
                    <p class="ae-3 left">
                       Equity-minded practices that are absent and your syllabus, and perhaps even unintentional ways in which your syllabus counters equity-minded practice (for example, maybe there were ways in which your syllabus ‘mystified’ students rather than ‘demystified’ taken for granted practices. [To refer to the mode of thinking exhibited by practitioners]
                    </p>
                  </li>
                  <li class="col-6-12 ae-4 fromAbove toRight">

                    <h6 class=" ae-2 fromLeft text-yellow subtitle">Learning #3</h6>
                    <p class="ae-3 left">
                      New reflections on aspects of your syllabus that were taken-for-granted and (possibly) new reflections on the values, beliefs, and world views that originally informed your syllabus.


                    </p>
                    <h6 class=" ae-2 fromLeft text-yellow subtitle">Learning #4</h6>
                    <p class="ae-3 left">
                      Opportunities for changing your syllabus and experimenting with new ways your syllabus can provide more intentional support for students from minoritized racial/ethnic groups.

                    </p>
                  </li>
                </ul>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
    <div class="background" style="background-image:url(https://www.sccpre.cat/mypng/full/145-1456885_moderate-red-curve-gradient-graphics-background-graphic.png);"></div>

  </section>

</body>
