<body class="slides zoom horizontal noPreload animated ">


  <section class="slide kenBurns">
    <div class="content" style="background: rgba(130, 53, 89, .95);">
      <div class="container">
        <div class="wrap">
          <div class="margin-bottom-5 left underline">
            <h4 class="ae-1 small uppercase letter-spacing-3 ">Section 5</h4>
          </div>

          <ul class="flex margin-bottom-5 left">
            <li class="col-6-12">
              <h2 class="small normal margin-bottom-2 ae-2 fromLeft opacity-3">What did we learn in this section?</h2>
              <h1 class="large ae-1 uppercase letter-spacing-3 ">Learning Summary</h1>

            </li>
          </ul>
          <ul class="grid fixedSpaces equal left grid-71">
            <li class="col-4-12 ae-3">
              <div class="col-12-12 ae-2 equalElement verticalCenter">
                <h5 class="big margin-bottom-2 padding-left-2 uppercase black rounded padding-1 inline-block">Lesson #1</h5>
                <p class=" normal">Opportunities for changing your syllabus and experimenting with new ways your syllabus can provide more intentional support for students from minoritized racial/ethnic groups.</p>
              </div>
            </li>
            <li class="col-4-12 ae-4">
              <div class="col-12-12 ae-2 equalElement verticalCenter">
                <h5 class="big margin-bottom-2 padding-left-2 uppercase black rounded padding-1 inline-block">Lesson #1</h5>
                <p class=" normal">Equity-minded practices that are absent and your syllabus, and perhaps even unintentional ways in which your syllabus counters equity-minded practice (for example, maybe there were ways in which your syllabus ‘mystified’ students rather than ‘demystified’ taken for granted practices. [To refer to the mode of thinking exhibited by practitioners]</p>
              </div>
            </li>
            <li class="col-4-12 ae-6">
              <div class="col-12-12 ae-2 equalElement verticalCenter">
                <h5 class="big margin-bottom-2 padding-left-2 uppercase black rounded padding-1 inline-block">Lesson #1</h5>
                <p class=" normal">New reflections on aspects of your syllabus that were taken-for-granted and (possibly) new reflections on the values, beliefs, and world views that originally informed your syllabus.</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-10.png")%>)"></div>
  </section>


  <section class="slide fade-8 kenBurns">
    <div class="content" style="background: rgba(130, 53, 89, .95);">
      <div class="container">
        <div class="wrap top">
          <div class="margin-bottom-5 left underline">
            <h4 class="ae-1 small uppercase letter-spacing-3 ">Section 4</h4>
          </div>
          <ul class="flex margin-bottom-5 left">
            <li class="col-6-12">
              <h1 class="large ae-1 uppercase letter-spacing-3 ">Closing</h1>
              <p class="lead semiBold ae-5 opacity-9 left">
                Syllabi can be perceived solely as a means for sharing information about the course and rules for academic success. However, syllabi are an important form of communication with students that can be shaped to foster or impede their academic progress and success. As we consider practices that can be used to improve educational outcomes, particularly for racially minoritized racial groups, creating an equity-minded syllabus is one action that can be considered. With this physical document, we can shape the ways students view their instructors, view the course and its material, the actions they’ll take when they face academic difficulties, and overall, their course experience.
              </p>
            </li>
            <li class="col-6-12">

              <div class="ae-3 cell-100 rounded margin-top-5 done padding-5">
                <h3 class="ae-5 small Left margin-bottom-3 uppercase">
                  <i class="fal fa-lightbulb-on margin-right-1"></i> As we conclude, we encourage you to consider:
                </h3>
                <p class="hero normal ae-4 fromLeft">
                •	Based on the inquiry you did around who your syllabus serves and how your syllabus demonstrates equity-minded practice, what changes—if any—do you intend to make to your syllabus? To your teaching practice more generally? How will those changes advance racial equity in particular?
                </p>
                <p class="hero normal ae-4 fromLeft">
                •	•	A course syllabus is merely one type of document / artifact of practice in higher education. There are other documents as well, such as assignments, transcripts, and applications (e.g., admissions, financial aid, scholarship applications) that also speak to what the institution believes and values. What other documents might you look at to assess for equity-minded practice?
                </p>
              </div>
            </li>
          </ul>
          <div class="ae-2">
            <%= link_to intro_5_path, class: "big button border ae-3 middle margin-top-1
           " do %>
           Let's Begin
           <% end %>
         </div>
        </div>
      </div>
    </div>
    <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-10.png")%>)"></div>
  </section>

</body>
