<section class="slide kenBurns">
  <div class="content">
    <div class="container">
      <div class="margin-top-10">
        <ul class="flex">
          <li class="col-12-12 ae-2">
            <h3 class="large light center">Ready to review analyze an actual syllabus?</h3>
            <br/><br/><br/>
            <%= link_to title_6_path, class: "col-12-12 ae-2" do %>
              <img style="position: absolute; top: 55%;" class="group hover-hidden" src="<%= image_url("graphics/syl-group-0.png")%>"  alt="Macbook Image"/>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="slide kenBurns">
  <div class="content">
    <div class="container">
      <div class="">
        <ul class="flex">
          <li class="col-12-12">
            <%= link_to s6_1_path do %>
              <img style="position: absolute; top: 5%;" class="group hover-reveal" src="<%= image_url("graphics/syl-group.png")%>"  alt="Macbook Image"/>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
