<!-- White Slide #62 -->
<section class="slide blackSlide">
  <div class="content" style="background: #5DA5B1;">
    <div class="container">
      <div class="wrap center">
        <h2 class="ae-2 type-nunito font-weight-bold subtitle">Select A Syllabus</h2>
        <ul class="flex reverse noSpaces verticalCenter margin-top-5">
          <li class="col-3-12 left ae-1" style="opacity: .25;">
            <img class="margin-bottom-3" src="<%= image_url("graphics/syllabus-1.svg", style: "opacity: .5;") %>" data-action="zoom" width="544" alt="Macbook Image"/>
          </li>
          <li class="col-6-12 left ae-1 right">
            <img class="margin-bottom-3" src="<%= image_url("graphics/syllabus-1.svg") %>" data-action="zoom" width="744" alt="Macbook Image"/>
          </li>
          <li class="col-3-12 left ae-1 right" style="opacity: .25;">
            <img class="margin-bottom-3" src="<%= image_url("graphics/syllabus-1.svg", style: "opacity: .5;") %>"  data-action="zoom" width="544" alt="Macbook Image"/>
          </li>
        </ul>
      </div>


    </div>
  </div>
</section>
