<%= render "step6/sections/page_3/p1" %>
<%= render "step6/sections/page_3/p2" %>

<nav class="side medium stroke">
  <div class="navigation">
    <ul></ul>
  </div>
</nav>

  <nav class="panel bottom small fixed">
    <div class="sections">
      <div class="left"></div>
      <div class="center">
        <span class="nextSlide"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-down"></use></svg></span>
      </div>
      <div class="right">

      </div>
    </div>
  </nav>

  <nav class="panel bottom small customPanel">
    <div class="sections">
      <div class="left">
        <ul class="menu small">
          <li tabindex="0" class="toFirstSlide hover-state">
            <%= link_to "Section Intro", intro_6_path %>
          </li>
        </ul>
    </div>
      <div class="right">
        <ul class="menu small">
          <li tabindex="0" class="toFirstSlide hover-state">
            <%= link_to "Next Section", s6_4_path %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
