<style media="screen">
.fade-1 .content {
  background: rgba(233, 30, 99, .5) !important;
}
</style>



<body class="slides zoom horizontal noPreload animated ">

  <section class="slide fade-1 kenBurns slideWhite blue" data-name="s6_title" data-title="Title">
    <div class="content">
      <div class="container">
        <div class="wrap">
          <div class="fix-11-12">
            <h5 class="ae-2 fromLeft type-nunito margin-bottom-4" style="border-bottom: 1px solid rgba(255, 255, 255, .15); padding-bottom: 15px;; text-transform: uppercase; letter-spacing: 2px;">section 6</h5>
            <h1 class="big margin-bottom-2 ae-3 fromLeft" style="border-bottom: 1px solid rgba(255, 255, 255, .15);">
              Does my syllabus demonstrate equity for racially/ethnically minoritized students?
            </h1>
          </div>
          <div class="fix-11-12">
            <ul class="grid margin-top-6 later left">
              <li class="col-4-12 ae-4">
                <i class="material-icons">lightbulb</i>
                <h3 class="type-nunito">Insight</h3>
                <p class="">The primary insight that you'll get from this section.</p>
                <ul>
                  <li>Insight</li>
                  <li>Insight</li>
                  <li>Insight</li>
                </ul>
              </li>
              <li class="col-4-12 ae-5">
                <i class="material-icons">map</i>
                <h3 class="type-nunito">Goals</h3>
                <p class="">This is the primary insight that you'll get from this section.</p>
                <ul>
                  <li>Insight</li>
                  <li>Insight</li>
                  <li>Insight</li>
                </ul>
              </li>
              <li class="col-4-12 ae-5">
                <i class="material-icons">check</i>
                <h3 class="type-nunito">Outcomes</h3>
                <p class="">Outcomes you will demonstrate after completing this section.</p>
                <ul>
                  <li>Insight</li>
                  <li>Insight</li>
                  <li>Insight</li>
                </ul>
              </li>
            </ul>
            <br/>
            <br/>
            <br/>
           <%= link_to intro_1_path, class: "button blue gradient ae-3 circle margin-top-4" do %>
              <span class="h3 micro">Let's Get Started <i class="margin-left-1 fas fa-arrow-circle-right"></i></span>
           <% end %>
          </div>

        </div>
      </div>
    </div>
    <div class="background" style="background-image:url(https://www.sccpre.cat/mypng/full/145-1456885_moderate-red-curve-gradient-graphics-background-graphic.png);"></div>

  </section>

</body>
