<section class="slide kenBurns">
  <div class="content" style="background: rgba(100, 29, 68, .98);">
   <div class="container">
     <div class="wrap top ">
       <div class="fix-12-12 left">

         <div class="margin-bottom-2 left underline ae-1">
           <h5 class="uppercase semiBold margin-bottom-2 ae-2">
             <span class="opacity-5 margin-left-1 text-white"> Introduction</span>
           </h5>
         </div>
         <ul class="flex margin-bottom-5 left">
           <li class="col-12-12">
             <h1 class="ae-3 left">
               Online Syllabi Review Guide
             </h1>
           </li>
         </ul>
         <ul class="fix-11-12 float-left">
           <li class="float-left">
             <h2 class="small ae-2 light fromLeft opacity-8">CUE’s tools are designed to help instructors explore and expand their agency for supporting racial equity in classroom experiences and outcomes.</h2>
            </li>
          </ul>

          <ul class="fix-12-12 margin-top-6 float-left">
            <li class="left">
               <ul class="flex ae-2">
                 <li class="col-4-12">
                   <div class="ae-3 shadow cell-100 rounded padding-4">
                     <%= image_tag("graphics/syllabus-review-guide.png")%>
                   </div>
                 </li>
                 <li class="col-8-12">

                   <div class="ae-3 padding-left-3 padding-top-2">
                     <p class="tiny uppercase bold margin-bottom-3 ae-2 done letter-spacing-3">
                       <span class="opacity-8 text-yellow">
                       goals and efficacy</span>
                     </p>
                     <p class="semiBold normal ae-5 opacity-6">
                       CUE’s online syllabus review guide is intended to help instructors review often taken-for-granted
                       syllabi content through a race-conscious lens and identify areas that can be leveraged to better
                       support students from minoritized racial/ethnic groups.
                     </p>
                     <p class="semiBold normal ae-5 opacity-6">
                       Since the guide asks instructors to focus
                       on existing syllabi content first, it produces new, equity-serving content and language that fits
                       each unique classroom context.
                      </p>
                   </div>
                 </li>
               </ul>

              </li>
           </ul>


       </div>
     </div>
   </div>
 </div>
 <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-12.png")%>)"></div>
</section>
