
<section class="slide kenBurns">
  <div class="content" style="background: rgba(100, 29, 68, .98);">
   <div class="container">
     <div class="wrap top ">
       <div class="fix-12-12 left">

         <div class="margin-bottom-2 left underline ae-1">
           <h5 class="uppercase semiBold margin-bottom-2 ae-2">
             <span class="opacity-5 margin-left-1 text-white"> Introduction</span>
           </h5>
         </div>
         <ul class="flex margin-bottom-5 left">
           <li class="col-12-12">
             <h1 class="ae-3 left">
               Online Syllabi Review Guide
             </h1>
           </li>
         </ul>
         <ul class="fix-11-12 float-left">
           <li class="float-left">
             <h2 class="small ae-2 light fromLeft opacity-8">
               A few quick tips for using our tool effectively.
             </h2>
            </li>
          </ul>

          <ul class="fix-12-12 margin-top-6 float-left">
            <li class="center">
              <div class="">
                <ul class="grid grid-74 later equal margin-top-5">
                  <li class="col-3-12 ae-4 margin-bottom-2">
                    <i class="fas fa-bars h1 big text-yellow margin-1"></i>
                    <p class="lead semiBold">Links & Resources</p>
                    <!-- <p class="tiny opacity-6">Design is the conscious effort to impose a meaningful order.</p> -->
                  </li>
                  <li class="col-3-12 ae-4 margin-bottom-2">
                    <i class="fal fa-arrows-alt h1 big text-yellow margin-1"></i>
                    <p class="lead semiBold">Use arrows to navigate</p>
                    <!-- <p class="tiny opacity-6">Design is as much a matter of finding problems as it is solving them..</p> -->
                  </li>
                  <li class="col-3-12 ae-4 margin-bottom-2">
                    <i class="far fa-home h1 big text-yellow margin-1"></i>
                    <p class="lead semiBold">Return to beginning</p>
                    <!-- <p class="tiny opacity-6">It’s all fun and games until someone breaks a link.</p> -->
                  </li>
                  <li class="col-3-12 ae-4 margin-bottom-2">

                    <i class="fal fa-check-circle h1 big text-yellow margin-1"></i>
                    <p class="lead semiBold">Skip ahead</p>
                    <!-- <p class="tiny opacity-6">The definition of an expert is someone who knows what not to do.</p> -->
                  </li>
                </ul>
              </div>
            </li>
          </ul>

          <ul class="fix-12-12  float-left">
            <li class="center">
              <div class="">
                <ul class="grid grid-74 later equal">
                  <li class="col-3-12 ae-5 margin-bottom-5 center">
                    <i class="fal fa-user-lock h1 big text-yellow margin-1"></i>
                    <p class="lead semiBold">100% anonymous</p>
                    <!-- <p class="tiny opacity-6">Design is as much a matter of finding problems as it is solving them..</p> -->
                  </li>
                  <li class="col-3-12 ae-6 margin-bottom-5 center">
                    <i class="fas fa-history h1 big text-yellow margin-1"></i>
                    <p class="lead semiBold margin-0">Work at your pace</p>
                    <!-- <p class="tiny opacity-6">It’s all fun and games until someone breaks a link.</p> -->
                  </li>
                  <li class="col-3-12 ae-7 margin-bottom-5 center">
                    <i class="fas fa-comment-lines  text-yellow h1 big margin-1"></i>
                    <p class="lead semiBold">Share with Collegaues</p>
                    <!-- <p class="tiny opacity-6">The definition of an expert is someone who knows what not to do.</p> -->
                  </li>
                  <li class="col-3-12 ae-7 margin-bottom-5 center">
                    <i class="fas fa-desktop  text-yellow h1 big margin-1"></i>
                    <p class="lead semiBold">Visit CUE online</p>
                    <!-- <p class="tiny opacity-6">The definition of an expert is someone who knows what not to do.</p> -->
                  </li>
                </ul>
              </div>
            </li>
          </ul>



       </div>
     </div>
   </div>
 </div>
 <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-12.png")%>)"></div>
</section>
