<section class="slide kenBurns">
  <div class="content" style="background: rgba(83, 5, 200, .95);">
    <div class="container">
      <div class="wrap">

        <div class="fix-12-12">
          <h5 class="uppercase semiBold margin-bottom-2 ae-1">cue online syllabus review</h5>
          <h1 class="big ae-2">A few quick tips for using our tool effectively.</h1>
          <p class="hero ae-3"><span class="opacity-8"></span></p>

          <ul class="flex reverse noSpaces verticalCenter margin-top-10">
            <li class="col-12-12 left">
              <ul class="flex grid-62 later margin-top-2 center">
                <li class="col-3-12 ae-4 margin-bottom-5">
                  <span class="white button icon--lg border-radius-circle">
                    <i class="fas fa-bars"></i>
                  </span>
                  <p class="lead semiBold">Links and resources</p>
                  <!-- <p class="tiny opacity-6">Design is the conscious effort to impose a meaningful order.</p> -->
                </li>
                <li class="col-3-12 ae-5 margin-bottom-5">
                  <span class="white button icon--lg border-radius-circle">
                    <i class="fal fa-arrows-alt"></i>
                  </span>
                  <p class="lead semiBold">Use arrows to navigate</p>
                  <!-- <p class="tiny opacity-6">Design is as much a matter of finding problems as it is solving them..</p> -->
                </li>
                <li class="col-3-12 ae-6 margin-bottom-5">
                    <span class="white button icon--lg border-radius-circle">
                      <i class="far fa-home"></i>
                    </span>
                  <p class="lead semiBold">Return to beginning</p>
                  <!-- <p class="tiny opacity-6">It’s all fun and games until someone breaks a link.</p> -->
                </li>
                <li class="col-3-12 ae-7 margin-bottom-5">
                  <span class="white button icon--lg border-radius-circle">
                    <i class="fal fa-check-circle"></i>
                  </span>
                  <p class="lead semiBold">Skip ahead</p>
                  <!-- <p class="tiny opacity-6">The definition of an expert is someone who knows what not to do.</p> -->
                </li>
              </ul>
            </li>
          </ul>

        </div>

      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-10.png")%>)"></div>
</section>
