
<section class="slide kenBurns">
  <div class="content" style="background: rgba(100, 29, 68, .98);">
   <div class="container">
     <div class="wrap top ">
       <div class="fix-12-12 left">

         <div class="margin-bottom-2 left underline ae-1">
           <h5 class="uppercase semiBold margin-bottom-2 ae-2">
             <span class="opacity-5 margin-left-1 text-white"> Introduction</span>
           </h5>
         </div>
         <ul class="flex margin-bottom-5 left">
           <li class="col-12-12">
             <h1 class="ae-3 left">
               A few quick tips for using our tool effectively.
             </h1>
             <p class="normal p semiBold opacity-5 ae-5">Navigation and Guidance</p>
           </li>
         </ul>
<!--
         <h3 class="big margin-top-3 ae-3 done fromLeft opacity-8 margin-bottom-4">
           Each section may be completed at your own pace.
         </h3> -->

          <ul class="fix-5-12 float-left margin-left-5">
            <li class="center">
              <p class="tiny uppercase text-yellow  bold center margin-top-3 ae-2 done letter-spacing-3">
              <span class="opacity-6">
                <i class="far fa-compass" aria-hidden="true"></i> navigation</span>
              </p>

              <div class="cell-100 padding-2 ae-3 border rounded">
                <ul class="grid grid-74 later equal margin-top-2">
                  <li class="col-6-12 ae-4 margin-bottom-1">
                    <i class="fas fa-bars h1 large text-yellow margin-2"></i>
                    <p class="lead semiBold">Link Menu</p>
                  </li>
                  <li class="col-6-12 ae-4 margin-bottom-1">
                    <i class="fal fa-arrows-alt h1 large text-yellow margin-2"></i>
                    <i class="fal fa-mouse h1 large text-yellow margin-2"></i>
                    <p class="lead semiBold">Navigation Options</p>
                  </li>
                  <li class="col-6-12 ae-4 margin-bottom-1">
                    <i class="far fa-home h1 large text-yellow margin-2"></i>
                    <p class="lead semiBold">Section Home</p>
                  </li>
                  <li class="col-6-12 ae-4 margin-bottom-1">
                    <i class="fal fa-check-circle h1 large text-yellow margin-2"></i>
                    <p class="lead semiBold">Next Section</p>
                  </li>
                </ul>
              </div>
            </li>
          </ul>

          <ul class="fix-5-12 float-right margin-right-5">
            <li class="center">
              <p class="tiny uppercase bold center margin-top-3 ae-2 done text-yellow  letter-spacing-3">
              <span class="opacity-6">
                <i class="far fa-check-circle" aria-hidden="true"></i> user-Guidance</span>
              </p>
              <div class="cell-100 padding-2 ae-3 border rounded">
                <ul class="grid grid-74 later equal margin-top-2">

                  <li class="col-6-12 ae-5 margin-bottom-1 center">
                    <i class="fal fa-user-lock h1 large text-yellow margin-2"></i>
                    <p class="lead semiBold">100% anonymous</p>
                  </li>
                  <li class="col-6-12 ae-6 margin-bottom-1 center">
                    <i class="fas fa-history h1 large semiBold text-yellow margin-2"></i>
                    <p class="lead semiBold ">Work at your pace</p>
                  </li>
                  <li class="col-6-12 ae-7 margin-bottom-1 center">
                    <i class="fas fa-comment-lines semiBold text-yellow h1 large margin-2"></i>
                    <p class="lead semiBold">Share Learnings</p>
                  </li>
                  <li class="col-6-12 ae-7 margin-bottom-1 center">
                    <i class="fas fa-desktop text-yellow h1 large semiBold margin-2"></i>
                    <p class="lead semiBold">Visit CUE online</p>
                  </li>

                </ul>
              </div>
            </li>
          </ul>



       </div>
     </div>
   </div>
 </div>
 <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-12.png")%>)"></div>
</section>
