<section class="slide kenBurns" data-name="quote" data-title="quote">
  <div class="content" style="background: rgba(100, 29, 68, .98);">
   <div class="container">
     <div class="wrap center ">
       <div class="fix-12-12 left ">

         <!-- <div class="margin-bottom-2 left underline ae-1">
           <h5 class="uppercase semiBold margin-bottom-2 ae-2">
             <span class="opacity-5 margin-left-1 text-white"> Introduction</span>
           </h5>
         </div>
         <ul class="flex margin-bottom-10 left">
           <li class="col-12-12">
             <h1 class="ae-3">
               Online Syllabi Review Guide
             </h1>
           </li>
         </ul> -->

          <div class="fix-11-12 center bottom">
            <div class="quote-79 ae-1">“</div>
            <p class="large normal ae-2">
              To truly support students from minoritized racial groups who
              traditionally have faced greater obstacles to accessing and completing higher
              education, states, higher education systems, and institutions need an explicit
              racial equity focus to inform all efforts related to this essential work.
            </p>
          </div>
          <div class="fix-11-12 center bottom">
            <div class="ae-3 author-79 left margin-top-3">
              <img src="https://collegecampaign.org/wp-content/uploads/2018/11/Estela-New-Large-Nov-2018.png" width="64" class="avatar-79 round">
              <h2 class="small semiBold margin-bottom-0">Estela Mara Bensimon</h2>
              <p class=" tight normal opacity-6 margin-bottom-2">Director and Professor of Higher Education</p>
              <p class="semiBold tiny uppercase letter-spacing-2 opacity-8">Center for Urban Education</p>
            </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-12.png")%>)"></div>
  </section>
