
  <!-- Slide #79 -->
  <section class="slide kenBurns" data-name="quote" data-title="quote">
    <!-- <div class="content" style="background: #0D605F;"> -->
      <div class="content" style="background: rgba(34, 67, 95, .95);">
      <div class="container">
          <div class="wrap">

            <div class="fix-11-12">
              <div class="quote-79 ae-1">“</div>
              <h1 class="ae-2">
                To truly support students from minoritized racial groups who
                traditionally have faced greater obstacles to accessing and completing higher
                education, states, higher education systems, and institutions need an explicit
                racial equity focus to inform all efforts related to this essential work.
              </h1>

              <div class="ae-3 author-79 left margin-top-3">
                <img src="https://collegecampaign.org/wp-content/uploads/2018/11/Estela-New-Large-Nov-2018.png" width="64" class="avatar-79 round">
                <h3 class="">Estela Mara Bensimon</h3>
                <h6 class="normal opacity-6">Director and Professor of Higher Education</h6>
                <p class=" opacity-6">Center for Urban Education (CUE)</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-10.png")%>)"></div>
  </section>
