<body class="slides zoom horizontal noPreload animated ">

      <script>
        $(function(){
          $('.typeIn').each(function(){
            var $element = $(this),
                letters = $element.text().split(""),
                interval = 0.02;

            $element.empty();

            $.each(letters, function(i, letter){
              if (letter == " ") {
                letter = "&nbsp;"
              }
              $element.append('<span style="-webkit-transition-delay: ' + interval * i + 's; transition-delay: ' + interval * i+ 's; ">'+letter+'</span>')
            });
          });
        });
      </script>
      <style>
      .typeIn span {
        opacity: 0;
        display: inline-block;
        -webkit-transform: scale(1.2) translateY(-10px) !important;
        transform: scale(1.2) translateY(-10px) !important;
        -webkit-transition-duration: 0s;
        transition-duration: 0s;
      }

      .slide:not(.active) .typeIn span {
        transition-delay: 0s !important;
      }

      .page-loaded:not(.resizing) .slide.active .typeIn span {
        -webkit-transition-duration: 0.15s;
        transition-duration: 0.15s;
        opacity: 1;
        -webkit-transform: scale(1) !important;
        transform: scale(1) !important;
      }
      </style>



        <!-- Navigation -->
        <nav class="side medium stroke">
          <div class="navigation">
            <ul></ul>
          </div>
        </nav>


     <nav class="panel bottom forceMobileView dark" style="border-top: 1px solid rgba(0, 0, 0, .10);">
       <div class="sections desktop ">
         <div class="left">
           <span class="onTop" data-tooltip="Section Home">
             <span class="white button actionButton">
               <%= link_to title_5_path do %>
                 <i class="far fa-home h4"></i>
               <% end %>
             </span>
           </span>
         </div>
         <div class="center opacity-3">
           <i class="fal fa-arrow-alt-up h2 no-margin"></i>
           <span class="h2 micro margin-2 top" style="line-height: 2;"> Use Keyboard Arrows to Navigate</span>
           <i class="fal fa-arrow-alt-down h2 no-margin"></i>
         </div>
         <div class="right">
           <span class="onTop" data-tooltip="Next Page">
             <span class="white button actionButton">
               <%= link_to s5_1_path do %>
                 <i class="fal fa-check-circle h3"></i>
               <% end %>
             </span>
           </span>
         </div>
       </div>
     </nav>

</body>
