<body class="slides zoom horizontal noPreload animated ">

  <section class="slide fade-1 kenBurns slideWhite blue" data-name="intro" data-title="Intro">
    <div class="content">
      <div class="container">
        <div class="wrap">

          <div class="fix-12-12 left">
            <ul class="flex reverse verticalCenter">
              <li class="col-12-12 left toRight section-header">
                <%= image_tag("graphics/cue-logo@3x.png", class: "ae-1 fromLeft" , style: "width: 100px;")%>
                <br/><br/>
                <h5 class=" ae-2 fromLeft type-nunito" style="border-bottom: 1px solid rgba(255, 255, 255, .25); padding-bottom: 15px;;">in this section</h5>
                <ul class="grid">
                  <li class="col-7-12 left ae-4 fromAbove toLeft align-left ">
                    <h1 class="huge margin-bottom-2 ae-2 fromLeft">What reactions do you have when we say we’re going to talk about racial equity?</h1>
                    <br/>
                    <h2 class="large margin-bottom-2 ae-2 fromLeft text-yellow ">
                      <i class="far fa-clock margin-right-1"></i>  10 min exercise
                    </h2>
                    <br/>
                    <%= link_to "Let's Explore", s5_1_path, class: "button cueRed gradient ae-3 circle"%>
                  </li>
                  <li class="col-5-12 ae-4 fromAbove toRight">
                    <h4 class=" ae-2 fromLeft">Focus</h4>
                    <p class="ae-3 left">
                      [To refer to the mode of thinking exhibited by practitioners]
                    </p>
                    <h4 class=" ae-2 fromLeft">Goal</h4>
                    <p class="ae-3 left">
                      [To refer to the mode of thinking exhibited by practitioners]
                    </p>
                    <h4 class=" ae-2 fromLeft">Outcome</h4>
                    <p class="ae-3 left">
                      [To refer to the mode of thinking exhibited by practitioners]
                    </p>
                  </li>
                </ul>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
    <div class="background" style=""></div>
  </section>

</body>
