<body class="slides zoom horizontal noPreload animated ">

  <section class="slide fade-1 kenBurns slideWhite" style="background: #333;" data-name="intro" data-title="Intro">
    <div class="content">
      <div class="container">
        <div class="wrap">
          <div class="fix-12-12 left ">
            <div class="fix-9-12 toLeft section-header">
              <%= image_tag("graphics/cue-logo@3x.png", class: "ae-1 fromLeft" , style: "width: 100px;")%>
              <br/><br/>

              <h5 class=" ae-2 fromLeft type-nunito" style="border-bottom: 1px solid #333; padding-bottom: 15px;;">in this section</h5>
              <h1 class="huge margin-bottom-2 ae-2 fromLeft">What reactions do you have when we say we’re going to talk about racial equity?</h1>
              <br/>
              <h2 class="huge margin-bottom-2 ae-2 fromLeft text-yellow">10 min exercise</h2>
              <p class="ae-3 text-gray">
                Syllabus	review	is	an	inquiry	tool	for	promoting	racial/ethnic	equity	and	equity-minded	practice.
                To	achieve	this	goal,	the	syllabus	review	process	promotes faculty	inquiry	into	teaching	approaches
                	and	practices,	especially	how	they	affect	African	American,	Latinx,	Native	American,	Pacific	Islander
              </p>
              <h2 class="huge margin-bottom-5 ae-3 fromLeft text-yellow"></h2>
              <div class="popupTrigger ae-3 fromRight relative margin-top-3" data-popup-id="86-2">
                  <span class="button play cueRed button-86 absolute">
                    <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#play"></use></svg>
                  </span>
                  <!-- <div class="text-86"><h6 class="uppercase">Watch video</h6><p class="tiny opacity-6">See Slides Framework in action (2:00)</p></div> -->
                  <%= link_to "Let's Explore", s5_1_path, class: "button cueRed gradient ae-3 circle"%>
                </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="background" style=""></div>
  </section>

</body>
