<body class="slides zoom horizontal noPreload animated ">
<%= render "shared/panels/top/nav_1" %>
<nav class="side medium stroke">
  <div class="navigation">
    <ul></ul>
  </div>
</nav>










   <nav class="panel bottom forceMobileView dark" style="border-top: 1px solid rgba(0, 0, 0, .10);">
     <div class="sections desktop ">
       <div class="left">
         <span class="onTop" data-tooltip="Section Home">
           <span class="white button actionButton">
             <%= link_to title_5_path do %>
               <i class="far fa-home h4"></i>
             <% end %>
           </span>
         </span>
       </div>
       <div class="center opacity-5">
         <i class="fal fa-arrow-alt-up h2 no-margin"></i>
         <span class="h2 micro margin-2 top" style="line-height: 2;"> Use Keyboard Arrows to Navigate</span>
         <i class="fal fa-arrow-alt-down h2 no-margin"></i>
       </div>
       <div class="right">
         <span class="onTop" data-tooltip="Next Page">
           <span class="white button actionButton">
             <%= link_to intro_5_path do %>
               <i class="fal fa-check-circle h3"></i>
             <% end %>
           </span>
         </span>
       </div>
     </div>
   </nav>


</body>
