<body class="slides zoom noPreload animated">

  <nav class="panel top fixed">
    <!-- desktop version -->
    <div class="sections">
      <div class="left">
        <%= image_tag("logos/cue-white-logo.png", class: "", style:"height: 40px; width: auto;")%>
      </div>
      <div class="center">
        <ul class="menu">
          <li>
            <%#= link_to "EQMD", title_1_path, class: "bold" %>
          </li>
        </ul>
      </div>
      <div class="right"><span class="button actionButton white sidebarTrigger" data-sidebar-id="1"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu"></use></svg></span></div>
    </div>
  </nav>

  <section class="slide kenBurns">
    <div class="content" style="background: rgba(130, 53, 89, .95);">
      <div class="container">
        <div class="wrap">
          
          <div class="margin-bottom-5 left underline">
            <h4 class="ae-1 small uppercase letter-spacing-3 ">Section 4</h4>
          </div>
          <ul class="flex margin-bottom-5 left">
            <li class="col-6-12">
              <h2 class="small normal margin-bottom-2 ae-2 fromLeft opacity-3">What did we learn in this section?</h2>
              <h1 class="large ae-1 uppercase letter-spacing-3 ">Learning Summary</h1>
            </li>
          </ul>
          <ul class="grid fixedSpaces equal left grid-71">
            <li class="col-4-12 ae-3">
              <div class="col-12-12 ae-2 equalElement verticalCenter">
                <h5 class="big margin-bottom-2 padding-left-2 uppercase black rounded padding-1 inline-block">Lesson #1</h5>
                <p class=" normal">Initial prompts to use when starting to reflect on classroom artifacts, like syllabi</p>
              </div>
            </li>
            <li class="col-4-12 ae-4">
              <div class="col-12-12 ae-2 equalElement verticalCenter">
                <h5 class="big margin-bottom-2 padding-left-2 uppercase black rounded padding-1 inline-block">Lesson #1</h5>
                <p class=" normal">Your own first-take thoughts about syllabix</p>
              </div>
            </li>
            <li class="col-4-12 ae-6">
              <div class="col-12-12 ae-2 equalElement verticalCenter">
                <h5 class="big margin-bottom-2 padding-left-2 uppercase black rounded padding-1 inline-block">Lesson #1</h5>
                <p class=" normal">The explicit statement of your current syllabi’s origins and trajectory.</p>
              </div>
            </li>
          </ul>
          <div class="fix-12-12 center margin-top-10">
            <%= link_to title_6_path, class: "center button border big ae-3 circle" do %>
              Next Section <i class="fad fa-long-arrow-alt-right margin-left-1"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="background" style="background-image:url(<%= image_url("patterns/png/Pattern-10.png")%>)"></div>
  </section>

</body>
