

  <nav class="panel bottom">
    <div class="sections">
      <div class="center"><span class="nextSlide"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-down"></use></svg></span></div>
    </div>
  </nav>

  <%= render "step5/sections/s2/p1" %>
  <%= render "step5/sections/s2/p2" %>
  <%= render "step5/sections/s2/p3" %>
  <%= render "step5/sections/s2/p4" %>
