<body class="slides plain horizontal fast animated ">
  <section class="slide whiteSlide">
    <div class="content">
      <div class="container">
        <div class="wrap">

          <div class="fix-12-12">
            <h3 class="fromLeft left">Get Reaqcuainted</h3>
            <h1 class="huge ae-1 fromLeft left">DECONSTRUCTION AND REFLECTION</h1>

            <ul class="flex fixedSpaces verticalCenter reverse">
              <li class="col-8-12 left middle">
              <h3 class="">Who does your syllabus serve?</h3>
              <h3>Deconstructing your syllabus in terms of who it serves entails categorizing its content by audiences. Pull out your syllabus anad follow along… </h3>
              <br/>
              <ol>
                <li>1. Write INSTITUTION next to sections required by your institution.</li>
                <li>2. Write DEPARTMENT next to the sections required by your department.</li>
                <li>3. Write FACULTY next to sections that explicate your classroom rules/policies and the relationship you expect to have with students.</li>
              </ol>

              <br/><br/><br/>

              <div style="opacity: 0;">
                <p>As you deconstruct your syllabus, write down your observations — ideas, a-ha's, insights — and your sensemaking.</p>

                <p>Ask yourself: What is the process of deconstructing my syllabus helping me understand about who my syllabus serves?</p>
              </div>

              </li>
              <li class="col-4-12">
                <img class="ae-4" width="605" src="<%= image_url("graphics/my_syllabus.png") %>" alt="iPhones Thumbnail" data-action="zoom"/>
              </li>
            </ul>

            <div style="opacity: 0;">
              <ul class="flex fixedSpaces verticalCenter reverse">
                <li class="col-8-12 left middle">
                </li>
                <li class="col-3-12 left right">
                  <img class="ae-4" width="605" src="<%= image_url("graphics/exercise-break.png") %>" alt="iPhones Thumbnail" data-action="zoom"/>
                </li>
              </ul>
            </div>

          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="slide whiteSlide">
    <div class="content">
      <div class="container">
        <div class="wrap">
          <div class="fix-12-12">
            <h3 class="fromLeft left">Get Reaqcuainted</h3>
            <h1 class="huge fromLeft left">DECONSTRUCTION AND REFLECTION</h1>

            <ul class="flex fixedSpaces verticalCenter reverse">
              <li class="col-8-12 left middle">
              <h3 class="">Who does your syllabus serve?</h3>
              <h3>Deconstructing your syllabus in terms of who it serves entails categorizing its content by audiences. Pull out your syllabus anad follow along… </h3>
              <br/>
              <ol>
                <li>1. Write INSTITUTION next to sections required by your institution.</li>
                <li>2. Write DEPARTMENT next to the sections required by your department.</li>
                <li>3. Write FACULTY next to sections that explicate your classroom rules/policies and the relationship you expect to have with students.</li>
              </ol>

              <br/><br/><br/>

              <div class="ae-3">
                <p>As you deconstruct your syllabus, write down your observations — ideas, a-ha's, insights — and your sensemaking.</p>

                <p>Ask yourself: What is the process of deconstructing my syllabus helping me understand about who my syllabus serves?</p>
              </div>

              </li>
              <li class="col-4-12">
                <img class="" width="605" src="<%= image_url("graphics/my_syllabus.png") %>" alt="iPhones Thumbnail" data-action="zoom"/>
              </li>
            </ul>

            <ul class="flex fixedSpaces verticalCenter reverse">
              <li class="col-8-12 left middle">
              </li>
              <li class="col-3-12 left right">
                <img class="ae-4" width="605" src="<%= image_url("graphics/exercise-break.png") %>" alt="iPhones Thumbnail" data-action="zoom"/>
              </li>
            </ul>


          </div>

        </div>
      </div>
    </div>
  </section>
</body>
