<body class="slides plain horizontal fast animated ">
  <section class="slide whiteSlide">
    <div class="content">
      <div class="container">
        <div class="wrap">

          <div class="fix-12-12">
            <h3 class="fromLeft left">Get Reaqcuainted</h3>
            <h1 class="huge ae-1 fromLeft left">DECONSTRUCTION AND REFLECTION</h1>
            <h3 class="left">Who does your syllabus serve?</h3>

            <ul class="flex fixedSpaces verticalCenter reverse">
              <li class="col-8-12 left middle">
                <h3>
                  [icon] Deconstructing your syllabus in terms of who it serves entails categorizing
                  its content by audiences. Pull out your syllabus anad follow along…
                </h3>
                <div style="opacity: 1;">
                  <h4>Reflecting on your inequity observations and findings is another fundamental aspect of equity-minded inquiry process.</h4>
                  <p>1. Count the number of instances for each audience.</p>
                  <ul class="flex fixedSpaces verticalCenter reverse">
                    <li class="col-4-12">
                      <label>INSTITUTION</label>
                      <input></input>
                    </li>
                    <li class="col-4-12">
                      <label>INSTITUTION</label>
                      <input></input>
                    </li>
                    <li class="col-4-12">
                      <label>INSTITUTION</label>
                      <input></input>
                    </li>
                  </ul>

                  <br/><br/><br/>
                  <h4>2. Scan your syllabus again. Where did each audience appear with more frequency? </h4>
                  <p>1. Count the number of instances for each audience.</p>
                  <div class="fix-12-12">
                    <div class="frame-97 ae-3 padding-bottom-3 margin-top-2">
                      <h4 class="small align-left cropBottom inline-block padding-top-1">
                        <span class="light margin-left-phablet-0 title-group">INSTITUTION</span>
                        <a href="#" class="button green gradient button-buy-97">End</a>
                        <a href="#" class="button green gradient button-buy-97">Middle</a>
                        <a href="#" class="button green gradient button-buy-97">Beginning</a>
                      </h4>
                    </div>
                    <div class="frame-97 ae-4 padding-bottom-3 margin-top-2">
                      <h4 class="small align-left cropBottom inline-block padding-top-1">
                        <span class="light margin-left-phablet-0 title-group">DEPARTMENT</span>
                        <a href="#" class="button green gradient button-buy-97">End</a>
                        <a href="#" class="button green gradient button-buy-97">Middle</a>
                        <a href="#" class="button green gradient button-buy-97">Beginning</a>
                      </h4>
                    </div>
                    <div class="frame-97 ae-5 padding-bottom-3 margin-top-2">
                      <h4 class="small align-left cropBottom inline-block padding-top-1">
                        <span class="light margin-left-phablet-0 title-group">FACULTY</span>
                        <a href="#" class="button green gradient button-buy-97">End</a>
                        <a href="#" class="button green gradient button-buy-97">Middle</a>
                        <a href="#" class="button green gradient button-buy-97">Beginning</a>
                      </h4>
                    </div>
                  </div>

                  <br/><br/><br/>

                  <h4 class="ae-5">3. Consider. Based on these patterns, for whom would you say
                        your syllabus is written? Does this match your prior thinking?
                  </h4>

                  <h4 class="ae-5">4. Consider. What did you learn from completing this exercise?
                  </h4>



                </div>

                </li>
                <li class="col-4-12">
                  <img class="ae-4" width="605" src="<%= image_url("graphics/my_syllabus.png") %>" alt="iPhones Thumbnail" data-action="zoom"/>
                </li>
            </ul>

            <div style="opacity: 0;">
              <ul class="flex fixedSpaces verticalCenter reverse">
                <li class="col-8-12 left middle">
                </li>
                <li class="col-3-12 left right">
                  <img class="ae-4" width="605" src="<%= image_url("graphics/exercise-break.png") %>" alt="iPhones Thumbnail" data-action="zoom"/>
                </li>
              </ul>
            </div>

          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="slide whiteSlide">
    <div class="content">
      <div class="container">
        <div class="wrap">
          <div class="fix-12-12">
            <h3 class="fromLeft left">Get Reaqcuainted</h3>
            <h1 class="huge fromLeft left">DECONSTRUCTION AND REFLECTION</h1>

            <ul class="flex fixedSpaces verticalCenter reverse">
              <li class="col-8-12 left middle">
              <h3 class="">Who does your syllabus serve?</h3>
              <h3>Deconstructing your syllabus in terms of who it serves entails categorizing its content by audiences. Pull out your syllabus anad follow along… </h3>
              <br/>


              <br/><br/><br/>

              </li>
              <li class="col-4-12">
                <img class="" width="605" src="<%= image_url("graphics/my_syllabus.png") %>" alt="iPhones Thumbnail" data-action="zoom"/>
              </li>
            </ul>

            <ul class="flex fixedSpaces verticalCenter reverse">
              <li class="col-8-12 left middle">
              </li>
              <li class="col-3-12 left right">
                <img class="ae-4" width="605" src="<%= image_url("graphics/exercise-break.png") %>" alt="iPhones Thumbnail" data-action="zoom"/>
              </li>
            </ul>


          </div>

        </div>
      </div>
    </div>
  </section>
</body>
