<div id="ld-tab-pane-42" role="tabpanel" class="tabs-pane fade">
  <header class="fancy-title mb-35">
   <p class="lead">2. Is the syllabus important to me as an instructor?</p>
  </header>

  <div class="contact-form contact-form-inputs-filled contact-form-button-block">
    <form action="" method="post" novalidate="novalidate">
      <div class="row">
        <div class="col-md-12">
          <textarea class="bg-athens-gray px-4" type="text" name="text" aria-required="true" aria-invalid="false" placeholder="Word or phrase one…" required> </textarea>
        </div><!-- /.col-md-12 -->
      </div><!-- /.row -->
    </form>
    <div class="contact-form-result hidden"></div><!-- /.contact-form-result -->
  </div><!-- /.contact-form -->

   <a href="#ld-tab-pane-43" aria-expanded="false" aria-controls="ld-tab-pane-43" role="tab" data-toggle="tab" class="btn btn-solid btn-sm semi-round btn-bordered border-thin px-2 font-size-15">
     <span>
       <span class="btn-txt">Next</span>
     </span>
   </a>
</div><!-- /.tab-pane -->
