
<section class="slide fade-6  kenBurns">
<div class="content" style="background:">
<div class="container">
<div class="wrap">

  <div class="fix-10-12">
    <h1 class="huge thin ae-2 cue-red">Part 4</h1>
		<h1 class="huge thin ae-2">Center for Urban Education Syllabus Review Tool</h1>
		<!-- <p class="hero ae-1">Please tell us a little bit about yourself before we get started.</p> -->
  </div>
	<div class="margin-top-2">
		<form class="slides-form" action="step_1.html">
			<!-- <input type="text" class="input-8 ae-4 fromCenter" name="user-name" placeholder="Full Name" val=""/>
			<input type="text" class="input-8 ae-4 fromCenter" name="user-school" placeholder="School" val=""/>
			<input type="text" class="input-8 ae-4 fromCenter" name="user-title" placeholder="Title" val=""/>
			<input type="email" class="input-8 ae-4 fromCenter" name="user-email" placeholder="Email" val=""/> -->

      <%= link_to "Let's Get Started", part_4a_path, class: "button blue gradient ae-7 fromCenter" %>

		</form>
	</div>

</div>
</div>
</div>
<div class="background" style="background-image:url(<%= image_url("istock/1.jpg")%>)"></div>
</section>

<%= render "shared/navigation" %>
