<body class="slides zoom horizontal noPreload animated">
  <section class="slide fade-6 kenBurns bg-softpink slideWhite" data-name="intro" data-title="Intro">
    <div class="content">
      <div class="container">
        <div class="wrap">
          <div class="fix-12-12 left">
            <div class="fix-8-12 toLeft">
              <h2 class="ae-1">In this Section</h2>
              <h1 class="huge margin-bottom-5  ae-2 fromLeft">
                [What is equity-minded do you have when we say we’re going to talk about racial equity.]
              </h1>
              <h3 class="ae-1">Focus</h3>
              <h2 class="huge ae-2">EQMD Concepts</h2>
              <div class="popupTrigger ae-3 fromRight relative margin-top-3" data-popup-id="86-2">
                  <%= link_to "Let's Explore", s4_1_path, class: "button white gradient ae-3 circle"%>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="background" style=""></div>
  </section>
</body>
