<style media="screen">
.fade-1 .content {
  background: rgba(33, 33, 33, .25) !important;
}
</style>



<body class="slides zoom horizontal noPreload animated ">

  <section class="slide fade-1 kenBurns slideWhite">
    <div class="content">
      <div class="container">
        <div class="wrap">

          <div class="fix-12-12 left">
            <ul class="flex reverse verticalCenter">
              <li class="col-12-12 left toRight section-header">
                <%= image_tag("graphics/cue-logo@3x.png", class: "ae-1 fromLeft" , style: "width: 100px;")%>
                <br/><br/>
                <h5 class=" ae-2 fromLeft type-nunito left" style="border-bottom: 1px solid rgba(255, 255, 255, .25); padding-bottom: 15px;;">
                  section recap and takeaways
                </h5>
                <ul class="grid">
                  <li class="col-7-12 left ae-4 fromAbove toLeft align-left ">
                    <h1 class="huge margin-bottom-2 ae-2 fromLeft">Let's review what we learned in this section ahead of moving on.</h1>
                    <!-- <h4 class="large margin-bottom-2 ae-2 fromLeft text-yellow">
                    </h4> -->
                    <br/>
                    <%= link_to "Next Section", title_5_path, class: "button gradient ae-3 circle"%>
                  </li>
                  <li class="col-5-12 ae-4 fromAbove toRight">
                    <h4 class=" ae-2 fromLeft">Learning #1</h4>
                    <p class="ae-3 left">
                      [To refer to the mode of thinking exhibited by practitioners]
                    </p>
                    <h4 class=" ae-2 fromLeft">Learning #2</h4>
                    <p class="ae-3 left">
                      [To refer to the mode of thinking exhibited by practitioners]
                    </p>
                    <h4 class=" ae-2 fromLeft">Learning #3</h4>
                    <p class="ae-3 left">
                      [To refer to the mode of thinking exhibited by practitioners]
                    </p>
                  </li>
                </ul>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
    <div class="background" style="background-image:url(https://www.sccpre.cat/mypng/full/145-1456885_moderate-red-curve-gradient-graphics-background-graphic.png);"></div>

  </section>

</body>
