


<!-- EXAMPLE: Split -->
<!-- 1) Copy styles -->
<style>
/* scroll effect support */
.scroll .slide.split,
.scroll .slide.split .container {
  min-height: 100vh;
}

.slide.split .wrap {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 1024px) {
  .slide.split .container,
  .slide.split .wrap {
    width: 100% !important;
    min-height: 50vh;
  }

  .slide.split .container {
    display: block;
    height: auto;
  }

  .slide.split .wrap {
    display: table;
    background-attachment: inherit;
  }

  .slide.split .wrap .mobile-wrap {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
  }
}
</style>

<!-- Panel Bottom #09 -->
<nav class="panel bottom">
  <div class="sections">
    <div class="center"><span class="nextSlide"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-down"></use></svg></span></div>
  </div>
</nav>

<!-- Split the Content -->
<section class="slide autoHeight whiteSlide split">
  <div class="content">
    <div class="container">
      <div class="wrap" style="background:#fff">

        <div class="mobile-wrap">
          <h1 class="small ae-1">A million apps just for iPad</h1>
          <p class="ae-2">Your iPad comes with powerful apps for the things you do every day. The App Store has a million more apps specifically designed for the big, beautiful Retina display of your iPad. Whatever you love to do, there’s an iPad app to help you do it.</p>
          <a class="text-blue ae-3">Visit the App Store</a>
        </div>

      </div>
      <div class="wrap center" style="background:#eaeaea">
        <div class="mobile-wrap">
          <h1 class="ae-1">Swift Playgrounds</h1>
          <p class="ae-2">Learn serious code on your iPad. In a seriously fun way.</p>
          <a class="text-blue ae-3">Visit the App Store</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="slide autoHeight whiteSlide split" style="background: #fff">
  <div class="content">
    <div class="container">
      <div class="wrap" style="background-image: url(assets/img/background/img-26.jpg);"></div>
      <div class="wrap left" style="background: #fff">
        <div class="mobile-wrap left">
          <h1 class="small margin-bottom-4">Terms &amp; Conditions</h1>
          <div>
            <p>Please read these Terms and Conditions (“Terms”, “Terms and Conditions”) carefully before using the https://designmodo.com website (the “Service”) operated by Designmodo Inc. (“us”, “we”, or “our”).</p>
            <p>Your access to and use of the Service is conditioned upon your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who wish to access or use the Service.</p>
          </div>
          <h3 class="small uppercase margin-bottom-2">Communications</h3>
          <div>
            <p>By creating an Account on our service, you agree to subscribe to newsletters, marketing or promotional materials and other information we may send. However, you may opt out of receiving any, or all, of these communications from us by following the unsubscribe link or instructions provided in any email we send.</p>
          </div>
          <div>
            <p>Please read these Terms and Conditions (“Terms”, “Terms and Conditions”) carefully before using the https://designmodo.com website (the “Service”) operated by Designmodo Inc. (“us”, “we”, or “our”).</p>
            <p>Your access to and use of the Service is conditioned upon your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who wish to access or use the Service.</p>
          </div>
          <h3 class="small uppercase margin-bottom-2">Communications</h3>
          <div>
            <p>By creating an Account on our service, you agree to subscribe to newsletters, marketing or promotional materials and other information we may send. However, you may opt out of receiving any, or all, of these communications from us by following the unsubscribe link or instructions provided in any email we send.</p>
          </div>
          <div>
            <p>Please read these Terms and Conditions (“Terms”, “Terms and Conditions”) carefully before using the https://designmodo.com website (the “Service”) operated by Designmodo Inc. (“us”, “we”, or “our”).</p>
            <p>Your access to and use of the Service is conditioned upon your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who wish to access or use the Service.</p>
          </div>
          <h3 class="small uppercase margin-bottom-2">Communications</h3>
          <div>
            <p>By creating an Account on our service, you agree to subscribe to newsletters, marketing or promotional materials and other information we may send. However, you may opt out of receiving any, or all, of these communications from us by following the unsubscribe link or instructions provided in any email we send.</p>
          </div>
          <div>
            <p>Please read these Terms and Conditions (“Terms”, “Terms and Conditions”) carefully before using the https://designmodo.com website (the “Service”) operated by Designmodo Inc. (“us”, “we”, or “our”).</p>
            <p>Your access to and use of the Service is conditioned upon your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who wish to access or use the Service.</p>
          </div>
          <h3 class="small uppercase margin-bottom-2">Communications</h3>
          <div>
            <p>By creating an Account on our service, you agree to subscribe to newsletters, marketing or promotional materials and other information we may send. However, you may opt out of receiving any, or all, of these communications from us by following the unsubscribe link or instructions provided in any email we send.</p>
          </div>
          <div>
            <p>Please read these Terms and Conditions (“Terms”, “Terms and Conditions”) carefully before using the https://designmodo.com website (the “Service”) operated by Designmodo Inc. (“us”, “we”, or “our”).</p>
            <p>Your access to and use of the Service is conditioned upon your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who wish to access or use the Service.</p>
          </div>
          <h3 class="small uppercase margin-bottom-2">Communications</h3>
          <div>
            <p>By creating an Account on our service, you agree to subscribe to newsletters, marketing or promotional materials and other information we may send. However, you may opt out of receiving any, or all, of these communications from us by following the unsubscribe link or instructions provided in any email we send.</p>
          </div>
          <div>
            <p>Please read these Terms and Conditions (“Terms”, “Terms and Conditions”) carefully before using the https://designmodo.com website (the “Service”) operated by Designmodo Inc. (“us”, “we”, or “our”).</p>
            <p>Your access to and use of the Service is conditioned upon your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who wish to access or use the Service.</p>
          </div>
          <h3 class="small uppercase margin-bottom-2">Communications</h3>
          <div>
            <p>By creating an Account on our service, you agree to subscribe to newsletters, marketing or promotional materials and other information we may send. However, you may opt out of receiving any, or all, of these communications from us by following the unsubscribe link or instructions provided in any email we send.</p>
          </div>
          <div>
            <p>Please read these Terms and Conditions (“Terms”, “Terms and Conditions”) carefully before using the https://designmodo.com website (the “Service”) operated by Designmodo Inc. (“us”, “we”, or “our”).</p>
            <p>Your access to and use of the Service is conditioned upon your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who wish to access or use the Service.</p>
          </div>
          <h3 class="small uppercase margin-bottom-2">Communications</h3>
          <div>
            <p>By creating an Account on our service, you agree to subscribe to newsletters, marketing or promotional materials and other information we may send. However, you may opt out of receiving any, or all, of these communications from us by following the unsubscribe link or instructions provided in any email we send.</p>
          </div>
          <div>
            <p>Please read these Terms and Conditions (“Terms”, “Terms and Conditions”) carefully before using the https://designmodo.com website (the “Service”) operated by Designmodo Inc. (“us”, “we”, or “our”).</p>
            <p>Your access to and use of the Service is conditioned upon your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who wish to access or use the Service.</p>
          </div>
          <h3 class="small uppercase margin-bottom-2">Communications</h3>
          <div>
            <p>By creating an Account on our service, you agree to subscribe to newsletters, marketing or promotional materials and other information we may send. However, you may opt out of receiving any, or all, of these communications from us by following the unsubscribe link or instructions provided in any email we send.</p>
          </div>
          <div>
            <p>Please read these Terms and Conditions (“Terms”, “Terms and Conditions”) carefully before using the https://designmodo.com website (the “Service”) operated by Designmodo Inc. (“us”, “we”, or “our”).</p>
            <p>Your access to and use of the Service is conditioned upon your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who wish to access or use the Service.</p>
          </div>
          <h3 class="small uppercase margin-bottom-2">Communications</h3>
          <div>
            <p>By creating an Account on our service, you agree to subscribe to newsletters, marketing or promotional materials and other information we may send. However, you may opt out of receiving any, or all, of these communications from us by following the unsubscribe link or instructions provided in any email we send.</p>
          </div>
          <div>
            <p>Please read these Terms and Conditions (“Terms”, “Terms and Conditions”) carefully before using the https://designmodo.com website (the “Service”) operated by Designmodo Inc. (“us”, “we”, or “our”).</p>
            <p>Your access to and use of the Service is conditioned upon your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who wish to access or use the Service.</p>
          </div>
          <h3 class="small uppercase margin-bottom-2">Communications</h3>
          <div>
            <p>By creating an Account on our service, you agree to subscribe to newsletters, marketing or promotional materials and other information we may send. However, you may opt out of receiving any, or all, of these communications from us by following the unsubscribe link or instructions provided in any email we send.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
