<div id="ld-tab-pane-44" role="tabpanel" class="tabs-pane fade">
  <header class="fancy-title mb-35">
    <p class="lead">4. What are three words or phrases that come to mind when you hear the word "syllabus"?</p>
  </header>

   <div class="contact-form contact-form-inputs-filled contact-form-button-block">
     <form action="" method="post" novalidate="novalidate">
       <div class="row">
         <div class="col-md-12">
           <input class="bg-athens-gray px-4" type="text" name="text" aria-required="true" aria-invalid="false" placeholder="Word or phrase one…" required>
         </div><!-- /.col-md-12 -->
         <div class="col-md-12">
           <input class="bg-athens-gray px-4" type="text" name="text" aria-required="true" aria-invalid="false" placeholder="Word or phrase one…" required>
         </div><!-- /.col-md-12 -->
         <div class="col-md-12">
           <input class="bg-athens-gray px-4" type="text" name="text" aria-required="true" aria-invalid="false" placeholder="Word or phrase one…" required>
         </div><!-- /.col-md-12 -->
       </div><!-- /.row -->
     </form>
     <div class="contact-form-result hidden"></div><!-- /.contact-form-result -->
   </div><!-- /.contact-form -->

   <a href="#ld-tab-pane-41" aria-expanded="false" aria-controls="ld-tab-pane-41" role="tab" data-toggle="tab" class="btn btn-solid btn-sm semi-round btn-bordered border-thin px-2 font-size-15">
     <span>
       <span class="btn-txt">Next</span>
     </span>
   </a>
   
</div><!-- /.tab-pane -->
