<section class="slide whiteSlide">
 <div class="content">
   <div class="container">
     <div class="wrap">

       <div class="">
         <h1 class="huge ae-1 margin-bottom-2 left">What is Equity-Mindedness?</h1>
         <ul class="flex reverse verticalCenter">
           <li class="col-4-12 left">
             <p class="hero ae-2">
               <span class="opacity-8">
                 BEING ABLE TO DEMONSTRATE "AUTHENTIC CARING" TO BECOME INSTITUTIONAL AGENTS
               </span>
             </p>
           </li>
           <li class="col-6-12 left">
             <p class="ae-2">
               <span class="opacity-8">
               Institutional agents are individuals who have the capacity and commitment to transmit directly, or
               negotiate the transmission of, institutional resources and opportunities (Stanton-Salazar, 1997).
               Therefore, to care authentically means to reach out to students proactively and give them the tools they
               need to succeed. Authentic care encompasses substantial help-giving actions and should not be confused with
               being understanding or sympathetic. While understanding and sympathy may provide the motivation for help-giving
               actions, alone they are not sufficient to make a difference in minority students’lives.
               </span>
             </p>
             <p class="ae-2">
               <span class="opacity-8">
                 Instructors take the time and trouble to equip students with the tools they need to succeed in college by showing them,
                 among other things, how to research and format a paper, outline their class notes and reading assignments, and study
                 effectively for exams.
               </span>
             </p>
           </li>
           <li class="col-1-12 left ae-1 fromAbove">
             <%= image_tag("graphics/mind@3x.png", class:"ipad-31", width:"500", alt:"iPad Image")%>
           </li>
         </ul>
       </div>

     </div>
   </div>
 </div>
</section>
