<section class="slide whiteSlide">
 <div class="content">
   <div class="container">
     <div class="wrap">

       <div class="">
         <h1 class="huge ae-1 margin-bottom-2 left">What is Equity-Mindedness?</h1>
         <ul class="flex reverse verticalCenter">
           <li class="col-4-12 left">
             <p class="hero ae-2">
               <span class="opacity-8">
                 BEING AWARE OF RACIALLY-BOUNDED BELIEFS, EXPECTATIONS, AND PRACTICES
               </span>
             </p>
           </li>
           <li class="col-6-12 left">
             <p class="ae-2">
               <span class="opacity-8">
               Practitioners are careful not to attribute inequitable educational outcomes to incomplete or
               inaccurate explanations regarding students’ cultural predispositions, capacity, ability, or ambitions.
               </span>
             </p>
             <p class="ae-2">
               <span class="opacity-8">
                 A philosophy instructor notices that his Latina students rarely speak up in class. He wonders if it is because
                 they have been socialized by their families to be more submissive. The instructor generally focuses on canonized
                 Western authors, but decides to introduce the work of Chicana scholar Gloria Anzaldúa in class one day. The animated
                 response her work generates among the Latina students amazes him. He experiments with incorporating other diverse authors
                 in the curriculum and finds that the class appreciates the exposure to a spectrum of perspectives.
               </span>
             </p>
           </li>
           <li class="col-1-12 left ae-1 fromAbove">
             <%= image_tag("graphics/mind@3x.png", class:"ipad-31", width:"500", alt:"iPad Image")%>
           </li>
         </ul>
       </div>

     </div>
   </div>
 </div>
</section>
