<section class="slide whiteSlide">
 <div class="content">
   <div class="container">
     <div class="wrap">

       <div class="">
         <h1 class="huge ae-1 margin-bottom-2 left">What is Equity-Mindedness?</h1>
         <ul class="flex reverse verticalCenter">
           <li class="col-4-12 left">
             <p class="hero ae-2">
               <span class="opacity-8">
                 BEING DATA ORIENTED FOR ASSESSMENT
               </span>
             </p>
           </li>
           <li class="col-6-12 left">
             <p class="ae-2">
               <span class="opacity-8">
                 Practitioners define the cause of unequal student outcomes in ways that make them observable, manageable and measurable.
                 They also monitor outcomes by race and ethnicity, and their progress toward benchmarks.
               </span>
             </p>
             <p class="ae-2">
               <span class="opacity-8">
                 As part of an effort to improve transfer rates, practitioners disaggregate attrition rates by race and ethnicity, and assess
                 the impact of targeted interventions (e.g. counseling, mentoring, and learning communities) over time. They focus their attention
                 on barriers to transfer that they can actually control (e.g. lack of institutional support, no guidance from peers or mentors)
                 instead of barriers beyond their control (e.g. socioeconomic status, high school preparation).
               </span>
             </p>
           </li>
           <li class="col-1-12 left ae-1 fromAbove">
             <%= image_tag("graphics/mind@3x.png", class:"ipad-31", width:"500", alt:"iPad Image")%>
           </li>
         </ul>
       </div>

     </div>
   </div>
 </div>
</section>
