<section class="slide whiteSlide">
 <div class="content">
   <div class="container">
     <div class="wrap">

       <div class="">
         <h1 class="huge ae-1 margin-bottom-2 left">What is Equity-Mindedness?</h1>
         <ul class="flex reverse verticalCenter">
           <li class="col-4-12 left">
             <p class="hero ae-2">
               <span class="opacity-8">
                 BEING ABLE TO ASSUME RESPONSIBILITY FOR THE ELIMINATION OF INEQUALITY
               </span>
             </p>
           </li>
           <li class="col-6-12 left">
             <p class="ae-2">
               <span class="opacity-8">
                 Rather than viewing inequities in student achievement as unfortunate but expected outcomes, practitioners allow for the
                 possibility that they might be created or exacerbated by taken-for-granted practices and policies, inadequate knowledge,
                 a lack of cultural know-how, or the absence of institutional support.
               </span>
             </p>
             <p class="ae-2">
               <span class="opacity-8">
                 Community college counselors notice that incoming students who take the campus placement test for ESL lack information on how
                  this placement exam affects their ability to take transfer level English coursework. They find that students take ESL courses,
                   but lack the knowledge or resources to understand how to interpret the placement exam results and what courses would satisfy
                   transfer requirements. They develop an outreach strategy to educate incoming students about the interpretation of placement
                   test results and proper course placement. As a result of this strategy, the counselors notice an increase in the number of
                   students who take ESL courses and then enroll in English transfer level course work.
               </span>
             </p>
           </li>
           <li class="col-1-12 left ae-1 fromAbove">
             <%= image_tag("graphics/mind@3x.png", class:"ipad-31", width:"500", alt:"iPad Image")%>
           </li>
         </ul>
       </div>

     </div>
   </div>
 </div>
</section>
