


<section class="slide whiteSlide" data-name="p2" data-title="p2">
  <div class="content" style="background: #f5f5f5 ;">
   <div class="container">
     <div class="top">

       <div class="wrap">
         <ul class="flex">
           <li class="col-12-12 left toLeft">
             <h1 class="huge bold ae-1 p1-color margin-bottom-2 left">What is Equity-Mindedness?</h1>
            </li>
          </ul>

         <ul class="flex reverse margin-top-8">
           <li class="col-5-12 left">
             <h5 class="uppercase p1-color margin-2">definition</h5>
              <h2 class="small ae-1 left normal lightGrey rounded padding-3">
               <span class="p1-bg">Equity-mindedness</span>  is a mode of thinking exhibited by practitioners who are
               who are willing to:
             </h2>
            </li>
           <li class="col-5-12 left">
             <h5 class="uppercase p1-color ae-1 margin-2">characteristics</h5>
             <ul class="grid">
              <li class="col-2-12 right ae-4 Above align-left">
                <i class="far fa-check-circle h1 margin-right-1"></i>
              </li>
              <li class="col-10-12 left ae-5 fromAbove toLeft align-left">
               <h3 class="big ae-5">
                take responsibility for the success of historically underserved and minoritized student groups
               </h3>
              </li>
            </ul>
            <ul class="grid">
              <li class="col-2-12 right ae-6 Above align-left">
                <i class="far fa-check-circle h1 margin-right-1"></i>
              </li>
              <li class="col-10-12 ae-6 Above align-left">
               <h3 class="big ae-6">
                 critically assess their own practices as educators and/or administrators.
               </h3>
              </li>
            </ul>
          </li>
          <%= image_tag("graphics/mind.png", class:"ae-8", style:"position: absolute; right: -10%; bottom:15%; width: 600px !important;", alt:"iPad Image")%>
        </ul>
       </div>

     </div>
   </div>
</section>
