<section class="slide whiteSlide" data-name="p2" data-title="p2">
 <div class="content" style="background: ;">
   <div class="container">
     <div class="wrap top">

       <div class="">
         <h1 class="huge bold text-orange margin-bottom-2 left">What is Equity-Mindedness?</h1>

         <ul class="flex reverse verticalCenter margin-top-8">

           <li class="col-12-12 left toRight">
             <ul class="grid">
               <li class="col-7-12 left ae-4 fromAbove toLeft align-left">
                 <p class="large ae-3 left bold">Equity-minded practitioners <span class="yellow">do not</span>:</p>
                 <h2 class="small padding-4 lightGrey rounded box-shadow ae-5">
                    solely blame students for their lack of success (a deficit-minded approach),
                 </h2>
                 <h2 class="small padding-4 lightGrey rounded box-shadow ae-10">
                    nor do they rely on racial stereotypes or biases to
                   justify or disregard inequitable outcomes.
                  </h2>

               </li>
               <li class="col-5-12 left ae-8 fromAbove toRight align-right">
                  <%= image_tag("graphics/mind.png", class:"", style: "width: 400px;", alt:"iPad Image")%>
               </li>
               <li class="col-12-12 toRight ">

                </li>
              </ul>
           </li>
         </ul>
       </div>

     </div>
   </div>
 </div>
</section>
