<section class="slide whiteSlide" data-name="p3" data-title="p3">
 <div class="content" style="background: ;">
   <div class="container">
     <div class="wrap top">

       <div class="">
         <h1 class="huge bold text-orange margin-bottom-2 left">What is Equity-Mindedness?</h1>
         <ul class="flex reverse verticalCenter margin-top-5">
           <li class="col-12-12 left toRight">
             <ul class="grid">
               <li class="col-7-12 left ae-4 fromAbove toLeft align-left">
                 <p class="large ae-3 left bold">
                   More specifically, equity-minded practitioners exhibit the following characteristics:
                   <span class="yellow">Critically race conscious;</span>
                 </p>
                 <h2 class="small padding-4 lightGrey rounded box-shadow">
                  "Aware that practitioner beliefs, assumptions, knowledge, and approaches are racialized and can have racial consequences, typically to the disadvantage of racially minoritized students;
                 </h2>
                 <h2 class="small padding-4 lightGrey rounded box-shadow">
                  Aware that norms, policies, practices that are taken-for-granted in higher education can perpetuate racial hierarchies and inequalities, even in the absence of explicit racism;
                 </h2>
                 <h2 class="small padding-4 lightGrey rounded box-shadow">
                  Willing to reflect on racialized outcomes and exercise agency to produce racial equity.""
                 </h2>
               </li>
               <li class="col-5-12 left ae-8 fromAbove toRight align-right">
                  <%= image_tag("graphics/mind.png", class:"", style: "width: 400px;", alt:"iPad Image")%>
               </li>
              </ul>
           </li>
         </ul>
       </div>

     </div>
   </div>
 </div>
</section>
