

<section class="slide whiteSlide" data-name="p5" data-title="p5">
  <div class="content">
   <div class="container">
     <div class="top">

       <div class="wrap">
         <ul class="flex">
           <li class="col-12-12 left toLeft">
             <h1 class="huge bold ae-1 p5-color margin-bottom-2 left">What is Equity-Mindedness?</h1>
            </li>
          </ul>

         <ul class="flex reverse margin-top-8">
           <li class="col-5-12 left">
             <h5 class="uppercase p5-color ae-1 margin-2">definition</h5>
              <h2 class="small ae-1 left normal lightGrey rounded padding-2">
               More specifically, equity-minded practitioners exhibit the following
               <span class="p5-bg">critically race conscious</span> characteristics:
             </h2>
            </li>
           <li class="col-5-12 left">
             <h5 class="uppercase p5-color ae-1 margin-2">characteristics</h5>
             <ul class="grid">
              <li class="col-2-12 right ae-4 Above align-left">
                  <i class="far fa-check-circle h1 margin-right-1"></i>
                </li>
                <li class="col-10-12 left ae-5 fromAbove toLeft align-left">
                 <h3 class="big ae-5">
                  "Aware that practitioner beliefs, assumptions, knowledge, and approaches are
                  racialized and can have racial consequences, typically to the disadvantage of
                  racially minoritized students;
                 </h3>
                </li>
             </ul>
             <ul class="grid">
                <li class="col-2-12 right ae-6 Above align-left">
                  <i class="far fa-check-circle h1 margin-right-1"></i>
                </li>
                <li class="col-10-12 ae-6 Above align-left">
                 <h3 class="big ae-6">
                   Aware that norms, policies, practices that are taken-for-granted in higher education
                   can perpetuate racial hierarchies and inequalities, even in the absence of explicit
                   racism;
                 </h3>
                </li>
             </ul>
             <ul class="grid">
                <li class="col-2-12 right ae-8 Above align-left">
                  <i class="far fa-check-circle h1 margin-right-1"></i>
                </li>
                <li class="col-10-12 ae-8 Above align-left">
                 <h3 class="big ae-8">
                   Willing to reflect on racialized outcomes and exercise agency to produce racial equity.""
                 </h3>
                </li>
             </ul>
           </li>
           <%= image_tag("graphics/mind.png", class:"ae-8", style:"position: absolute; right: -10%; bottom:15%; width: 600px !important;", alt:"iPad Image")%>
         </ul>
       </div>
     </div>
   </div>
</section>
