<body class="slides horizontal noPreload animated">


  <!-- Navigation Arrows -->
  <nav class="side left">
    <div class="navigation">
      <div class="cell">
        <span class="prevSlide"><svg class="sideArrow   medium  "><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-left"></use></svg></span>
      </div>
    </div>
  </nav>

  <nav class="side">
    <div class="navigation">
      <div class="cell">
        <span class="nextSlide"><svg class="sideArrow   medium  "><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use></svg></span>
      </div>
    </div>
  </nav>


<!-- Slide #62 -->
<section class="slide teal kenBurns">
  <div class="content">
    <div class="container">
      <div class="wrap center">

        <div class="">
          <ul class="flex noSpaces verticalCenter">
            <li class="col-4-12 left ae-1 left">
              <img class="margin-bottom-3 left" src="<%= image_url("graphics/sections/6/page_1/syllabi/0.png")%>" data-action="" width="" alt="Macbook Image"/>
            </li>
            <li class="col-4-12 left ae-1">
              <img class=" margin-bottom-3" src="<%= image_url("graphics/sections/6/page_1/syllabi/0.png")%>" data-action="" width="" alt="Macbook Image"/>
            </li>
            <li class="col-4-12 right ae-1 ">

              <div class="float-right">
                <img class="margin-bottom-3" src="<%= image_url("graphics/sections/6/page_1/syllabi/0.png")%>" data-action="" width="600" alt="Macbook Image"/>
              </div>


            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(assets/img/background/img-61.jpg)"></div>
</section>
