<body class="slides horizontal noPreload animated">

  <!-- Slide #61 -->
  <section class="slide kenBurns">
    <div class="content">
      <div class="container">
        <div class="margin-top-5">

          <ul class="flex noSpaces verticalCenter">
            <li class="col-12-12 ae-1">
              <%= link_to s6_1_path do %>
                <img class="group" src="<%= image_url("graphics/syl-group.png")%>"  alt="Macbook Image"/>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
