
  <section class="slide whiteSlide" data-name="p1" data-title="p1">
    <div class="content">
      <div class="container">
        <div class="wrap top">

        <div class="fix-12-12">
          <div class="left">
            <h3 class="ae-1 font-weight-bold">Wait, what are…</h3>
            <h1 class="huge ae-2 fromLeft s4-color bold">Tools for Equity-Minded Practice?</h1>
          </div>
          <div class="fix-12-12 left margin-top-5">
            <ul class="grid grid-74 later equal">

            </ul>
            <ul class="grid margin-top-5">
              <li class="col-2-12 col-tablet-1-2 col-phablet-1-1 ae-1 fromCenter">
                <%= image_tag("https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/zoomin-512.png")%>
              </li>
              <li class="col-9-12 col-tablet-1-2 col-phablet-1-1 fromCenter ae-4">
                <h3 class="large">Faculty can use syllabi to demystify the implicit norms and ambiguous processes that characterize college such as how to be a “successful” student.</h3>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </section>
