
  <section class="slide whiteSlide" data-name="p2" data-title="p2">
    <div class="content ">
      <div class="container">
        <div class="wrap top">

        <div class="fix-12-12">
          <div class="left">
            <h3 class="font-weight-bold">Wait, what are…</h3>
            <h1 class="huge fromLeft s4-color bold">Tools for Equity-Minded Practice?</h1>
          </div>
          <div class="fix-12-12 left margin-top-5">
            <ul class="grid grid-74 later equal">
              <li class="col-1-12 fromCenter">
                <a href="#" class="box-74 white">
                  <div class="thumbnail-74">
                    <%= image_tag("https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/zoomin-512.png", class: "padding-1")%>
                  </div>
                </a>
              </li>
            </ul>
            <ul class="grid margin-top-5">
              <li class="col-2-12 ae-1 fromCenter">
                <%= image_tag("https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/check-256.png")%>
              </li>
              <li class="col-9-12 col-tablet-1-2 col-phablet-1-1 fromCenter ae-4">
                <h3 class="large">They can send the message that while students need to work hard in college, faculty are there to support and work in partnership with them.</h3>

              </li>
            </ul>

          </div>

        </div>
      </div>
    </div>
  </section>
