/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require slides/slides
 */


/* Typography **********************************/

.eqmd-bg {
  font-family: 'Nunito', inherit;
  font-size: 175px;
  line-height: 227px;
  opacity: .05;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
@media (max-width: 1023px) {
.eqmd-bg {
    font-size: 140px;
  }
}
.eqmd-logo {
  font-family: 'Nunito', inherit;
  font-size: 28px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
  color: #D95E36;
}
.header-1 {
  font-family: 'Nunito', inherit;
  font-size: 80px;
  letter-spacing: 4px;
  font-weight: bold;
  margin-top: -80px;
}
.sub-header-1 {
  font-family: 'Nunito', inherit;
  font-size: 50px;
  letter-spacing: 2.5px;
  font-weight: bold;
}
p.hero {
  font-family: inherit;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.5px;
}
p.micro, .p.micro, blockquote.micro {
    font-size: 14px;
    line-height: 1.5714;
    margin-bottom: 20px;
    margin-top: 2px;
}

/* Button **********************************/

.button.circle {
    border-radius: 30px;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -1px;
    padding: 15px 35px;
}

/* Form + Form Typography **********************************/

.slides-form label, .slides-form .label {
    display: block;
    font-size: 12px;
    margin-top: 12px;
    margin-bottom: 2px;
}








.menu h3 {
  margin-bottom: 5px;
  font-family: 'Nunito Sans';
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}

.menu p {
  font-family: 'Futura-Bold';
  font-size: 12px;
  line-height: 16px;
  color: #333;
}




 .slides.whiteSlide .navigation li:after {
     background: #3BC0D1;
     box-shadow: 0 0 1px #fff;
 }

 .button.actionButton {
     background: #D95E36;
     box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.05);
 }
 .white .actionButton svg {
    fill: #fff !important;
}

 @font-face {
     font-family: 'Futura-Bold';
     src: font-url('Futura-Bold.ttf');
     src: font-url('Futura-Bold') format('truetype');
   }

h1, h2, h3, h4, h5, h6 {font-family: 'Futura-Bold';}

 .panel.black {
   background-color: #151515 !important;
   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07);
 }



.text-pink {color: #FF33A1;}
.text-dark-green {color: #00778B;}
.text-light-purple {color: #B133FF;}
.text-dark-purple {color: #5930FF;}
.bg-seafoam {background: #DDFBFF !important;}
.bg-light-purple {background: #9686CA;}
.bg-bluegreen { background: #3BC0D1;}
.bg-mudgreen { background: #3E4F51;}
.bg-softpink { background: #FF698E;}
.bg-brown { background: #B3533F;}
.cue-red {color: #D95E36;}

.text-brightorange {color: #FF3333;}
.text-brightpurple {color: #CA33FF;}
.text-darkpurple {color: #8133FF;}
.text-brightpink {color: #FF33A1;}
.text-lightgrey {color: #B7B7B7;}

.bg-brightorange {background: #FF3333 !important;}
.bg-brightpurple {background: #CA33FF !important;}
.bg-darkpurple {background: #8133FF !important;}
.bg-brightpink {background: #FF33A1 !important;}
.bg-lightgrey {background: #F3F3F3 !important;}


/* Step 3 Colors */
.title-1 {color: #F07A00;}
.title-2 {color: #F2593E;}
.title-3 {color: #EE2020;}
.title-4 {color: #F82068;}
.title-5 {color: #E9169B;}

.quote-1 {color: #00778B;}
.quote-2 {color: #004C59;}


body, p {font-family: 'Arial', 'Helvetica'; font-weight: 400;}

p {font-size: 20px; line-height: 28px;}


.chat-bubble {
  padding: 15px 30px;
  border-radius: 40px;
  display: inline-block;
  line-height: 30px;
  font-size: 1.2em;
  font-family: 'Nunito Sans', 'Helvetica';
  font-weight: 700;
}


body {

}
