<section class="slide" data-name="page-1-analyze" data-title="page-1-analyze">
  <div class="content" style="background: #5DA5B1;">
    <div class="container">
      <div class="wrap top">

        <div class="flex">
          <ul class="grid">
            <li class="col-6-12 left ae-1 fromRight">
              <div class="" style="position: relative;">
                <img class="" style="" data-action="" src="<%= image_url("graphics/sections/6/center-placeholder.png")%>" alt="iPad Image"/>
                <a href="#page-1-yellow-tag">
                  <img class="" style="position: absolute; top: 50px; left: -50px;" width="96" data-action="" src="<%= image_url("graphics/sections/6/yellow-tag.png")%>" alt="iPad Image"/>
                </a>
                <a href="#">
                  <img class="" style="position: absolute; bottom: -40px; right: -30px;" width="185" data-action="" src="<%= image_url("graphics/sections/6/nametag.png")%>" alt="iPad Image"/>
                </a>
              </div>

            </li>
            <li class="col-6-12 left cell-32">
              <br/><br/><br/>
              <h1 class="huge display-1 ae-2 bold">Click on a tag</h1>
              <h2 class="huge display-1 ae-3 medium">To begin analyzing this syllabus</h2>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(<%= image_url("graphics/sections/6/background.png")%>);"></div>
</section>
