<section class="slide" data-name="p0" data-title="Intro">
  <div class="content">
    <div class="container">
      <div class="wrap">
        <div class="flex">
          <ul class="grid">
            <li class="col-6-12 left fromRight">
              <div class="" style="position: relative;">
                <img class="" style="" data-action="" src="<%= image_url("graphics/sections/6/page_4/syllabi/0.png")%>" alt="iPad Image"/>
                <a href="#p1">
                  <img class="" style="position: absolute; top: 515px; right: -45px;" width="125" data-action="" src="<%= image_url("graphics/sections/6/page_4/tags/1.png")%>" alt="iPad Image"/>
                </a>
                <a href="#">
                  <img class="" style="position: absolute; bottom: -50px; right: -130px;" width="255" data-action="" src="<%= image_url("graphics/sections/6/nametag.png")%>" alt="iPad Image"/>
                </a>
              </div>
            </li>
            <li class="col-6-12 left cell-32">
              <br/><br/><br/>
              <h5 class="ae-1 uppercase semiBold margin-bottom-2 text-yellow">
               <i class="far fa-stopwatch margin-right-1"></i>  5-minute exercise
             </h5>
              <h1 class="big display-1 ae-2">Click on a tag.</h1>
              <h2 class=" display-2 ae-3 medium">To begin analyzing this syllabus</h2>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(<%= image_url("graphics/sections/6/background.png")%>);"></div>
</section>
