

<section class="slide"  data-name="p1" data-title="p1">
  <div class="content">
   <div class="container">
     <div class="wrap top">
      <ul class="flex left">
         <li class="col-12-12">
           <h3 class="font-weight-bold opacity-3 ae-1">Deeper Understanding</h3>
           <h1 class="big fromLeft normal ae-2">How Syllabi Serve</h1>
         </li>
       </ul>
       <ul class="grid left">
         <li class="col-4-12 ae-2"><%= image_tag("graphics/syllabus.svg", class:"", alt:"iPad Image")%></li>
         <li class="col-8-12">
           <h3 class="big bold margin-bottom-2 ae-3">Although syllabi are documents used primarily by faculty and students, they often contain information for a wider range of higher education audiences.</h3>
         </li>
       </ul>
     </div>
   </div>
 </div>
</section>
