<section class="slide whiteSlide" data-name="p3" data-title="p3">
  <div class="content" >
    <div class="container">
      <div class="wrap top">
        <div class="">
          <div class="left">
            <h3 class="text-cueRED ae-1 font-weight-bold">Deeper Understanding</h3>
            <h1 class="huge ae-2 fromLeft text-purple bold">How Syllabi Serve</h1>
          </div>
          <ul class="flex">
            <li class="col-3-10">
              <img class="ae-4" width="600" src="<%= image_url("graphics/syllabus.svg") %>"/>
            </li>
            <li class="col-7-10 left">
              <ul class="flex margin-bottom-4">
                <li class="left">
                  <h3 class="ae-3 bold text-teal fix-6-12">
                    Although syllabi are documents used primarily by faculty and students, the often contain information for a wider range of higher education audiences.
                  </h3>
                </li>
              </ul>

              <ul class="flex margin-bottom-4">
                <li class="col-1-12 ae-4">
                  <i class="far fa-university h2 text-gray"></i>
                </li>
                <li class="col-5-12 ae-4">
                  <h3 class="text-gold upppercase bold">THE INSTITUTION</h3>
                  <p class="tiny opacity-8">The institution can require faculty to include content in their syllabi that meets accreditation standards, makes students aware of institutional policies, and promotes college values and beliefs.</p>
                </li>
                <li class="col-5-12 ae-5">
                  <h5 class="text-gray margin-bottom-1">EXAMPLE</h5>
                  <p class="tiny opacity-8">"[Name of college] Educational Priorities and Outcomes: The objectives in this course address the Knowledge, Inquiry, Reasoning, Vocation and Communication ouctomes and may address others."</p>
                </li>
              </ul>


              <ul class="flex margin-bottom-4">
                <li class="col-1-12 ae-4">
                  <i class="far fa-university h2 text-gray"></i>
                </li>
                <li class="col-5-12 ae-4">
                  <h3 class="text-gold upppercase bold">ACADEMIC DEPARTMENTS</h3>
                  <p class="tiny opacity-8">Academic departments can require faculty to use a standard syllabus and incorporate departmental values and beliefs. Academic departments also have their own expectations of what constitutes legitimate instruction, knowledge, and demonstrations of learning.</p>
                </li>
                <li class="col-5-12 ae-5">
                  <h5 class="text-gray margin-bottom-1">EXAMPLE</h5>
                  <p class="tiny opacity-8">"This course builds on [other course], connecting students' knowledge about paradigms and how to think about inquiry, and supporting students to align their methods in the field with a particular research tradition or paradigm."</p>
                </li>
              </ul>

            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
