
<section class="slide whiteSlide">
  <div class="content" >
    <div class="container">
      <div class="wrap">

        <div class="fix-12-12 left">
          <h3 class="">Get Reaqcuainted</h3>
          <h1 class="huge">How Syllabi Serve</h1>
        </div>

        <div class="fix-12-12">

          <ul class="flex verticalCenter">

            <li class="col-4-12">
              <img class="ae-4" width="600" src="<%= image_url("graphics/syllabus.svg") %>"/>
            </li>
            <li class="col-8-12 left">
              <p class=""><span class="opacity-8">Although syllabi are documents used primarily by faculty and students, the often contain information for a wider range of higher education audiences.</span></p>

              <ul class="flex grid-61 later" >
                <li class="col-1-12">
                  <i class="material-icons">panorama</i>
                </li>
                <li class="col-5-12">
                  <h3>THE INSTITUTION</h3>
                  <p class="tiny opacity-6">The institution can require faculty to include content in their syllabi that meets accreditation standards, makes students aware of institutional policies, and promotes college values and beliefs.</p>
                </li>
                <li class="col-5-12">
                  <h6>EXAMPLE</h6>
                  <p class="tiny opacity-6">"[Name of college] Educational Priorities and Outcomes: The objectives in this course address the Knowledge, Inquiry, Reasoning, Vocation and Communication ouctomes and may address others."</p>
                </li>
              </ul>
              <ul class="flex grid-61 later">
                <li class="col-1-12">
                  <i class="material-icons">panorama</i>
                </li>
                <li class="col-5-12">
                  <h3>ACADEMIC DEPARTMENTS</h3>
                  <p class="tiny opacity-6">The institution can require faculty to include content in their syllabi that meets accreditation standards, makes students aware of institutional policies, and promotes college values and beliefs.</p>
                </li>
                <li class="col-5-12 ">
                  <h6>EXAMPLE</h6>
                  <p class="tiny opacity-6">"[Name of college] Educational Priorities and Outcomes: The objectives in this course address the Knowledge, Inquiry, Reasoning, Vocation and Communication ouctomes and may address others."</p>
                </li>
              </ul>
              <ul class="flex grid-61 later">
                <li class="col-1-12 ae-4">
                  <i class="material-icons">panorama</i>
                </li>
                <li class="col-5-12 ae-4">
                  <h3>FACULTY</h3>
                  <p class="tiny opacity-6">The institution can require faculty to include content in their syllabi that meets accreditation standards, makes students aware of institutional policies, and promotes college values and beliefs.</p>
                </li>
                <li class="col-5-12 ae-5">
                  <h6>EXAMPLE</h6>
                  <p class="tiny opacity-6">"[Name of college] Educational Priorities and Outcomes: The objectives in this course address the Knowledge, Inquiry, Reasoning, Vocation and Communication ouctomes and may address others."</p>
                </li>
              </ul>
            </li>
          </ul>

          <%= link_to "Next", s5_3_path, class: " circle button blue gradient ae-3 fromCenter cropLeft"  %>
        </div>

      </div>
    </div>
  </div>
</section>
