<section class="slide"  data-name="p4" data-title="p4">
<div class="content">
 <div class="container">
   <div class="wrap top">
    <ul class="flex left">
       <li class="col-12-12">
         <h3 class="font-weight-bold opacity-3">Deeper Understanding</h3>
         <h1 class="big fromLeft normal">How Syllabi Serve</h1>
       </li>
     </ul>
     <ul class="grid left">
       <li class="col-4-12"><%= image_tag("graphics/syllabus.svg", class:"", alt:"iPad Image")%></li>
       <li class="col-8-12">
           <h3 class="big bold margin-bottom-5">Although syllabi are documents used primarily by faculty and students, the often contain information for a wider range of higher education audiences.</h3>
           <ul class="flex margin-bottom-4">
             <li class="col-1-12">
               <i class="far fa-university h2 text-gray"></i>
             </li>
             <li class="col-6-12">
               <h3 class="text-gold upppercase bold">THE INSTITUTION</h3>
               <p class="tiny opacity-8">The institution can require faculty to include content in their syllabi that meets accreditation standards, makes students aware of institutional policies, and promotes college values and beliefs.</p>
             </li>
             <li class="col-5-12">
               <h5 class="text-gray margin-bottom-1">EXAMPLE</h5>
               <p class="tiny opacity-8">"[Name of college] Educational Priorities and Outcomes: The objectives in this course address the Knowledge, Inquiry, Reasoning, Vocation and Communication ouctomes and may address others."</p>
             </li>
           </ul>

           <ul class="flex margin-bottom-4">
             <li class="col-1-12">
               <i class="far fa-university h2 text-gray"></i>
             </li>
             <li class="col-6-12">
               <h3 class="text-gold upppercase bold">ACADEMIC DEPARTMENTS</h3>
               <p class="tiny opacity-8">Academic departments can require faculty to use a standard syllabus and incorporate departmental values and beliefs. Academic departments also have their own expectations of what constitutes legitimate instruction, knowledge, and demonstrations of learning.</p>
             </li>
             <li class="col-5-12">
               <h5 class="text-gray margin-bottom-1">EXAMPLE</h5>
               <p class="tiny opacity-8">"This course builds on [other course], connecting students' knowledge about paradigms and how to think about inquiry, and supporting students to align their methods in the field with a particular research tradition or paradigm."</p>
             </li>
           </ul>

            <ul class="flex margin-bottom-4">
              <li class="col-1-12 ae-4">
                <i class="far fa-university h2 text-gray"></i>
              </li>
              <li class="col-6-12 ae-4">
                <h3 class="text-gold upppercase bold">FACULTY</h3>
                <p class="tiny opacity-8">Faculty create new or use existing syllabi to communicate the structure of their classrooms, including their rules/policies; the realtionship they expect to have with students; and what they/their acadmic field deems legitimate knowledge and forms of instruction.</p>
              </li>
              <li class="col-5-12 ae-5">
                <h5 class="text-gray margin-bottom-1">EXAMPLE</h5>
                <p class="tiny opacity-8">"We will read more about [growth mindset] for our first essay of the semester, but essentially a person with a growth mindset believes they can learn (even when it's difficult) and that the key to learning is putting in effort. I will do my best to encourage a growth mindset in our class, and I hope you will do the same."</p>
              </li>
            </ul>

          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
