<!DOCTYPE html>
<html>
  <head>
    <title>Cue</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://use.typekit.net/qxb8htk.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto%7cRubik:300,400" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body data-mobile-nav-trigger-alignment="right" data-mobile-nav-align="left" data-mobile-nav-style="modern" data-mobile-nav-shceme="gray" data-mobile-header-scheme="gray" data-mobile-nav-breakpoint="1199">
  	<div id="wrap">
      <main id="content" class="content">
        <%= yield %>
        <%= javascript_include_tag 'application' %>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCs4APPDpT3CRGCgk3Cmv9xBvEK5Lq3HGo"></script>
        <script>
          var s = skrollr.init();
        </script>
        <script type="text/javascript">
          window.sr = ScrollReveal();
          sr.reveal('.reveal');
          const reveal = {
            origin : 'left',
            delay    : 200,
            distance : '120px',
            easing   : 'ease-in-out',
          };

        </script>
  		</main><!-- /#content.content -->
    </div><!-- /#wrap -->
  </body>
  <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
</html>
